Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Test local installer in pcbc workflows
  .github/workflows/e2e.yml
  .github/workflows/wasm.yml
Due: none

Simplify local pcbc workflow install
  .github/workflows/e2e.yml
  .github/workflows/wasm.yml
  install.sh
Due: none

Use pcb shim for local workflow tests
  .github/workflows/e2e.yml
  .github/workflows/wasm.yml
  CHANGELOG.md
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
  crates/pcb/src/main.rs
  install.sh
Due: cargo-fmt, clippy

Trim stdlib discovery tests
  CHANGELOG.md
  crates/pcb-zen-core/src/stdlib.rs
Due: cargo-fmt, clippy

Keep workspace stdlib path stable
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcbc/src/release.rs
Due: cargo-fmt, clippy

Fix stdlib artifacts in CI workflows
  .github/workflows/build-perf.yml
  .github/workflows/wasm.yml
Due: none

Run build perf through local pcb shim
  .github/workflows/build-perf.yml
  bin/pcb-build-perf
Due: none

Compare build perf against nightly
  .github/workflows/build-perf.yml
Due: none

Find stdlib from cargo test binaries
  crates/pcb-zen-core/src/stdlib.rs
Due: cargo-fmt, clippy

Cache nightly release metadata
  CHANGELOG.md
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

Benchmark build perf against merge base
  .github/workflows/build-perf.yml
Due: none

Don't embed `lib/std` in pcbc (#885)
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/wasm.yml
  CHANGELOG.md
  Cargo.lock
  bin/pcb-build-perf
  crates/pcb-docgen/README.md
  crates/pcb-zen-core/Cargo.toml
  crates/pcb-zen-core/src/embedded_stdlib.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/stdlib.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/component_footprint_inference.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen-wasm/README.md
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/cache_index.rs
  crates/pcb/src/main.rs
  crates/pcbc/src/release.rs
  install.sh
Due: cargo-fmt, clippy

docs: simplify README
  README.md
Due: none

Add third-party notices
  README.md
  THIRD_PARTY_NOTICES.md
Due: none

Add KiCad stdlib path aliases
  crates/pcb-zen-core/src/load_spec.rs
  crates/pcb-zen-core/tests/file.rs
Due: cargo-fmt, clippy

Remove global KiCad footprint lookup
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-sch/src/kicad_netlist.rs
Due: ty, cargo-fmt, clippy

Remove layout-time model embedding
  Cargo.lock
  crates/pcb-layout/Cargo.toml
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/model_embed_discovery.rs
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/moved.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
Due: cargo-fmt, clippy

Clean up KiCad stdlib aliases
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-zen-core/src/load_spec.rs
Due: ty, cargo-fmt, clippy

Derive WorkspaceConfig default
  crates/pcb-zen-core/src/config.rs
Due: cargo-fmt, clippy

Clean up KiCad STEP generator typing
  lib/tools/kicad-step-gen/generate_pinheader_step.py
  lib/tools/kicad-step-gen/generate_pinsocket_step.py
Due: ty

Simplify interface template tests
  crates/pcb-zen/tests/interface_templates.rs
Due: cargo-fmt, clippy

Ignore bundled KiCad library dependencies
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/package_resolver/manifest.rs
Due: cargo-fmt, clippy

Bundle KiCad connector compatibility assets
  THIRD_PARTY_NOTICES.md
  lib/std/kicad-footprints/Connector.pretty/Tag-Connect_TC2030-IDC-FP_2x03_P1.27mm_Vertical.kicad_mod
  lib/std/kicad-footprints/Connector.pretty/Tag-Connect_TC2030-IDC-NL_2x03_P1.27mm_Vertical.kicad_mod
  lib/std/kicad-footprints/Connector.pretty/Tag-Connect_TC2050-IDC-NL_2x05_P1.27mm_Vertical_with_bottom_clip.kicad_mod
  lib/std/kicad-footprints/Connector_JST.pretty/JST_GH_BM02B-GHS-TBT_1x02-1MP_P1.25mm_Vertical.kicad_mod
  lib/std/kicad-footprints/Connector_JST.pretty/JST_GH_BM04B-GHS-TBT_1x04-1MP_P1.25mm_Vertical.kicad_mod
  lib/std/kicad-footprints/Connector_USB.pretty/USB_C_Receptacle_GCT_USB4105-xx-A_16P_TopMnt_Horizontal.kicad_mod
  lib/std/kicad-symbols/Connector.kicad_symdir/Conn_ARM_JTAG_SWD_10.kicad_sym
  lib/std/kicad-symbols/Connector.kicad_symdir/Conn_ARM_SWD_TagConnect_TC2030-NL.kicad_sym
  lib/std/kicad-symbols/Connector.kicad_symdir/Conn_ARM_SWD_TagConnect_TC2030.kicad_sym
  lib/std/kicad-symbols/Connector.kicad_symdir/TC2030.kicad_sym
  lib/std/kicad-symbols/Connector.kicad_symdir/USB_C_Receptacle_USB2.0_16P.kicad_sym
  lib/std/kicad-symbols/Connector_Generic_MountingPin.kicad_symdir/Conn_01x02_MountingPin.kicad_sym
  lib/std/kicad-symbols/Connector_Generic_MountingPin.kicad_symdir/Conn_01x04_MountingPin.kicad_sym
Due: none

Resolve KiCad FPIDs to bundled stdlib footprints
  crates/pcb-zen-core/src/lang/component.rs
Due: cargo-fmt, clippy

Normalize legacy KiCad library dependencies
  crates/pcb-diode-api/src/kicad_symbols/mod.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/package_resolver/manifest.rs
Due: cargo-fmt, clippy

Bundle Governor KiCad compatibility assets
  THIRD_PARTY_NOTICES.md
  lib/std/kicad-footprints/Button_Switch_SMD.pretty/SW_Push_1P1T-SH_NO_CK_KMR2xxG.kicad_mod
  lib/std/kicad-footprints/Oscillator.pretty/Oscillator_SMD_SeikoEpson_SG210-4Pin_2.5x2.0mm.kicad_mod
  lib/std/kicad-footprints/Package_DFN_QFN.pretty/QFN-56-1EP_7x7mm_P0.4mm_EP3.2x3.2mm.kicad_mod
  lib/std/kicad-footprints/Package_SON.pretty/USON-10_2.5x1.0mm_P0.5mm.kicad_mod
  lib/std/kicad-footprints/Package_SON.pretty/WSON-6-1EP_2x2mm_P0.65mm_EP1x1.6mm.kicad_mod
  lib/std/kicad-footprints/Package_SON.pretty/Winbond_USON-8-1EP_3x2mm_P0.5mm_EP0.2x1.6mm.kicad_mod
  lib/std/kicad-symbols/MCU_RaspberryPi.kicad_symdir/RP2040.kicad_sym
  lib/std/kicad-symbols/Memory_Flash.kicad_symdir/W25Q16JVSS.kicad_sym
  lib/std/kicad-symbols/Memory_Flash.kicad_symdir/W25Q32JVSS.kicad_sym
  lib/std/kicad-symbols/Oscillator.kicad_symdir/XO32.kicad_sym
  lib/std/kicad-symbols/Power_Protection.kicad_symdir/TPD4E05U06DQA.kicad_sym
  lib/std/kicad-symbols/Power_Protection.kicad_symdir/TPD4EUSB30.kicad_sym
  lib/std/kicad-symbols/Regulator_Linear.kicad_symdir/TLV75801PDRV.kicad_sym
  lib/std/kicad-symbols/Switch.kicad_symdir/SW_Push.kicad_sym
  lib/std/kicad-symbols/power.kicad_symdir/+10V.kicad_sym
  lib/std/kicad-symbols/power.kicad_symdir/+3V3.kicad_sym
  lib/std/kicad-symbols/power.kicad_symdir/+5V.kicad_sym
Due: none

Release pcb/v0.2.2
  Cargo.lock
  crates/pcb/Cargo.toml
Due: none

Restore changelog entries
  CHANGELOG.md
Due: none

Restore 2012 crystal footprint
  CHANGELOG.md
  lib/std/generics/Crystal.zen
  lib/std/kicad-footprints/Crystal.pretty/Crystal_SMD_2012-2Pin_2.0x1.2mm.kicad_mod
Due: none

Use small KiCad symbols for stdlib generics
  CHANGELOG.md
  crates/pcbc/tests/snapshots/release__publish_full.snap
  crates/pcbc/tests/snapshots/release__publish_source_only.snap
  crates/pcbc/tests/snapshots/release__publish_with_description.snap
  crates/pcbc/tests/snapshots/release__publish_with_version.snap
  lib/std/generics/Capacitor.zen
  lib/std/generics/Crystal.zen
  lib/std/generics/FerriteBead.zen
  lib/std/generics/Inductor.zen
  lib/std/generics/Rectifier.zen
  lib/std/generics/Resistor.zen
  lib/std/generics/TestPoint.zen
  lib/std/generics/Tvs.zen
  lib/std/generics/Zener.zen
  lib/std/kicad-symbols/Connector.kicad_symdir/TestPoint_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/C_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/C_Small_US.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/C_US.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/Crystal_GND24_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/Crystal_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Schottky_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Schottky_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Schottky_Small_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Small_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_TVS_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_TVS_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_TVS_Small_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Zener_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Zener_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/D_Zener_Small_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/FerriteBead_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/LED.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/LED_Filled.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/LED_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/L_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/R_Small.kicad_sym
  lib/std/kicad-symbols/Device.kicad_symdir/R_Small_US.kicad_sym
Due: none

Add color variants for stdlib LED symbols
  CHANGELOG.md
  crates/pcbc/tests/snapshots/release__publish_full.snap
  crates/pcbc/tests/snapshots/release__publish_source_only.snap
  crates/pcbc/tests/snapshots/release__publish_with_description.snap
  crates/pcbc/tests/snapshots/release__publish_with_version.snap
  lib/std/generics/Led.zen
  lib/std/kicad-symbols/Device.kicad_symdir/LED_Small_Filled.kicad_sym
Due: none

fix: preserve borrowed net names in io templates
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/param_decl.rs
  crates/pcb-zen-core/tests/name_inference.rs
Due: cargo-fmt, clippy

fix: preserve borrowed net names in io templates (#888)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/param_decl.rs
  crates/pcb-zen-core/tests/name_inference.rs
Due: cargo-fmt, clippy

Release v0.4.0
  CHANGELOG.md
Due: none
