Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Clean up changelog
  CHANGELOG.md
Due: none

Dedup search code, data structures
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/mcp.rs
  crates/pcb-diode-api/src/registry/mod.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
Due: cargo-fmt, clippy

Update skill, MCP tool descriptions
  .agents/skills/pcb/SKILL.md
  crates/pcb-diode-api/src/mcp.rs
Due: cargo-fmt, clippy

Dedup bom code
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/mcp.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
Due: cargo-fmt, clippy

Add availability and pricing info to `pcb search` (#440)
  .agents/skills/pcb/SKILL.md
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/mcp.rs
  crates/pcb-diode-api/src/registry/mod.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
Due: cargo-fmt, clippy

fix symbol inheritance
  crates/pcb-eda/src/kicad/symbol_library.rs
Due: cargo-fmt, clippy

Use common offers -> Availability code in search, bom
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Use common offers -> Availability code in search, bom (#441)
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

fix net id collision
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

Always show raised sync diagnostics on `pcb layout`
  .gitignore
  CHANGELOG.md
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb/src/drc.rs
  crates/pcb/src/layout.rs
Due: ty, cargo-fmt, clippy

update tests
  .pre-commit-config.yaml
  Cargo.lock
  crates/pcb-sch/Cargo.toml
  crates/pcb-sch/src/lib.rs
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen-core/tests/snapshots/input__config_types.snap
  crates/pcb-zen-core/tests/snapshots/input__optional_io_config.snap
  crates/pcb-zen-core/tests/snapshots/spice_model__model_parsing.snap
  crates/pcb-zen/tests/input.rs
  crates/pcb-zen/tests/snapshots/input__correct_usage_with_explicit_net_access.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_optional_inputs_return_none.snap
  crates/pcb-zen/tests/snapshots/load_diagnostics__snapshot_cyclic_load_error.snap
  crates/pcb-zen/tests/snapshots/test__net_passing.snap
  crates/pcb/tests/snapshots/netlist__netlist_hierarchical_board_with_positions.snap
  crates/pcb/tests/snapshots/netlist__netlist_mixed_position_formats.snap
  crates/pcb/tests/snapshots/netlist__netlist_simple_board_with_positions.snap
  crates/pcb/tests/snapshots/release__case_insensitive_tag.snap
  crates/pcb/tests/snapshots/release__release_basic.snap
  crates/pcb/tests/snapshots/release__release_full.snap
  crates/pcb/tests/snapshots/release__release_with_description.snap
  crates/pcb/tests/snapshots/release__release_with_file.snap
  crates/pcb/tests/snapshots/release__release_with_git.snap
  test-workspaces/with-pcb-toml/pcb.sum
Due: cargo-fmt, clippy

EvalConfig
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/spice_model.rs
  crates/pcb-zen-core/src/lang/symbol.rs
Due: cargo-fmt, clippy

edge case fixes
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-zen-core/src/lang/eval.rs
Due: cargo-fmt, clippy

Clean up diagnostics handling
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb/src/drc.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Add perf tracking
  .github/workflows/build-perf.yml
  bin/pcb-build-perf
Due: none

tweak workflow
  .github/workflows/build-perf.yml
Due: none

fix cargo cache
  .github/workflows/build-perf.yml
Due: none

improve tracing
  .github/workflows/build-perf.yml
  Cargo.lock
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen/Cargo.toml
  crates/pcb-zen/src/resolve_v2.rs
  crates/pcb/src/build.rs
  crates/pcb/src/resolve.rs
Due: cargo-fmt, clippy

Address PR comments
  crates/pcb-kicad/src/lib.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb/src/drc.rs
Due: cargo-fmt, clippy

dependency resolution tracing and optim
  .github/workflows/build-perf.yml
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/resolve_v2.rs
Due: cargo-fmt, clippy

Always show raised sync diagnostics on `pcb layout` (#442)
  .gitignore
  CHANGELOG.md
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb/src/drc.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/release.rs
Due: ty, cargo-fmt, clippy

Add codemoder MCP tool, `pcb mcp eval`
  .agents/skills/pcb/SKILL.md
  CHANGELOG.md
  Cargo.lock
  crates/pcb-mcp/Cargo.toml
  crates/pcb-mcp/src/codemoder.rs
  crates/pcb-mcp/src/lib.rs
  crates/pcb/src/mcp.rs
Due: cargo-fmt, clippy

Fix error message escaping
  crates/pcb-mcp/src/codemoder.rs
Due: cargo-fmt, clippy

Add codemoder MCP tool, `pcb mcp eval` (#443)
  .agents/skills/pcb/SKILL.md
  CHANGELOG.md
  Cargo.lock
  crates/pcb-mcp/Cargo.toml
  crates/pcb-mcp/src/codemoder.rs
  crates/pcb-mcp/src/lib.rs
  crates/pcb/src/mcp.rs
Due: cargo-fmt, clippy

`pcb bom` now accepts a directory path
  CHANGELOG.md
  crates/pcb/src/bom.rs
  crates/pcb/tests/bom.rs
  crates/pcb/tests/snapshots/bom__bom_module_dnp_json.snap
Due: cargo-fmt, clippy

Consolidate BOM availability types into single unified model
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/mcp.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
  crates/pcb-ipc2581-tools/src/accessors/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom_edit.rs
  crates/pcb-sch/src/bom/availability.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/bom/mod.rs
  crates/pcb-sch/src/bom_table.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb/src/bom.rs
Due: cargo-fmt, clippy

Improve lock contention
  bin/analyze-profile
  crates/pcb-zen-core/src/lang/eval.rs
Due: cargo-fmt, clippy

Remove needless module tree copy and file i/o
  crates/pcb-docgen/src/signature.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb/src/build.rs
  crates/pcb/src/test.rs
Due: cargo-fmt, clippy

More lock contention fixes
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Use mimalloc by default
  Cargo.lock
  Cargo.toml
  crates/pcb/Cargo.toml
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

use cache for positions
  crates/pcb-zen-core/src/lang/context.rs
Due: cargo-fmt, clippy

More micro-optimizations
  bin/analyze-profile
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

LSP improvements
  crates/pcb-starlark-lsp/src/server.rs
  crates/pcb-starlark-lsp/src/test.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Add SD
  .github/workflows/build-perf.yml
Due: none

more runs
  .github/workflows/build-perf.yml
Due: none

Split up EvalSessionInner locks
  crates/pcb-zen-core/src/lang/eval.rs
Due: cargo-fmt, clippy

Migrate tests to v2, fix race condition in populating cache
  crates/pcb-diode-api/src/registry/embeddings.rs
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/resolve_v2.rs
  crates/pcb/tests/bom.rs
  crates/pcb/tests/snapshots/bom__bom_capacitors_json.snap
  crates/pcb/tests/snapshots/bom__bom_capacitors_table.snap
  crates/pcb/tests/snapshots/bom__bom_default.snap
  crates/pcb/tests/snapshots/bom__bom_dnp_json.snap
  crates/pcb/tests/snapshots/bom__bom_json.snap
  crates/pcb/tests/snapshots/bom__bom_kicad_fallback_json.snap
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_json.snap
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_table.snap
  crates/pcb/tests/snapshots/bom__bom_skip_bom_json.snap
  crates/pcb/tests/snapshots/bom__bom_skip_bom_table.snap
  crates/pcb/tests/snapshots/bom__bom_table.snap
Due: cargo-fmt, clippy

Remove unused allocators
  Cargo.lock
  Cargo.toml
  crates/pcb/Cargo.toml
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

sqlite connection pool
  Cargo.lock
  Cargo.toml
  crates/pcb-zen/Cargo.toml
  crates/pcb-zen/src/cache_index.rs
Due: cargo-fmt, clippy
