Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

update publish snapshots for new spice arg format
  crates/pcbc/tests/snapshots/release__publish_full.snap
  crates/pcbc/tests/snapshots/release__publish_source_only.snap
  crates/pcbc/tests/snapshots/release__publish_with_description.snap
  crates/pcbc/tests/snapshots/release__publish_with_version.snap
Due: none

doc: spec.mdx update for spice PhysicalValue function
  docs/pages/spec.mdx
Due: none

SpiceModel accepts PhysicalValue directly in args
  crates/pcb-zen-core/src/lang/spice_model.rs
  crates/pcb-zen/tests/snapshots/spice_model__snapshot_sim_divider_physical_value.snap
  crates/pcb-zen/tests/spice_model.rs
  docs/pages/spec.mdx
  lib/std/generics/Capacitor.zen
  lib/std/generics/FerriteBead.zen
  lib/std/generics/Inductor.zen
  lib/std/generics/Resistor.zen
  lib/std/generics/Thermistor.zen
Due: cargo-fmt, clippy

fix spice generation for unit like Mohms
  crates/pcb-sch/src/physical.rs
  lib/std/generics/Capacitor.zen
  lib/std/generics/FerriteBead.zen
  lib/std/generics/Inductor.zen
  lib/std/generics/Resistor.zen
  lib/std/generics/Thermistor.zen
Due: cargo-fmt, clippy

bump starlark-rust to deba1116 for FerriteBead L/Cp typing fix
  Cargo.lock
  Cargo.toml
Due: none

Skip private fixtures on fork PRs
  .github/workflows/e2e.yml
Due: none

Refine technical documentation
  README.md
  crates/gerberx2/README.md
  crates/ipc2581/README.md
  crates/pcb-diode-api/README.md
  crates/pcb-docgen/README.md
  crates/pcb-eda/README.md
  crates/pcb-ipc2581-tools/README.md
  crates/pcb-layout/README.md
  crates/pcb-sch/README.md
  crates/pcb-ui/README.md
  crates/pcb-ui/examples/demo.rs
  crates/pcb-ui/src/lib.rs
  crates/pcb-zen-core/Cargo.toml
  crates/pcb-zen-wasm/Cargo.toml
  crates/pcb-zen-wasm/README.md
  crates/pcbc/src/import/README.md
  crates/rectify/README.md
  docs/pages/antenna_matching_network.mdx
  docs/pages/docs_bringup.mdx
  docs/pages/docs_readme.mdx
  docs/pages/packages.mdx
  docs/pages/quickstart.mdx
  docs/pages/registry.mdx
  docs/pages/spec.mdx
  docs/pages/testing.mdx
  docs/pages/vscode.mdx
  lib/tools/kicad-step-gen/README.md
Due: cargo-fmt, clippy

Ignore Amp resume timestamp
  .gitignore
Due: none

Set up KiCad and nextest in orbs
  .agents/setup
Due: none

Require linear Git history
  AGENTS.md
Due: none

Fix KiCad AppImage orb setup
  .agents/setup
Due: none

Expand Murata house capacitor coverage
  CHANGELOG.md
  lib/std/bom/helpers.zen
  lib/std/bom/match_generics.zen
  lib/std/generics/spice/murata_mlcc/GCM033R71A222KA03.mod
  lib/std/generics/spice/murata_mlcc/GCM155C71A474KE36.mod
  lib/std/generics/spice/murata_mlcc/GRT155R71A474KE01.mod
  lib/std/generics/spice/murata_mlcc/GRT188R61H225KE13.mod
Due: none

Fix ty checks for standalone scripts
  bin/kicad_ipc_gerber_svg_diff.py
  lib/tools/kicad-step-gen/generate_pinheader_step.py
  lib/tools/kicad-step-gen/generate_pinsocket_step.py
Due: ty

Release v0.4.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Sync skills from diode 7a1a26d
  skills/datasheet-reader/SKILL.md
  skills/librarian/SKILL.md
Due: none

Warn for unmatched house inductor packages
  lib/std/bom/match_generics.zen
Due: none

Support page-range datasheet scans
  CHANGELOG.md
  crates/pcb-diode-api/src/datasheet.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcbc/src/lsp.rs
Due: cargo-fmt, clippy

Fix strict BOM API request
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
Due: cargo-fmt, clippy

Handle UK strict BOM offers
  crates/pcb-diode-api/src/bom.rs
Due: cargo-fmt, clippy

Make schematic position edits atomic
  CHANGELOG.md
  crates/pcb-sch/src/position.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Remove position edit wrappers
  CHANGELOG.md
  crates/pcb-sch/src/position.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

ENG-357 Make schematic position edits atomic (#943)
  CHANGELOG.md
  crates/pcb-sch/src/position.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Release v0.4.9
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Refine pcb scan page output
  crates/pcb-diode-api/src/scan.rs
Due: cargo-fmt, clippy

Refine pcb scan page output (#945)
  crates/pcb-diode-api/src/scan.rs
Due: cargo-fmt, clippy

Fix local toolchain management
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

Report managed latest toolchains accurately
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

Improve PCB toolchain management
  CHANGELOG.md
  README.md
  crates/pcb/src/main.rs
  crates/pcbc/src/main.rs
  crates/rectify/src/main.rs
Due: cargo-fmt, clippy

Use Clap for shim commands
  Cargo.lock
  crates/pcb/Cargo.toml
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

Improve PCB toolchain management (#944)
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/pcb/Cargo.toml
  crates/pcb/src/main.rs
  crates/pcbc/src/main.rs
  crates/rectify/src/main.rs
Due: cargo-fmt, clippy

Avoid duplicate LSP netlist updates
  CHANGELOG.md
  crates/pcb-starlark-lsp/src/server.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Avoid duplicate LSP netlist updates (#946)
  CHANGELOG.md
  crates/pcb-starlark-lsp/src/server.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Release v0.4.10
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none
