Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

ENG-188: Unify PhysicalValue, PhysicalRange (#486)
  CHANGELOG.md
  crates/pcb-docgen/src/parser.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/physical.rs
  crates/pcb-zen-core/src/lang/builtin.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb-zen/tests/snapshots/test_physical__physical_types.snap
  crates/pcb-zen/tests/test_physical.rs
  crates/pcb-zen/tests/test_physical_constructor_casting.rs
  crates/pcb-zen/tests/test_physical_negative_tolerance.rs
  crates/pcb/tests/snapshots/bom__bom_capacitors_json.snap
  crates/pcb/tests/snapshots/bom__bom_json.snap
  crates/pcb/tests/snapshots/bom__bom_module_dnp_json.snap
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_json.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Release v0.3.32
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

GitHub managed -> ubicloud runners
  .github/workflows/npm-publish.yml
  .github/workflows/stdlib-version-check.yml
  .github/workflows/test.yml
  .github/workflows/version-bump.yml
  .github/workflows/wasm.yml
Due: none

GitHub managed -> ubicloud runners (#488)
  .github/workflows/npm-publish.yml
  .github/workflows/stdlib-version-check.yml
  .github/workflows/test.yml
  .github/workflows/version-bump.yml
  .github/workflows/wasm.yml
Due: none

Use % formatting for symmetric PhysicalValue tolerances
  CHANGELOG.md
  crates/pcb-sch/src/physical.rs
  crates/pcb-zen/tests/snapshots/test_physical__physical_types.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Use % formatting for symmetric PhysicalValue tolerances (#487)
  CHANGELOG.md
  crates/pcb-sch/src/physical.rs
  crates/pcb-zen/tests/snapshots/test_physical__physical_types.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Add `pcb import`
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/erc.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/import.rs
  crates/pcb/src/main.rs
  crates/pcb/src/new.rs
  crates/pcb/tests/snapshots/simple__help.snap
Due: cargo-fmt, clippy

Add kicad import spec
  docs/specs/kicad-import.md
Due: none

Add stackup import + codegen
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/codegen/mod.rs
  crates/pcb/src/codegen/starlark.rs
  crates/pcb/src/codegen/zen.rs
  crates/pcb/src/import.rs
  crates/pcb/src/main.rs
  crates/pcb/src/new.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Tolerate extra footprints in layout
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

fixup! Add stackup import + codegen
  crates/pcb-zen-core/src/lang/stackup.rs
Due: cargo-fmt, clippy

Release v0.3.33
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

add support for readme and changelog
  crates/pcb/src/new.rs
  crates/pcb/src/templates/board_changelog.jinja
  crates/pcb/src/templates/board_readme.jinja
  crates/pcb/src/templates/package_changelog.jinja
  crates/pcb/src/templates/package_readme.jinja
Due: cargo-fmt, clippy

Fix pcb preview DRC spinner
  CHANGELOG.md
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb/src/main.rs
  crates/pcb/src/preview.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Address PR review feedback
  crates/pcb-diode-api/src/release.rs
  crates/pcb/src/file_walker.rs
  crates/pcb/src/preview.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Update snapshots for preview command
  crates/pcb/tests/snapshots/simple__help.snap
  crates/pcb/tests/snapshots/tag__publish_board_invalid_path.snap
Due: none

[ENG-186] Add `pcb preview` (#491)
  CHANGELOG.md
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb/src/file_walker.rs
  crates/pcb/src/main.rs
  crates/pcb/src/preview.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/release.rs
  crates/pcb/tests/snapshots/simple__help.snap
  crates/pcb/tests/snapshots/tag__publish_board_invalid_path.snap
Due: cargo-fmt, clippy

Restore old NotConnected() behavior, but add warnings
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/resources/not_connected/Board.zen
  crates/pcb-layout/tests/resources/not_connected_single_pin_multi_pad/Board.zen
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb-zen-core/tests/not_connected.rs
  crates/pcb-zen/src/diagnostics.rs
  crates/pcb-zen/tests/snapshots/input__correct_usage_with_explicit_net_access.snap
  crates/pcb-zen/tests/snapshots/input__interface_input.snap
  crates/pcb-zen/tests/snapshots/input__module_io_rejects_interface_when_net_expected.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_io_and_config_with_values.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_optional_inputs_return_none.snap
  crates/pcb-zen/tests/snapshots/interface_templates_snapshot__interface_mixed_templates_and_types.snap
  crates/pcb-zen/tests/snapshots/load_diagnostics__snapshot_load_file_with_syntax_error.snap
  crates/pcb-zen/tests/snapshots/placeholder__snapshot_io_and_config_placeholders.snap
  crates/pcb-zen/tests/snapshots/placeholder__snapshot_undefined_placeholder.snap
  crates/pcb-zen/tests/snapshots/test__net_passing.snap
  crates/pcb/src/drc.rs
Due: ty, cargo-fmt, clippy

Restore old NotConnected() behavior, but add warnings (#493)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/resources/not_connected/Board.zen
  crates/pcb-layout/tests/resources/not_connected_single_pin_multi_pad/Board.zen
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb-zen-core/tests/not_connected.rs
  crates/pcb-zen/src/diagnostics.rs
  crates/pcb-zen/tests/snapshots/input__correct_usage_with_explicit_net_access.snap
  crates/pcb-zen/tests/snapshots/input__interface_input.snap
  crates/pcb-zen/tests/snapshots/input__module_io_rejects_interface_when_net_expected.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_io_and_config_with_values.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_optional_inputs_return_none.snap
  crates/pcb-zen/tests/snapshots/interface_templates_snapshot__interface_mixed_templates_and_types.snap
  crates/pcb-zen/tests/snapshots/load_diagnostics__snapshot_load_file_with_syntax_error.snap
  crates/pcb-zen/tests/snapshots/placeholder__snapshot_io_and_config_placeholders.snap
  crates/pcb-zen/tests/snapshots/placeholder__snapshot_undefined_placeholder.snap
  crates/pcb-zen/tests/snapshots/test__net_passing.snap
  crates/pcb/src/drc.rs
Due: ty, cargo-fmt, clippy

Release x2 gerbers, separate PTH/NPTH drill files
  CHANGELOG.md
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Fix npm publish
  .github/workflows/npm-publish.yml
Due: none

Release x2 gerbers, separate PTH/NPTH drill files (#492)
  CHANGELOG.md
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Release v0.3.34
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add better single-pin multi-pad NotConnected support
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
Due: ty

Add better single-pin multi-pad NotConnected support (#494)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
Due: ty

add changelog entry for readme/changelog templates
  CHANGELOG.md
Due: none

Add support for "jumper" copper role
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/stackup.rs
Due: cargo-fmt, clippy

add support for readme and changelog (#490)
  CHANGELOG.md
  crates/pcb/src/new.rs
  crates/pcb/src/templates/board_changelog.jinja
  crates/pcb/src/templates/board_readme.jinja
  crates/pcb/src/templates/package_changelog.jinja
  crates/pcb/src/templates/package_readme.jinja
Due: cargo-fmt, clippy

Add support for "jumper" copper role (#495)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/stackup.rs
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.5
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.5 (#496)
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Package-scoped `pcb update`
  CHANGELOG.md
  crates/pcb/src/update.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Package-scoped `pcb update` (#497)
  CHANGELOG.md
  crates/pcb/src/update.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Un-nuke just builtin.physical_range
  crates/pcb-docgen/src/parser.rs
  crates/pcb-zen-core/src/lang/builtin.rs
  crates/pcb-zen/tests/test_physical_range_shim.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Un-nuke just builtin.physical_range (#499)
  crates/pcb-docgen/src/parser.rs
  crates/pcb-zen-core/src/lang/builtin.rs
  crates/pcb-zen/tests/test_physical_range_shim.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Stabilize auto-named single-port `NotConnected()` net names
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/tests/not_connected.rs
  docs/pages/spec.mdx
Due: ty, cargo-fmt, clippy

Fix v2 test sandboxing, migrate more tests to v2
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen/src/resolve_v2.rs
  crates/pcb-zen/tests/module_loading.rs
  crates/pcb-zen/tests/snapshots/module_loading__module_nonexistent_alias.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_with_github_package.snap
  crates/pcb/tests/bom.rs
  crates/pcb/tests/build.rs
  crates/pcb/tests/info.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/release.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/info__board_without_pcb_toml.snap
  crates/pcb/tests/snapshots/info__empty_workspace.snap
  crates/pcb/tests/snapshots/info__json_format.snap
  crates/pcb/tests/snapshots/info__multiple_boards.snap
  crates/pcb/tests/snapshots/info__no_workspace_config.snap
  crates/pcb/tests/snapshots/info__single_board.snap
  crates/pcb/tests/snapshots/info__with_path.snap
  crates/pcb/tests/snapshots/info__zen_discovery.snap
  crates/pcb/tests/snapshots/info__zen_discovery_json.snap
  crates/pcb/tests/snapshots/simple__workspace_relative_paths_local_alias.snap
  crates/pcb/tests/tag.rs
  crates/pcb/tests/test_bench.rs
Due: cargo-fmt, clippy

Stabilize auto-named single-port `NotConnected()` net names (#500)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/tests/not_connected.rs
  docs/pages/spec.mdx
Due: ty, cargo-fmt, clippy
