Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Use embedded stdlib in CI (#617)
  .github/workflows/e2e.yml
  .github/workflows/stdlib-version-check.yml
Due: none

Split symbol source path from package URI
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/tests/part.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Add symbol-to-parts mapping in package manifests
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/resolve.rs
Due: cargo-fmt, clippy

Require package URIs for file-backed symbols
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/symbol.rs
Due: cargo-fmt, clippy

Add changelog entry for manifest symbol parts
  CHANGELOG.md
Due: none

Fix tests
  crates/pcb-zen-core/src/lang/component.rs
Due: cargo-fmt, clippy

Update snapshots
  crates/pcb-zen-core/tests/snapshots/component__component_duplicate_pin_names.snap
  crates/pcb-zen-core/tests/snapshots/component__component_inherits_reference_prefix.snap
  crates/pcb-zen-core/tests/snapshots/component__component_manufacturer_from_symbol.snap
  crates/pcb-zen-core/tests/snapshots/component__component_properties.snap
Due: none

Clarify manifest part sourcing precedence in spec
  docs/pages/spec.mdx
Due: none

Address PR comments
  crates/pcb-zen-core/src/lang/component.rs
Due: cargo-fmt, clippy

Support qualifications in manifest parts
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb/tests/part.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

feat: undocumented `pcb package`
  Cargo.lock
  crates/pcb-canonical/src/lib.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/bundle.rs
  crates/pcb/src/info.rs
  crates/pcb/src/main.rs
  crates/pcb/src/package.rs
  crates/pcb/src/release.rs
  crates/pcb/tests/package.rs
Due: cargo-fmt, clippy

back backcompat option
  crates/pcb/src/package.rs
  crates/pcb/tests/package.rs
Due: cargo-fmt, clippy

pr comments
  crates/pcb/src/bundle.rs
  crates/pcb/src/package.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Fix package path check and fail on eval errors
  crates/pcb/src/package.rs
Due: cargo-fmt, clippy

Fix standalone package URIs in LSP
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
Due: cargo-fmt, clippy

Append manifest parts to component alternatives
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/part.rs
  crates/pcb/tests/part.rs
Due: cargo-fmt, clippy

Fix package bundle test fixture
  crates/pcb/tests/package.rs
Due: cargo-fmt, clippy

Add manifest-backed component part inheritance (#618)
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/part.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen-core/tests/snapshots/component__component_duplicate_pin_names.snap
  crates/pcb-zen-core/tests/snapshots/component__component_inherits_reference_prefix.snap
  crates/pcb-zen-core/tests/snapshots/component__component_manufacturer_from_symbol.snap
  crates/pcb-zen-core/tests/snapshots/component__component_properties.snap
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/tests/part.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

stdlib: consolidate Part assignment into set_from_matches
  stdlib/bom/helpers.zen
  stdlib/bom/match_generics.zen
Due: none

stdlib: use part= instead of mpn=/manufacturer= in Component() calls
  stdlib/generics/Bjt.zen
  stdlib/generics/Capacitor.zen
  stdlib/generics/Crystal.zen
  stdlib/generics/Diode.zen
  stdlib/generics/FerriteBead.zen
  stdlib/generics/Inductor.zen
  stdlib/generics/Led.zen
  stdlib/generics/Mosfet.zen
  stdlib/generics/NetTie.zen
  stdlib/generics/OperationalAmplifier.zen
  stdlib/generics/PinHeader.zen
  stdlib/generics/Resistor.zen
  stdlib/generics/TerminalBlock.zen
  stdlib/generics/Thermistor.zen
  stdlib/generics/Tvs.zen
  stdlib/kicad/PinHeader.zen
  stdlib/kicad/PinSocket.zen
Due: none

component: use Part as single source of truth for mpn/manufacturer
  crates/pcb-zen-core/src/lang/component.rs
Due: cargo-fmt, clippy

Update modifier tests and snapshots for Part SSOT
  crates/pcb-zen-core/tests/component.rs
  crates/pcb-zen-core/tests/snapshots/component__component_manufacturer_from_symbol.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_child_overrides_parent.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_multiple.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_order_independent.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_parent.snap
  crates/pcb-zen-core/tests/snapshots/component__component_with_manufacturer.snap
Due: cargo-fmt, clippy

Add changelog entry for Part SSOT
  CHANGELOG.md
Due: none

Fix formatting
  crates/pcb-zen-core/src/lang/component.rs
Due: cargo-fmt, clippy

fix(fork): support @x.y.z version spec and don't default to full repo fork
  crates/pcb-zen/src/fork.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Make part the SSOT in `Component()` (#619)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/tests/component.rs
  crates/pcb-zen-core/tests/snapshots/component__component_manufacturer_from_symbol.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_child_overrides_parent.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_multiple.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_order_independent.snap
  crates/pcb-zen-core/tests/snapshots/component__component_modifier_parent.snap
  crates/pcb-zen-core/tests/snapshots/component__component_with_manufacturer.snap
  stdlib/bom/helpers.zen
  stdlib/bom/match_generics.zen
  stdlib/generics/Bjt.zen
  stdlib/generics/Capacitor.zen
  stdlib/generics/Crystal.zen
  stdlib/generics/Diode.zen
  stdlib/generics/FerriteBead.zen
  stdlib/generics/Inductor.zen
  stdlib/generics/Led.zen
  stdlib/generics/Mosfet.zen
  stdlib/generics/NetTie.zen
  stdlib/generics/OperationalAmplifier.zen
  stdlib/generics/PinHeader.zen
  stdlib/generics/Resistor.zen
  stdlib/generics/TerminalBlock.zen
  stdlib/generics/Thermistor.zen
  stdlib/generics/Tvs.zen
  stdlib/kicad/PinHeader.zen
  stdlib/kicad/PinSocket.zen
Due: cargo-fmt, clippy

pr comments
  crates/pcb-canonical/src/lib.rs
  crates/pcb-docgen/src/signature.rs
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/moved.rs
  crates/pcb-zen/src/fork.rs
  crates/pcb-zen/src/lsp/mod.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcb-zen/tests/canonical_snapshot.rs
  crates/pcb-zen/tests/common/mod.rs
  crates/pcb-zen/tests/spice_model.rs
  crates/pcb/src/bundle.rs
  crates/pcb/src/doc.rs
  crates/pcb/src/file_walker.rs
  crates/pcb/src/fork.rs
  crates/pcb/src/info.rs
  crates/pcb/src/package.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/release.rs
  crates/pcb/src/resolve.rs
  crates/pcb/src/update.rs
  crates/pcb/src/vendor.rs
  crates/pcb/tests/package.rs
Due: cargo-fmt, clippy

fix(fork): support @x.y.z version spec and don't default to full repo (#621)
  crates/pcb-zen/src/fork.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Handle stdlib @version fork URLs
  crates/pcb-zen/src/fork.rs
Due: cargo-fmt, clippy

change to zstd level 9
  crates/pcb/src/bundle.rs
Due: cargo-fmt, clippy

feat: `pcb package` (#620)
  Cargo.lock
  crates/pcb-canonical/src/lib.rs
  crates/pcb-docgen/src/signature.rs
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/moved.rs
  crates/pcb-zen/src/fork.rs
  crates/pcb-zen/src/lsp/mod.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcb-zen/tests/canonical_snapshot.rs
  crates/pcb-zen/tests/common/mod.rs
  crates/pcb-zen/tests/spice_model.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/bundle.rs
  crates/pcb/src/doc.rs
  crates/pcb/src/file_walker.rs
  crates/pcb/src/fork.rs
  crates/pcb/src/info.rs
  crates/pcb/src/main.rs
  crates/pcb/src/package.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/release.rs
  crates/pcb/src/resolve.rs
  crates/pcb/src/update.rs
  crates/pcb/src/vendor.rs
  crates/pcb/tests/package.rs
Due: cargo-fmt, clippy

Fix duplicate-name pad not-connected assignment
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
Due: ty

Fix py formatting
  bin/changelog.py
  stdlib/bom/house_cap_coverage.py
Due: ty

Fix duplicate-name pad not-connected assignment (#622)
  CHANGELOG.md
  bin/changelog.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  stdlib/bom/house_cap_coverage.py
Due: ty

feat: support .tar.zst bundles in wasm
  Cargo.lock
  Cargo.toml
  crates/pcb-zen-wasm/Cargo.toml
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen-wasm/src/main.rs
Due: cargo-fmt, clippy

fix stdlib embedding in wasm
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-wasm/src/lib.rs
Due: cargo-fmt, clippy

fix symbol fp path resolution
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/symbol.rs
Due: cargo-fmt, clippy

fix: vendor all resolved remotes for board publish
  crates/pcb/src/bundle.rs
  crates/pcb/src/package.rs
  crates/pcb/src/release.rs
  crates/pcb/tests/release.rs
Due: cargo-fmt, clippy

add changelog entry for zone priority sync
  CHANGELOG.md
Due: none

Handle ./-prefixed tar bundle paths
  crates/pcb-zen-wasm/src/lib.rs
Due: cargo-fmt, clippy
