Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

prek pre-commit hooks (#429)
  .pre-commit-config.yaml
  crates/ipc2581/tests/testcases.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-ipc2581-tools/src/commands/view.rs
  crates/pcb-sch/src/physical.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen/src/git.rs
Due: cargo-fmt, clippy

Release v0.3.24
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Fix group layout syncing regression
  CHANGELOG.md
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Fix group layout syncing regression (#430)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Add v2 dep resolution support to pcb sim
  CHANGELOG.md
  crates/pcb/src/sim.rs
Due: cargo-fmt, clippy

Add v2 dep resolution support to pcb sim (#431)
  CHANGELOG.md
  crates/pcb/src/sim.rs
Due: cargo-fmt, clippy

Move path renaming to Rust
  Cargo.lock
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-layout/Cargo.toml
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-sch/src/kicad_schematic.rs
  crates/pcb-sexpr/src/board.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb/src/layout.rs
Due: ty, cargo-fmt, clippy

Move path renaming to Rust (#432)
  Cargo.lock
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-layout/Cargo.toml
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-sch/src/kicad_schematic.rs
  crates/pcb-sexpr/src/board.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb/src/layout.rs
Due: ty, cargo-fmt, clippy

Only write temp layout file on rename changes
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
Due: cargo-fmt, clippy

Flush the writer
  crates/pcb-layout/src/lib.rs
Due: cargo-fmt, clippy

Add layout.moved warning diagnostics
  crates/pcb-layout/src/lib.rs
  crates/pcb/src/layout.rs
Due: cargo-fmt, clippy

Only warns about instance paths
  crates/pcb-layout/src/lib.rs
Due: cargo-fmt, clippy

Add layout.moved warning diagnostics (#433)
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb/src/layout.rs
Due: cargo-fmt, clippy

Add tracing
  Cargo.lock
  Cargo.toml
  crates/pcb-zen-core/Cargo.toml
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/build.rs
  crates/pcb/src/main.rs
  crates/pcb/src/profiling.rs
  crates/pcb/src/resolve.rs
Due: cargo-fmt, clippy

Remove `pcb search --add`
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
Due: cargo-fmt, clippy

Lazy symbol loading
  Cargo.lock
  crates/pcb-eda/Cargo.toml
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb/src/build.rs
Due: cargo-fmt, clippy

Remove `pcb search --add` (#434)
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
Due: cargo-fmt, clippy

Add offers to `pcb bom -f json`
  .agents/skills/pcb/SKILL.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/lib.rs
Due: cargo-fmt, clippy

Remove unused `pcb bom --rules` flag support
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb/src/bom.rs
  crates/pcb/tests/bom.rs
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_json.snap
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_table.snap
Due: cargo-fmt, clippy

Update changelog
  CHANGELOG.md
Due: none

Update agent skill docs
  .agents/skills/pcb/SKILL.md
Due: none

Fix formatting
  crates/pcb/tests/bom.rs
Due: cargo-fmt, clippy

Add `offers` and `availability_tier` fields to `pcb bom -f json` output (#437)
  .agents/skills/pcb/SKILL.md
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb/src/bom.rs
  crates/pcb/tests/bom.rs
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_json.snap
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_table.snap
Due: cargo-fmt, clippy

Fix "Warning: PCB_VIA::GetWidth called without a layer argument"
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Clean up layout log
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Simplify orphaned net handling: clear instead of guess
  CHANGELOG.md
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Fix CHANGELOG.md
  CHANGELOG.md
Due: none

`pcb search --json` -> `pcb search -f json`
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Add `pcb run add-skill`
  CHANGELOG.md
  crates/pcb/src/main.rs
  crates/pcb/src/new.rs
  crates/pcb/src/run.rs
Due: cargo-fmt, clippy

Split registry into 2 search modes
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/mod.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
  crates/pcb/src/new.rs
Due: cargo-fmt, clippy

Fix symlink test
  .github/workflows/test.yml
Due: none

Add filtering to registry modes
  crates/pcb-diode-api/src/registry/mod.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/mod.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
Due: cargo-fmt, clippy

Lower semantic distance threshold
  crates/pcb-diode-api/src/registry/tui/search.rs
Due: cargo-fmt, clippy

Add `pcb search --mode`
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/mod.rs
Due: cargo-fmt, clippy

Respect `--mode` in `pcb search <query>`
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
Due: cargo-fmt, clippy

Simplify orphaned net handling: clear instead of guess (#435)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Add `pcb run add-skill` (#438)
  .github/workflows/test.yml
  CHANGELOG.md
  crates/pcb/src/main.rs
  crates/pcb/src/new.rs
  crates/pcb/src/run.rs
Due: cargo-fmt, clippy

Split registry search modes into `registry:web`, `registry:components` (#439)
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/mod.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/mod.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
  crates/pcb/src/new.rs
Due: cargo-fmt, clippy

Parallel eval
  Cargo.lock
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-zen-core/Cargo.toml
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/evaluator_ext.rs
  crates/pcb/src/test.rs
Due: cargo-fmt, clippy

Add availability and pricing info to `pcb search`
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/mcp.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
Due: cargo-fmt, clippy
