Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Fix reused-sheet components
  crates/pcb/src/import/extract.rs
Due: cargo-fmt, clippy

Remove dead template file
  crates/pcb-diode-api/templates/component.zen.jinja
Due: none

Add better footprint canonicalization
  crates/pcb-sexpr/src/board.rs
  crates/pcb/src/import/README.md
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Sync, dnp, skip_bom, skip_pos info
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/src/component.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/codegen/starlark.rs
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Passive promotion
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/src/import/mod.rs
  crates/pcb/src/import/report.rs
  crates/pcb/src/import/semantic.rs
  crates/pcb/src/import/types.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Fix rebase issues
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/import/validate.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Remove thin wrapper APIs in pcb-kicad
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/erc.rs
  crates/pcb/src/import/portable.rs
Due: cargo-fmt, clippy

Add changelog entry for `pcb import`
  CHANGELOG.md
  docs/specs/kicad-import.md
Due: none

Add changelog entry for `pcb import` (#520)
  CHANGELOG.md
  docs/specs/kicad-import.md
Due: none

Move e2e tests to a separate workflow
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Move e2e tests to a separate workflow (#522)
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Add `pcb import` tests
  .github/workflows/e2e.yml
Due: none

Don't block ERC/DRC issues on `pcb import`
  crates/pcb/src/import/flow.rs
  crates/pcb/src/import/types.rs
  crates/pcb/src/import/validate.rs
Due: cargo-fmt, clippy

Build before layout
  .github/workflows/e2e.yml
Due: none

Add `pcb import` tests (#523)
  .github/workflows/e2e.yml
  crates/pcb/src/import/flow.rs
  crates/pcb/src/import/types.rs
  crates/pcb/src/import/validate.rs
Due: cargo-fmt, clippy

Release v0.3.38
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Derive layout PCB path from .kicad_pro file
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb/src/release.rs
Due: ty, cargo-fmt, clippy

Derive layout PCB path from .kicad_pro file (#525)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb/src/release.rs
Due: ty, cargo-fmt, clippy

Release v0.3.39
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Do proper workspace scaffolding on `pcb import`
  .github/workflows/e2e.yml
  CHANGELOG.md
  crates/pcb/src/import/paths.rs
  crates/pcb/src/new.rs
Due: cargo-fmt, clippy

Address PR comments
  crates/pcb/src/import/paths.rs
  crates/pcb/src/templates/workspace_pcb_toml.jinja
Due: cargo-fmt, clippy

Do proper workspace scaffolding on `pcb import` (#526)
  .github/workflows/e2e.yml
  CHANGELOG.md
  crates/pcb/src/import/paths.rs
  crates/pcb/src/new.rs
  crates/pcb/src/templates/workspace_pcb_toml.jinja
Due: cargo-fmt, clippy

Cache builtin docs and canonicalized resolutions in LSP hot path
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Plumb resolution through to eval config and output
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/file.rs
  crates/pcb-zen-core/src/lang/spice_model.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/moved.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/not_connected.rs
  crates/pcb-zen-core/tests/refdes.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb-zen/src/lsp/mod.rs
  crates/pcb/src/bom.rs
  crates/pcb/src/build.rs
  crates/pcb/src/release.rs
  crates/pcb/src/test.rs
Due: cargo-fmt, clippy

Address PR comments
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Include WorkspaceInfo in ResolutionResult
  crates/pcb-zen/src/resolve.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcb/src/bom.rs
  crates/pcb/src/build.rs
  crates/pcb/src/info.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/open.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/release.rs
  crates/pcb/src/resolve.rs
  crates/pcb/src/route.rs
  crates/pcb/src/sim.rs
  crates/pcb/src/test.rs
  crates/pcb/src/vendor.rs
Due: cargo-fmt, clippy

Move ResolutionResult to core
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcb/src/build.rs
  crates/pcb/src/info.rs
  crates/pcb/src/release.rs
  crates/pcb/src/resolve.rs
  crates/pcb/src/test.rs
  crates/pcb/src/update.rs
Due: cargo-fmt, clippy

Plumb resolution through to eval config and output (#524)
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/file.rs
  crates/pcb-zen-core/src/lang/spice_model.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/moved.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/not_connected.rs
  crates/pcb-zen-core/tests/refdes.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb-zen/src/lsp/mod.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcb/src/bom.rs
  crates/pcb/src/build.rs
  crates/pcb/src/info.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/open.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/release.rs
  crates/pcb/src/resolve.rs
  crates/pcb/src/route.rs
  crates/pcb/src/sim.rs
  crates/pcb/src/test.rs
  crates/pcb/src/update.rs
  crates/pcb/src/vendor.rs
Due: cargo-fmt, clippy

ENG-180: support relative path imports in a workspace
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/load_spec.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen/src/lib.rs
  test-workspaces/with-pcb-toml/pcb.sum
Due: cargo-fmt, clippy

Address underflow
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Address PR comments
  crates/pcb-zen-core/src/lang/eval.rs
Due: cargo-fmt, clippy

Add changelog entry
  CHANGELOG.md
Due: none

ENG-180: support relative path imports in a workspace (#527)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/load_spec.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen/src/lib.rs
  test-workspaces/with-pcb-toml/pcb.sum
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.7
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.7 (#528)
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Use self-hosted windows runner
  .github/workflows/test.yml
Due: none

Don't cache KiCad on Windows
  .github/workflows/test.yml
Due: none

Use self-hosted windows runner (#531)
  .github/workflows/test.yml
Due: none
