Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

chore: remove obsolete component search and download commands
  crates/pcb-diode-api/src/component_api.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcbc/src/main.rs
  crates/pcbc/tests/auth.rs
Due: cargo-fmt, clippy

chore: remove pcb kq command (#1399)
  crates/pcbc/src/kq.rs
  crates/pcbc/src/main.rs
Due: cargo-fmt, clippy

chore: remove obsolete component search and download commands (#1400)
  crates/pcb-diode-api/src/component_api.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcbc/src/main.rs
  crates/pcbc/tests/auth.rs
Due: cargo-fmt, clippy

feat: add offline package inventory to pcb info
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcbc/src/info.rs
  crates/pcbc/tests/info.rs
Due: cargo-fmt, clippy

feat: inspect local KiCad symbol metadata (ENG-3573)
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcbc/src/inspect.rs
  crates/pcbc/src/main.rs
  crates/pcbc/tests/inspect.rs
  crates/pcbc/tests/integration.rs
Due: cargo-fmt, clippy

fix: preserve inventory tag paths and annotation bytes
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/workspace.rs
Due: cargo-fmt, clippy

refactor: simplify strict symbol inspection (ENG-3573)
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcbc/src/inspect.rs
  crates/pcbc/tests/inspect.rs
Due: cargo-fmt, clippy

fix: unify Gerber coordinate quantization (ENG-3589)
  crates/gerberx2/src/from_artwork.rs
  crates/gerberx2/src/write.rs
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-ir/src/geom/region/simplification.rs
  crates/pcb-ir/src/geom/region/tests.rs
Due: cargo-fmt, clippy

refactor: keep grid error policy in pcb-ir (ENG-3589)
  crates/gerberx2/src/from_artwork.rs
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-ir/src/geom/region/simplification.rs
Due: cargo-fmt, clippy

Add offline package inventory to pcb info (#1402)
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcbc/src/info.rs
  crates/pcbc/tests/info.rs
Due: cargo-fmt, clippy

fix: reject invalid KiCad forms during inspection (ENG-3573)
  crates/pcb-eda/src/kicad/symbol_check.rs
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcbc/tests/inspect.rs
Due: cargo-fmt, clippy

Unify Gerber coordinate quantization (#1403)
  crates/gerberx2/src/from_artwork.rs
  crates/gerberx2/src/write.rs
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-ir/src/geom/region/simplification.rs
  crates/pcb-ir/src/geom/region/tests.rs
Due: cargo-fmt, clippy

feat: inspect local KiCad symbol metadata (#1401)
  crates/pcb-eda/src/kicad/symbol_check.rs
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcbc/src/inspect.rs
  crates/pcbc/src/main.rs
  crates/pcbc/tests/inspect.rs
  crates/pcbc/tests/integration.rs
Due: cargo-fmt, clippy

fix: preserve source board format in extracted footprints
  crates/pcb-sexpr/src/board.rs
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

fix: compare drill plating and physical layer spans (ENG-3592)
  bin/kicad_ipc_gerber_svg_diff.py
  bin/tests/test_kicad_ipc_gerber_svg_diff.py
Due: ty

test: run drill comparison regressions in Python CI (ENG-3592)
  .github/workflows/test.yml
  bin/tests/test_kicad_ipc_gerber_svg_diff.py
  pyproject.toml
  uv.lock
Due: ty

fix: retain drill type and simplify comparison metadata (ENG-3592)
  bin/kicad_ipc_gerber_svg_diff.py
  bin/tests/test_kicad_ipc_gerber_svg_diff.py
  pyproject.toml
  uv.lock
Due: ty

fix: compare declared drill types without stackup inference (ENG-3592)
  bin/kicad_ipc_gerber_svg_diff.py
  bin/tests/test_kicad_ipc_gerber_svg_diff.py
Due: ty

fix: preserve source board format in extracted footprints (#1405)
  crates/pcb-sexpr/src/board.rs
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

fix: compare drill plating and physical layer spans (#1404)
  .github/workflows/test.yml
  bin/kicad_ipc_gerber_svg_diff.py
  bin/tests/test_kicad_ipc_gerber_svg_diff.py
Due: ty

docs(pcb): remove legacy schematic embed and collapse guidance
  CHANGELOG.md
  docs/pages/antenna_matching_network.mdx
  docs/pages/spec.mdx
  skills/zener-language/SKILL.md
Due: none

Sync skills from diode 02d8bcd
  skills/importing-kicad-projects/SKILL.md
Due: none

docs(pcb): remove legacy schematic embed and collapse guidance (#1406)
  CHANGELOG.md
  docs/pages/antenna_matching_network.mdx
  docs/pages/spec.mdx
  skills/zener-language/SKILL.md
Due: none

fix(import): bind multi-unit components across sheets
  crates/pcbc/src/import/extract.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

fix(import): bind multi-unit components across sheets (#1407)
  crates/pcbc/src/import/extract.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

Release v0.4.73
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

docs: backfill v0.4.73 changelog
  CHANGELOG.md
Due: none

docs: trim v0.4.73 changelog to user-facing changes
  CHANGELOG.md
Due: none

docs: backfill v0.4.73 changelog (#1411)
  CHANGELOG.md
Due: none

chore(ci): clone DiodeHub fixtures with a service account
  .github/workflows/build-perf.yml
  .github/workflows/wasm.yml
Due: none

chore(ci): mint DiodeHub clone tokens with curl, not the pcb release
  .github/scripts/clone-diodehub.sh
  .github/workflows/build-perf.yml
  .github/workflows/wasm.yml
Due: none

chore(ci): clone DiodeHub fixtures with a service account (#1412)
  .github/scripts/clone-diodehub.sh
  .github/workflows/build-perf.yml
  .github/workflows/wasm.yml
Due: none

Dedupe strokes after simplifying; derive margin from written lengths
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
Due: cargo-fmt, clippy

Keep board profiles in their own table, built once per outline
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/drilled_board_edge_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/mod.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
Due: cargo-fmt, clippy

Share evidence by its whole record, only where sharing is smaller
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/drilled_board_edge_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
Due: cargo-fmt, clippy

Write repeated evidence once and omit provenance that repeats source
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/copper_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/drilled_board_edge_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/plated_slot_enclosure.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
Due: cargo-fmt, clippy

Share board profiles through the general repeated-evidence table
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/drilled_board_edge_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/mod.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
Due: cargo-fmt, clippy

Shrink DFM reports: drop duplicate evidence strokes, write lengths to the nanometre
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
Due: cargo-fmt, clippy

ENG-3599: Stage only non-ignored files and clean up killed publish checks
  CHANGELOG.md
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

Keep only the size fixes that pay for their code
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/plated_slot_enclosure.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
Due: cargo-fmt, clippy
