Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Refactor release upload to two-phase flow with better error messages
  crates/pcb-diode-api/src/release.rs
  crates/pcb/src/publish.rs
Due: cargo-fmt, clippy

Refactor release upload to two-phase flow with better error messages (#470)
  crates/pcb-diode-api/src/release.rs
  crates/pcb/src/publish.rs
Due: cargo-fmt, clippy

Make bump interactive if `--bump` is passed without a value (#469)
  crates/pcb/src/publish.rs
  crates/pcb/tests/release.rs
  crates/pcb/tests/snapshots/tag__publish_board_invalid_path.snap
  crates/pcb/tests/tag.rs
Due: cargo-fmt, clippy

Release v0.3.28
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

In CI, don't prompt on warning diagnostics
  CHANGELOG.md
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

In CI, don't prompt on warning diagnostics (#471)
  CHANGELOG.md
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Exclude nested packages when copying workspace packages into release
  CHANGELOG.md
  crates/pcb-zen/src/fork.rs
  crates/pcb-zen/src/resolve_v2.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Exclude nested packages when copying workspace packages into release (#472)
  CHANGELOG.md
  crates/pcb-zen/src/fork.rs
  crates/pcb-zen/src/resolve_v2.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Release v0.3.29
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Support forking stdlib
  crates/pcb-zen-core/src/resolution.rs
Due: cargo-fmt, clippy

Support forking stdlib (#473)
  crates/pcb-zen-core/src/resolution.rs
Due: cargo-fmt, clippy

Preserve group fragments
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Remove unused APIs
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
Due: ty

Remove AdaptTracking
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
Due: ty

Add ruff linting + formatting
  .github/workflows/test.yml
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Remove Board, use BoardView and BoardComplement directly
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
Due: ty

Use stdlib in layout tests
  .github/workflows/test.yml
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/resources/fpid_change/Board.zen
  crates/pcb-layout/tests/resources/fpid_change/Board_0603.zen
  crates/pcb-layout/tests/resources/fpid_change/Resistor.zen
  crates/pcb-layout/tests/resources/fpid_change/pcb.sum
  crates/pcb-layout/tests/resources/fpid_change/pcb.toml
  crates/pcb-layout/tests/resources/fpid_change/stdlib.zen
  crates/pcb-layout/tests/resources/fpid_change/units.zen
  crates/pcb-layout/tests/resources/moved/Board.zen
  crates/pcb-layout/tests/resources/moved/Board_renamed.zen
  crates/pcb-layout/tests/resources/moved/Resistor.zen
  crates/pcb-layout/tests/resources/moved/pcb.toml
  crates/pcb-layout/tests/resources/moved/stdlib.zen
  crates/pcb-layout/tests/resources/moved/units.zen
  crates/pcb-layout/tests/resources/simple/BMI270.zen
  crates/pcb-layout/tests/resources/simple/Capacitor.zen
  crates/pcb-layout/tests/resources/simple/MyBoard.zen
  crates/pcb-layout/tests/resources/simple/Resistor.zen
  crates/pcb-layout/tests/resources/simple/pcb.toml
  crates/pcb-layout/tests/resources/simple/stdlib.zen
  crates/pcb-layout/tests/resources/simple/units.zen
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
Due: cargo-fmt, clippy

Fix CI
  crates/pcb-kicad/src/lib.rs
  crates/pcb-layout/src/scripts/compare_layout_snapshots.py
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
Due: ty, cargo-fmt, clippy

Nuke vdom
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
  uv.lock
Due: ty

Fix netclass str name cast
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Remove groups_registry arg to apply_changeset
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
  uv.lock
Due: ty

Convert orphan nets to no-nets
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
Due: ty

Fix entity ids
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
Due: ty

Remove noisy oplogs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
Due: ty

Fix kicad 9.x api warnings
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Fix ruff fmt
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Fix placement fallback bug
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
Due: ty

Add unmanaged footprint diagnostics
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
Due: ty

Skip kicad internal groups
  crates/pcb-layout/src/scripts/lens/lens.py
Due: ty

Fix fab layer visibility
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Update diagnostics
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
Due: ty

Replace assertions with diagnostics
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
Due: ty

Changes
  crates/pcb-layout/src/repair_nets.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

working
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

Clean Up
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

Warn on no net name
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen/tests/snapshots/assert__snapshot_check_true_should_pass.snap
  crates/pcb/tests/build.rs
  crates/pcb/tests/snapshots/build__inline_manifest_v2_unnamed_net_warning.snap
Due: cargo-fmt, clippy

refactor
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy

cleanup
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy

Fix naming
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy
