Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

MCAD-driven placement: apply IDF fixed positions to layout
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-mechanical/Cargo.toml
  crates/pcb-mechanical/src/datum.rs
  crates/pcb-mechanical/src/idf.rs
  crates/pcb-mechanical/src/lib.rs
  crates/pcb-mechanical/src/locate.rs
  crates/pcb-mechanical/src/mcad.rs
  crates/pcb-mechanical/src/placement.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
  examples/.gitignore
  examples/usbc_mcad/README.md
  examples/usbc_mcad/board.zen
  examples/usbc_mcad/mechanical/footprint-datums.toml
  examples/usbc_mcad/mechanical/usbc_mcad.emn
  examples/usbc_mcad/pcb.toml
  examples/usbc_mcad/usbc.zen
Due: ty, cargo-fmt, clippy

Install stdlib as optional companion artifact
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

Require stdlib archive and move it into the per-target dir
  .github/workflows/pcbc-release.yml
  crates/pcb/src/main.rs
  install.sh
Due: cargo-fmt, clippy

Install stdlib with managed pcbc toolchains (#875)
  .github/workflows/pcbc-release.yml
  Cargo.lock
  crates/pcb/Cargo.toml
  crates/pcb/src/main.rs
  install.sh
Due: cargo-fmt, clippy

Sync skills from diode 5182219
  skills/zener-language/SKILL.md
Due: none

Fix dropped child net-symbol overrides for io-renamed nets
  CHANGELOG.md
  crates/pcb-zen-core/src/convert.rs
  crates/pcbc/tests/netlist.rs
Due: cargo-fmt, clippy

Fix dropped child net-symbol overrides for io-renamed nets (#878)
  CHANGELOG.md
  crates/pcb-zen-core/src/convert.rs
  crates/pcbc/tests/netlist.rs
Due: cargo-fmt, clippy

Match KiCad semantics for derived-symbol jumper metadata
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-layout/src/lib.rs
Due: cargo-fmt, clippy

Add KiCad 10 jumper pin support
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-eda/tests/test_eda.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/tests/component.rs
  crates/pcbc/src/import/generate.rs
Due: cargo-fmt, clippy

Add KiCad 10 jumper pin support (#877)
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-eda/tests/test_eda.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/tests/component.rs
  crates/pcbc/src/import/generate.rs
Due: cargo-fmt, clippy

Remove workspace vendor sync from pcb build for v2 workspaces
  crates/pcb-zen/src/package_resolver/mod.rs
  crates/pcb-zen/src/package_resolver/resolve.rs
  crates/pcbc/src/resolve.rs
Due: cargo-fmt, clippy

Remove workspace vendor sync from pcb build for v2 workspaces (#879)
  crates/pcb-zen/src/package_resolver/mod.rs
  crates/pcb-zen/src/package_resolver/resolve.rs
  crates/pcbc/src/resolve.rs
Due: cargo-fmt, clippy

Propagate BOM strictness in release metadata
  CHANGELOG.md
  crates/pcbc/src/bundle.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

Move BOM strict metadata under release
  crates/pcbc/src/bundle.rs
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

`bom.strict` flag for `pcb publish` (#880)
  CHANGELOG.md
  crates/pcbc/src/bundle.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

feat(sandbox): stream layout writes
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

Improve remote layout sync recovery
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

Improve remote layout sync recovery (#881)
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(remote-sync): backport remote layout sync recovery to 0.3 (#882)
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

Release v0.3.93
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

MCAD-driven placement: apply IDF fixed positions to layout
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-mechanical/Cargo.toml
  crates/pcb-mechanical/src/datum.rs
  crates/pcb-mechanical/src/idf.rs
  crates/pcb-mechanical/src/lib.rs
  crates/pcb-mechanical/src/locate.rs
  crates/pcb-mechanical/src/mcad.rs
  crates/pcb-mechanical/src/placement.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/src/layout.rs
  examples/.gitignore
  examples/usbc_mcad/README.md
  examples/usbc_mcad/board.zen
  examples/usbc_mcad/mechanical/footprint-datums.toml
  examples/usbc_mcad/mechanical/usbc_mcad.emn
  examples/usbc_mcad/pcb.toml
  examples/usbc_mcad/usbc.zen
Due: ty, cargo-fmt, clippy

fix(ci): publish stdlib archives for 0.3 releases
  .github/workflows/pcbc-release.yml
Due: none

fix(changelog): publish 0.3.93 notes on main
  CHANGELOG.md
Due: none

add debounced switch
  examples/DebouncedButton/DebouncedButton.zen
  examples/DebouncedButton/pcb.toml
Due: none

fix button input convention
  examples/DebouncedButton/DebouncedButton.zen
Due: none

Update examples/DebouncedButton/DebouncedButton.zen
  examples/DebouncedButton/DebouncedButton.zen
Due: none

Sync skills from diode 3266d72
  skills/zener-language/SKILL.md
Due: none

Make read commands dependency-state read-only
  CHANGELOG.md
  crates/pcb-zen/src/lsp/mod.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/bom.rs
  crates/pcbc/src/build.rs
  crates/pcbc/src/bundle.rs
  crates/pcbc/src/info.rs
  crates/pcbc/src/layout.rs
  crates/pcbc/src/open.rs
  crates/pcbc/src/publish.rs
  crates/pcbc/src/release.rs
  crates/pcbc/src/remote_sandbox.rs
  crates/pcbc/src/resolve.rs
  crates/pcbc/src/route.rs
  crates/pcbc/src/sim.rs
  crates/pcbc/src/test.rs
  crates/pcbc/src/vendor.rs
  crates/pcbc/tests/auto_deps.rs
  crates/pcbc/tests/build.rs
  crates/pcbc/tests/simple.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Remove obsolete sync dependency cruft
  CHANGELOG.md
  crates/pcb-canonical/src/lib.rs
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-test-utils/src/snapdir.rs
  crates/pcb-zen/src/package_resolver/mvs.rs
  crates/pcb-zen/src/package_resolver/scan.rs
  crates/pcbc/src/import/flow.rs
  crates/pcbc/tests/info.rs
  crates/pcbc/tests/simple.rs
  crates/pcbc/tests/snapshots/auto_deps__auto_deps_branch_dep_pins_rev_and_builds.snap
  crates/pcbc/tests/snapshots/auto_deps__auto_deps_kicad_dynamic_path_pcb_toml.snap
  crates/pcbc/tests/snapshots/auto_deps__auto_deps_kicad_footprints_pcb_toml.snap
  crates/pcbc/tests/snapshots/auto_deps__auto_deps_kicad_symbols_pcb_toml.snap
  crates/pcbc/tests/snapshots/auto_deps__auto_deps_multiple_pcb_toml.snap
  crates/pcbc/tests/snapshots/auto_deps__auto_deps_stdlib_pcb_toml.snap
  crates/pcbc/tests/snapshots/release__publish_full.snap
  crates/pcbc/tests/snapshots/release__publish_source_only.snap
  crates/pcbc/tests/snapshots/release__publish_with_description.snap
  crates/pcbc/tests/snapshots/release__publish_with_file.snap
  crates/pcbc/tests/snapshots/release__publish_with_version.snap
  crates/pcbc/tests/snapshots/tag__publish_board_simple_workspace.snap
  crates/pcbc/tests/sync.rs
Due: cargo-fmt, clippy

Remove workspace members compatibility
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/migrate/mod.rs
  crates/pcbc/src/mod/mod.rs
  crates/pcbc/tests/migrate.rs
  crates/pcbc/tests/simple.rs
  docs/pages/packages.mdx
  test-workspaces/with-pcb-toml/boards/pcb.toml
Due: cargo-fmt, clippy

Exclude lockfile from package hashes
  CHANGELOG.md
  crates/pcb-canonical/src/lib.rs
  crates/pcb-zen/tests/canonical_snapshot.rs
Due: cargo-fmt, clippy

Hydrate CI workspaces before read-only checks
  .github/workflows/build-perf.yml
  .github/workflows/wasm.yml
  CHANGELOG.md
  crates/pcb-layout/tests/resources/multi_pads/pcb.toml
  crates/pcb-layout/tests/resources/netclass_assignment/pcb.toml
  crates/pcb-layout/tests/resources/not_connected_single_pin_multi_pad/pcb.toml
  crates/pcbc/src/info.rs
  crates/pcbc/tests/snapshots/info__human_with_external_dependencies.snap
  crates/pcbc/tests/snapshots/info__json_with_external_dependencies.snap
Due: cargo-fmt, clippy

Always use frozen dependency resolution
  .github/workflows/build-perf.yml
  .github/workflows/wasm.yml
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/package_resolver/resolve.rs
Due: cargo-fmt, clippy

Use frozen package roots for active eval root
  CHANGELOG.md
  crates/pcb-zen-core/src/resolution.rs
Due: cargo-fmt, clippy

Externalize stdlib artifact handling
  CHANGELOG.md
  Cargo.lock
  crates/pcb-docgen/README.md
  crates/pcb-zen-core/Cargo.toml
  crates/pcb-zen-core/src/embedded_stdlib.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/stdlib.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/component_footprint_inference.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen-wasm/README.md
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/cache_index.rs
  crates/pcbc/src/release.rs
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
