Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Nuke vdom
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
  uv.lock
Due: ty

Make snapshots stable
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
Due: ty

Make hier place more hierarchy
  crates/pcb-layout/README.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
Due: ty

Unified placement logic
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_hierplace.py
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
Due: ty

Address Comment
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

fmt
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

GUT placement
  crates/pcb-layout/README.md
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
Due: ty

Repurpose Net Kind (#476)
  crates/pcb-layout/src/repair_nets.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/tests/snapshots/input__config_types.snap
  crates/pcb-zen-core/tests/snapshots/spice_model__model_parsing.snap
  crates/pcb/Cargo.toml
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
Due: cargo-fmt, clippy

No warnings on unnamed NotConnected nets
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

Fix stale swig handle issue
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

debug
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_swig_stability.py
Due: ty

No warnings on unnamed NotConnected nets (#477)
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

Support old boards without paths
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/types.py
Due: ty

Fix existing bbox computation
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Fail fast
  crates/pcb-layout/src/scripts/lens/changeset.py
Due: ty

Address PR comments
  .github/workflows/test.yml
  crates/pcb-layout/src/scripts/lens/tests/test_hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
  pyproject.toml
  uv.lock
Due: ty

Simplify net type tracking by using introduced_nets as source of truth
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/tests/snapshots/input__config_types.snap
  crates/pcb-zen-core/tests/snapshots/spice_model__model_parsing.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
Due: cargo-fmt, clippy

Update CHANGELOG
  CHANGELOG.md
Due: none

Simplify net type tracking by using `introduced_nets` as source of truth (#479)
  CHANGELOG.md
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/tests/snapshots/input__config_types.snap
  crates/pcb-zen-core/tests/snapshots/spice_model__model_parsing.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.4
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.4 (#480)
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

NotConnected net type promotion
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/net.rs
  crates/pcb-zen-core/tests/snapshots/net__ground_cannot_promote_to_not_connected.snap
  crates/pcb-zen-core/tests/snapshots/net__net_cannot_promote_to_not_connected.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_custom_type.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_ground.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_net.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_power.snap
  crates/pcb-zen-core/tests/snapshots/net__power_cannot_promote_to_not_connected.snap
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/snapshots/netlist__netlist_not_connected_promotion.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

NotConnected net type promotion (#481)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/net.rs
  crates/pcb-zen-core/tests/snapshots/net__ground_cannot_promote_to_not_connected.snap
  crates/pcb-zen-core/tests/snapshots/net__net_cannot_promote_to_not_connected.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_custom_type.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_ground.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_net.snap
  crates/pcb-zen-core/tests/snapshots/net__not_connected_promotes_to_power.snap
  crates/pcb-zen-core/tests/snapshots/net__power_cannot_promote_to_not_connected.snap
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/snapshots/netlist__netlist_not_connected_promotion.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Handle NotConnected pads in layout sync correctly
  CHANGELOG.md
  crates/pcb-layout/src/repair_nets.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/resources/not_connected/Board.zen
  crates/pcb-layout/tests/resources/not_connected/pcb.toml
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
Due: ty, cargo-fmt, clippy

NotConnected nets exploded to unique nets in get()
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
Due: ty

Handle `NotConnected` pads in layout sync correctly (#482)
  CHANGELOG.md
  crates/pcb-layout/src/repair_nets.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/resources/not_connected/Board.zen
  crates/pcb-layout/tests/resources/not_connected/pcb.toml
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
Due: ty, cargo-fmt, clippy

Release v0.3.30
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Apply net type promotion to io() defaults
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/net.rs
  crates/pcb-zen-core/tests/snapshots/net__io_default_not_connected_promotes_to_net.snap
Due: cargo-fmt, clippy

Apply net type promotion to io() defaults (#483)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/net.rs
  crates/pcb-zen-core/tests/snapshots/net__io_default_not_connected_promotes_to_net.snap
Due: cargo-fmt, clippy

Auto convert strings to PhysicalValue/PhysicalRange
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen-core/tests/snapshots/input__config_string_to_physical_range.snap
  crates/pcb-zen-core/tests/snapshots/input__config_string_to_physical_value.snap
Due: cargo-fmt, clippy

Auto convert strings to PhysicalValue/PhysicalRange (#484)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen-core/tests/snapshots/input__config_string_to_physical_range.snap
  crates/pcb-zen-core/tests/snapshots/input__config_string_to_physical_value.snap
Due: cargo-fmt, clippy

Release v0.3.31
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Deduplicate pin names when generating component zen
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Deduplicate pin names when generating component zen (#485)
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Unify PhysicalValue, PhysicalRange
  crates/pcb-docgen/src/parser.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-sch/src/physical.rs
  crates/pcb-zen-core/src/lang/builtin.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb-zen/tests/snapshots/test_physical__physical_types.snap
  crates/pcb-zen/tests/test_physical.rs
  crates/pcb-zen/tests/test_physical_constructor_casting.rs
  crates/pcb/tests/snapshots/bom__bom_capacitors_json.snap
  crates/pcb/tests/snapshots/bom__bom_json.snap
  crates/pcb/tests/snapshots/bom__bom_module_dnp_json.snap
  crates/pcb/tests/snapshots/bom__bom_simple_resistors_json.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Reject negative tolerances
  crates/pcb-sch/src/physical.rs
  crates/pcb-zen/tests/test_physical_negative_tolerance.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Address PR comments
  crates/pcb-sch/src/physical.rs
Due: cargo-fmt, clippy

Add changelog entry
  CHANGELOG.md
Due: none
