Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Coerce physical values in net fields (#698)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/mod.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/type_conversion.rs
  crates/pcb-zen-core/tests/net.rs
  docs/pages/spec.mdx
  examples/power_checks.zen
Due: cargo-fmt, clippy

Download only datasheet PDFs for web components
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/mcp.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcb/src/new.rs
Due: cargo-fmt, clippy

Stop auto-scanning datasheets during component generation
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Show datasheet path after component download
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Component generation no longer automatically scans datasheets (#696)
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/mcp.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcb/src/new.rs
Due: cargo-fmt, clippy

Place component datasheets under docs/
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Place component datasheets under docs/ (#700)
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

Bump stdlib KiCad asset pin to 10.0.0
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/symbol.rs
  crates/pcb/tests/auto_deps.rs
  crates/pcb/tests/bom.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/release.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_dynamic_path_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_footprints_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_symbols_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_multiple_pcb_toml.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
  crates/pcb/tests/tag.rs
  crates/pcb/tests/test_bench.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
  pcb.toml
Due: cargo-fmt, clippy

Update crystal generic for KiCad 10 pin names
  stdlib/generics/Crystal.zen
Due: none

Update snapshots
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
Due: none

Migrate stdlib to KiCad 10 symbols + footprints (#701)
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/symbol.rs
  crates/pcb/tests/auto_deps.rs
  crates/pcb/tests/bom.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/release.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_dynamic_path_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_footprints_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_symbols_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_multiple_pcb_toml.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
  crates/pcb/tests/tag.rs
  crates/pcb/tests/test_bench.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
  pcb.toml
  stdlib/generics/Crystal.zen
Due: cargo-fmt, clippy

Canonicalize file-backed KiCad footprint IDs
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-sch/src/kicad_netlist.rs
Due: ty, cargo-fmt, clippy

Delete deprecated stdlib files
  stdlib/kicad/MolexPicoBlade.zen
  stdlib/kicad/PinHeader.zen
  stdlib/kicad/PinSocket.zen
  stdlib/kicad/SolderWire.zen
  stdlib/kicad/TagConnect.zen
  stdlib/kicad/test/test_MolexPicoblade.zen
  stdlib/kicad/test/test_SolderWire.zen
  stdlib/kicad/test/test_TagConnect.zen
  stdlib/metadata.zen
  stdlib/pins.zen
Due: none

Stabilize via type snapshots across KiCad versions
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
Due: ty

Open layouts with the discovered pcbnew
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/open.rs
  crates/pcb/src/route.rs
Due: cargo-fmt, clippy

Open routed boards only once per session
  crates/pcb/src/route.rs
Due: cargo-fmt, clippy

Use LaunchServices to open pcbnew on macOS
  crates/pcb-kicad/src/lib.rs
Due: cargo-fmt, clippy

Scrub macOS sidecars from KiCad caches
  crates/pcb-zen/src/resolve.rs
Due: cargo-fmt, clippy

Fix tests
  crates/pcb-zen/src/resolve.rs
  crates/pcb-zen/tests/kicad_inference_snapshot.rs
  crates/pcb-zen/tests/snapshots/kicad_inference_snapshot__snapshot_kicad_symbol_footprint_inference.snap
Due: cargo-fmt, clippy

Normalize KiCad footprint library names
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-zen/tests/snapshots/kicad_inference_snapshot__snapshot_kicad_symbol_footprint_inference.snap
Due: ty, cargo-fmt, clippy

fix(stdlib): remove 1210 10uF house cap
  CHANGELOG.md
  stdlib/bom/match_generics.zen
Due: none

fix(stdlib): remove 1210 10uF house cap (#699)
  CHANGELOG.md
  stdlib/bom/match_generics.zen
Due: none

Stabilize via type snapshots across KiCad versions (#708)
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
Due: ty

Scrub macOS sidecars from KiCad caches (#705)
  crates/pcb-zen/src/resolve.rs
Due: cargo-fmt, clippy

Open layouts with the discovered pcbnew (#706)
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/open.rs
  crates/pcb/src/route.rs
Due: cargo-fmt, clippy

Normalize KiCad footprint library names (#707)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-zen/tests/snapshots/kicad_inference_snapshot__snapshot_kicad_symbol_footprint_inference.snap
Due: ty, cargo-fmt, clippy

Implement ENG-248 net name inference
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/tests/name_inference.rs
  crates/pcb-zen-core/tests/snapshots/input__io_interface_incompatible.snap
  crates/pcb-zen/tests/snapshots/input__correct_usage_with_explicit_net_access.snap
  crates/pcb-zen/tests/snapshots/input__interface_input.snap
  crates/pcb-zen/tests/snapshots/input__module_io_rejects_interface_when_net_expected.snap
  crates/pcb-zen/tests/snapshots/interface_templates_snapshot__interface_mixed_templates_and_types.snap
  crates/pcb-zen/tests/snapshots/test__net_passing.snap
  crates/pcb/tests/snapshots/build__inline_manifest_unnamed_net_warning.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Clean up inferred net names in docs and examples
  docs/pages/antenna_matching_network.mdx
  docs/pages/spec.mdx
  examples/HighSideCurrentSense/HighSideCurrentSense.zen
  examples/PhaseDriver/PhaseDriver.zen
  examples/typed_nets.zen
Due: none

style(stdlib): format zen files
  stdlib/bom/match_generics.zen
  stdlib/generics/Crystal.zen
  stdlib/generics/Fiducial.zen
  stdlib/generics/Led.zen
  stdlib/generics/MountingHole.zen
  stdlib/generics/NetTie.zen
  stdlib/generics/PinHeader.zen
  stdlib/generics/SolderJumper.zen
  stdlib/generics/Standoff.zen
  stdlib/generics/TerminalBlock.zen
  stdlib/generics/Thermistor.zen
Due: none

ci: check stdlib zen formatting
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Implement ENG-248 net name inference (#704)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/tests/name_inference.rs
  crates/pcb-zen-core/tests/snapshots/input__io_interface_incompatible.snap
  crates/pcb-zen/tests/snapshots/input__correct_usage_with_explicit_net_access.snap
  crates/pcb-zen/tests/snapshots/input__interface_input.snap
  crates/pcb-zen/tests/snapshots/input__module_io_rejects_interface_when_net_expected.snap
  crates/pcb-zen/tests/snapshots/interface_templates_snapshot__interface_mixed_templates_and_types.snap
  crates/pcb-zen/tests/snapshots/test__net_passing.snap
  crates/pcb/tests/snapshots/build__inline_manifest_unnamed_net_warning.snap
  docs/pages/antenna_matching_network.mdx
  docs/pages/spec.mdx
  examples/HighSideCurrentSense/HighSideCurrentSense.zen
  examples/PhaseDriver/PhaseDriver.zen
  examples/typed_nets.zen
Due: cargo-fmt, clippy

style(stdlib): format zen files (#709)
  .github/workflows/test.yml
  .pre-commit-config.yaml
  stdlib/bom/match_generics.zen
  stdlib/generics/Crystal.zen
  stdlib/generics/Fiducial.zen
  stdlib/generics/Led.zen
  stdlib/generics/MountingHole.zen
  stdlib/generics/NetTie.zen
  stdlib/generics/PinHeader.zen
  stdlib/generics/SolderJumper.zen
  stdlib/generics/Standoff.zen
  stdlib/generics/TerminalBlock.zen
  stdlib/generics/Thermistor.zen
Due: none

Warn on top-level variable rebinding
  crates/pcb-zen-core/src/lang/binding.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/mod.rs
  crates/pcb-zen-core/tests/binding.rs
  stdlib/generics/Capacitor.zen
  stdlib/generics/FerriteBead.zen
  stdlib/generics/Tvs.zen
Due: cargo-fmt, clippy

Remove unused definitely_bound scope state
  crates/pcb-zen-core/src/lang/binding.rs
Due: cargo-fmt, clippy

test fixes
  crates/pcb-zen-core/tests/component_footprint_inference.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen-core/tests/net.rs
  crates/pcb/tests/simple.rs
Due: cargo-fmt, clippy

Make changelog more consistent
  CHANGELOG.md
Due: none

Add hidden `pcb embed-step` command
  Cargo.lock
  crates/pcb-diode-api/src/component.rs
  crates/pcb-kicad/Cargo.toml
  crates/pcb-kicad/src/footprint.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/embed_step.rs
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

Expose unset net voltage as None
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/net.rs
  crates/pcb-zen-core/tests/snapshots/net__net_base_attrs_unset.snap
  crates/pcb-zen-core/tests/snapshots/net__net_cast_base_attrs.snap
  stdlib/checks.zen
  stdlib/generics/Capacitor.zen
  stdlib/generics/Tvs.zen
  stdlib/interfaces.zen
Due: cargo-fmt, clippy

Add hidden `pcb embed-step` command (#710)
  Cargo.lock
  crates/pcb-diode-api/src/component.rs
  crates/pcb-kicad/Cargo.toml
  crates/pcb-kicad/src/footprint.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/embed_step.rs
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy
