Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

Add PCB Git credential helper
  CHANGELOG.md
  Cargo.lock
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Isolate Git credential tests from logging
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Limit Git credentials to DiodeHub
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Normalize credential test path on Windows
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Add PCB Git credential helper (#959)
  CHANGELOG.md
  Cargo.lock
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Release v0.4.13
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Configure PCB Git credential helper
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Cache PCB Git credentials in Git
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

test: avoid Windows socket path rendering assertion
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Sync skills from diode 07bc31e
  skills/librarian/SKILL.md
Due: none

Authenticate PCB-owned Git operations
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-zen/src/git.rs
  crates/pcbc/src/new.rs
Due: cargo-fmt, clippy

Make PCB Git network commands noninteractive
  crates/pcb-zen/src/git.rs
Due: cargo-fmt, clippy

Authenticate PCB-owned Git operations (#962)
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-zen/src/git.rs
  crates/pcbc/src/new.rs
Due: cargo-fmt, clippy

Sync skills from diode 1f1cd39
  skills/datasheet-reader/SKILL.md
  skills/registry-search/SKILL.md
  skills/spice-sim/SKILL.md
  skills/zener-language/SKILL.md
Due: none

Add pin-capability model: peripheral/pool/pin_request builtins + pin_solve solver
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/mod.rs
  crates/pcb-zen-core/src/lang/pinmux.rs
  crates/pcb-zen-core/tests/pinmux.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Generalize pin() af= into opaque realization data=
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/pinmux.rs
  crates/pcb-zen-core/tests/pinmux.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Sync skills from diode e2f9f67
  skills/librarian/SKILL.md
Due: none

Optimal pin assignment, io() slot pattern, pin_map()
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/pinmux.rs
  crates/pcb-zen-core/tests/pinmux.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Move registry migration to pcb migrate
  CHANGELOG.md
  Cargo.lock
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/load_spec.rs
  crates/pcb-zen-core/src/package_url.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/package_resolver/manifest.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/src/migrate/mod.rs
  crates/pcbc/src/migrate/registry.rs
  crates/pcbc/src/mod/mod.rs
  crates/pcbc/src/mod/writeback.rs
  crates/pcbc/tests/migrate.rs
  crates/pcbc/tests/sync.rs
Due: cargo-fmt, clippy

Move registry migration to pcb migrate (#963)
  CHANGELOG.md
  Cargo.lock
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/load_spec.rs
  crates/pcb-zen-core/src/package_url.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/package_resolver/manifest.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/src/migrate/mod.rs
  crates/pcbc/src/migrate/registry.rs
  crates/pcbc/src/mod/mod.rs
  crates/pcbc/src/mod/writeback.rs
  crates/pcbc/tests/migrate.rs
  crates/pcbc/tests/sync.rs
Due: cargo-fmt, clippy

ci: drop Intel macOS builds
  .github/workflows/pcb-release.yml
  .github/workflows/pcbc-nightly.yml
  .github/workflows/pcbc-release.yml
Due: none

ci: migrate workflows to Blacksmith runners
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/pcb-release.yml
  .github/workflows/pcb-version-bump.yml
  .github/workflows/pcbc-nightly.yml
  .github/workflows/pcbc-release.yml
  .github/workflows/pcbc-version-bump.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

ci: refresh Rust and pin macOS KiCad
  .github/build-setup.yml
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/pcb-release.yml
  .github/workflows/pcb-version-bump.yml
  .github/workflows/pcbc-release.yml
  .github/workflows/pcbc-version-bump.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

ci: update KiCad to 10.0.5
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

fix: preserve duplicated KiCad item types
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

ci: remove checkout mirror caching
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/pcb-release.yml
  .github/workflows/pcb-version-bump.yml
  .github/workflows/pcbc-nightly.yml
  .github/workflows/pcbc-release.yml
  .github/workflows/pcbc-version-bump.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

ci: support git mirrors in KiCad containers
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

fix: remove redundant formatting borrows
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/release.rs
Due: cargo-fmt, clippy

ci: enable Blacksmith checkout caching
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/pcb-release.yml
  .github/workflows/pcb-version-bump.yml
  .github/workflows/pcbc-nightly.yml
  .github/workflows/pcbc-release.yml
  .github/workflows/pcbc-version-bump.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

chore: remove KiCad CI changelog entry
  CHANGELOG.md
Due: none

ci: limit checkout caching to native Linux
  .github/workflows/e2e.yml
  .github/workflows/pcb-release.yml
  .github/workflows/pcbc-nightly.yml
  .github/workflows/pcbc-release.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

fix: satisfy current stable Clippy
  crates/pcb-sch/src/physical.rs
Due: cargo-fmt, clippy

fix: use KiCad base duplication wrapper
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

ci: cache checkouts inside container jobs
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/pcb-release.yml
  .github/workflows/pcb-version-bump.yml
  .github/workflows/pcbc-nightly.yml
  .github/workflows/pcbc-release.yml
  .github/workflows/pcbc-version-bump.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

ci: keep Linux on available KiCad image
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

ci: use KiCad 10.0.5 universally
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
Due: none

fix: reject unsupported Intel Macs
  CHANGELOG.md
  crates/pcb/src/main.rs
  install.sh
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
