Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Ignore layout log, snapshot files
  .gitignore
  stdlib/test/layout/test_BoardConfig/layout.log
  stdlib/test/layout/test_BoardConfig/snapshot.layout.json
Due: none

Fix wasm stdlib root directory listing
  CHANGELOG.md
  crates/pcb-zen-wasm/src/lib.rs
Due: cargo-fmt, clippy

Simplify stdlib ignore in resolver
  crates/pcb-zen/src/resolve.rs
Due: cargo-fmt, clippy

update `pcb publish` behavior
  crates/pcb/src/main.rs
  crates/pcb/src/preview.rs
  crates/pcb/src/publish.rs
  crates/pcb/tests/release.rs
  crates/pcb/tests/snapshots/release__publish_board_requires_noninteractive_choice.snap
  crates/pcb/tests/snapshots/simple__help.snap
  crates/pcb/tests/tag.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Fix dry-run and no-push publish side effects
  crates/pcb/src/publish.rs
Due: cargo-fmt, clippy

Align stdlib layout-json exclude glob
  crates/pcb-zen-core/src/embedded_stdlib.rs
Due: cargo-fmt, clippy

simplify wasm stdlib path handling and filtering
  crates/pcb-zen-core/src/embedded_stdlib.rs
  crates/pcb-zen-wasm/src/lib.rs
  stdlib/bom/manufactuers/wurth_electronik.zen
Due: cargo-fmt, clippy

Fix typo: manufactuers -> manufacturers
  stdlib/bom/manufacturers/wurth_electronik.zen
  stdlib/bom/match_generics.zen
Due: none

Bump stdlib in bench test workspace
  test-workspaces/bench/bmi270.zen
  test-workspaces/bench/lm5163q1.zen
  test-workspaces/bench/pcb.sum
  test-workspaces/bench/pcb.toml
  test-workspaces/bench/sequential-matchers/bench.zen
  test-workspaces/bench/sequential-matchers/module.zen
  test-workspaces/bench/tc1/bench.zen
  test-workspaces/bench/tc1/board.zen
  test-workspaces/bench/tc1/module.zen
  test-workspaces/bench/tc1/sub_module.zen
Due: none

Simplify stdlib fork flow and remove semantics
  crates/pcb-zen/src/fork.rs
  crates/pcb/src/fork.rs
Due: cargo-fmt, clippy

add zone priority to the sync options
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
Due: ty

add a zone priority bias
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
Due: ty

Release v0.3.52
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Auto-dep resolves relative paths that cross workspace member boundaries
  CHANGELOG.md
  crates/pcb-zen/src/auto_deps.rs
  crates/pcb/tests/auto_deps.rs
Due: cargo-fmt, clippy

Auto-dep resolves relative paths that cross workspace member boundaries (#608)
  CHANGELOG.md
  crates/pcb-zen/src/auto_deps.rs
  crates/pcb/tests/auto_deps.rs
Due: cargo-fmt, clippy

Migrate pcb new to subcommands and drop search --dir
  .agents/skills/pcb/SKILL.md
  .github/workflows/e2e.yml
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb/src/import/materialize.rs
  crates/pcb/src/new.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Migrate pcb new to subcommands and drop search --dir (#609)
  .agents/skills/pcb/SKILL.md
  .github/workflows/e2e.yml
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb/src/import/materialize.rs
  crates/pcb/src/new.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Support URL input for datasheet scanning
  CHANGELOG.md
  Cargo.lock
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/scan.rs
  crates/pcb/src/main.rs
  crates/pcb/tests/snapshots/simple__help.snap
Due: cargo-fmt, clippy

Simplify scan CLI by removing model/json paths
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/scan.rs
Due: cargo-fmt, clippy

Validate on parse
  crates/pcb-diode-api/src/scan.rs
Due: cargo-fmt, clippy

Support URL input for datasheet scanning (#610)
  CHANGELOG.md
  Cargo.lock
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcb/src/main.rs
  crates/pcb/tests/snapshots/simple__help.snap
Due: cargo-fmt, clippy

Restructure spec.mdx around practical Zener usage
  docs/pages/spec.mdx
Due: none

Fix broken spec#net anchor link to spec#nets
  docs/pages/antenna_matching_network.mdx
Due: none

Address comments
  docs/pages/spec.mdx
Due: none

Restructure spec.mdx around practical Zener usage (#612)
  docs/pages/antenna_matching_network.mdx
  docs/pages/spec.mdx
Due: none

Add Part to stdlib prelude and update all usage
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen/tests/part.rs
  crates/pcb/tests/part.rs
  docs/pages/spec.mdx
  examples/AD7171/AD7171.zen
  examples/INA240A/INA240A.zen
  examples/L6387E/L6387E.zen
  examples/PhaseDriver/PhaseDriver.zen
  stdlib/properties.zen
  test-workspaces/with-pcb-toml/boards/WorkspaceTestBoard.zen
Due: cargo-fmt, clippy

Add Part to stdlib prelude and update all usage (#613)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen/tests/part.rs
  crates/pcb/tests/part.rs
  docs/pages/spec.mdx
  examples/AD7171/AD7171.zen
  examples/INA240A/INA240A.zen
  examples/L6387E/L6387E.zen
  examples/PhaseDriver/PhaseDriver.zen
  stdlib/properties.zen
  test-workspaces/with-pcb-toml/boards/WorkspaceTestBoard.zen
Due: cargo-fmt, clippy

fix: report detected cycles during resolution
  crates/pcb/src/publish.rs
Due: cargo-fmt, clippy

fix: report detected cycles during resolution (#614)
  crates/pcb/src/publish.rs
Due: cargo-fmt, clippy

Add `pcb doc --install`
  CHANGELOG.md
  crates/pcb/src/doc.rs
  crates/pcb/src/main.rs
  crates/pcb/src/self_update.rs
Due: cargo-fmt, clippy

Add `pcb doc --install` (#615)
  CHANGELOG.md
  crates/pcb/src/doc.rs
  crates/pcb/src/main.rs
  crates/pcb/src/self_update.rs
Due: cargo-fmt, clippy

Add back range aliases to stdlib
  CHANGELOG.md
  stdlib/units.zen
Due: none

Add back range aliases to stdlib (#616)
  CHANGELOG.md
  stdlib/units.zen
Due: none

Remove obsolete stdlib-version-check workflow
  .github/workflows/stdlib-version-check.yml
Due: none

Use in-repo stdlib for e2e tests
  .github/workflows/e2e.yml
Due: none
