Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

feat(pcb): add native KiCad URL launcher
  .github/workflows/pcb-release.yml
  CHANGELOG.md
  Cargo.lock
  README.md
  crates/pcb-kicad/src/lib.rs
  crates/pcb-launcher/Cargo.toml
  crates/pcb-launcher/src/main.rs
  crates/pcb/src/main.rs
  crates/pcbc/src/main.rs
  crates/pcbc/src/recovery_dialog.rs
  crates/pcbc/src/remote_sandbox.rs
  install.ps1
  install.sh
Due: cargo-fmt, clippy

fix(pcbc): treat zenity extra-button as discard
  crates/pcbc/src/recovery_dialog.rs
Due: cargo-fmt, clippy

fix(pcb): harden launcher recovery choices
  CHANGELOG.md
  README.md
  crates/pcb-launcher/src/main.rs
  crates/pcb/src/main.rs
  crates/pcbc/src/recovery_dialog.rs
  crates/pcbc/src/remote_sandbox.rs
  install.ps1
  install.sh
Due: cargo-fmt, clippy

fix(pcb): abort open when recovery is deferred
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

fix(pcb): prevent concurrent recovery sessions
  crates/pcb-kicad/src/lib.rs
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

fix(pcb): re-arm editor guard after restored sessions
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

fix(pcb): guard restored editor sessions
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

Use API BOM offer order (ENG-739) (#1047)
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/tests/fixtures/bom_match_api_order.json
  crates/pcb-sch/src/bom/availability.rs
  crates/pcb-sch/src/bom/mod.rs
  crates/pcb-sch/src/bom_table.rs
Due: cargo-fmt, clippy

Fall back to the other rail pair for board array tooling
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array/mod.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tooling.rs
Due: cargo-fmt, clippy

Fall back to the other rail pair for board array tooling (#1049)
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array/mod.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tooling.rs
Due: cargo-fmt, clippy

Release v0.4.29
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add Cloud Agent environment (Debian 12 + KiCad 10, Rust, uv)
  .cursor/Dockerfile
  .cursor/environment.json
  .cursor/install.sh
Due: none

Skip build performance comments for fork PRs
  .github/workflows/build-perf.yml
Due: none

Skip build performance comments for fork PRs (#1051)
  .github/workflows/build-perf.yml
Due: none

Resolve nested packages from the longest existing git prefix.
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/package_resolver/versions.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/doc.rs
  crates/pcbc/src/mod/request.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Probe every 3- and 4-segment prefix before cloning a remote package.
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/git.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Try SSH after an HTTPS not-found when probing repo prefixes.
  crates/pcb-zen/src/git.rs
Due: cargo-fmt, clippy

Shorten the changelog and use the crate-level splitter API.
  CHANGELOG.md
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/lib.rs
  crates/pcbc/src/doc.rs
  crates/pcbc/src/mod/request.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Resolve nested DiodeHub packages from the owning git repo (#1052)
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen/src/cache_index.rs
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb-zen/src/package_resolver/versions.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/doc.rs
  crates/pcbc/src/mod/request.rs
Due: cargo-fmt, clippy

Release v0.4.30
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Fix UTF-8 BOM description truncation
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-sch/src/bom/core.rs
Due: cargo-fmt, clippy

Preserve nested routing group ownership
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
Due: ty

Sync skills from diode 3a845e3
  skills/librarian/SKILL.md
Due: none

pcb-component-gen: uniquify colliding sanitized pin names instead of failing
  crates/pcb-component-gen/src/lib.rs
Due: cargo-fmt, clippy

pcb-component-gen: detect pin name collisions before writing .zen file
  crates/pcb-component-gen/src/lib.rs
Due: cargo-fmt, clippy

chore: move pin-name uniquification entry to [Unreleased]
  CHANGELOG.md
Due: none

Move changelog to unreleased
  CHANGELOG.md
Due: none

pcb-component-gen: uniquify pin names against assigned identifiers
  crates/pcb-component-gen/src/lib.rs
Due: cargo-fmt, clippy

pcb-component-gen: detect pin name collisions before writing .zen file (#1044)
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
Due: cargo-fmt, clippy

Sync skills from diode d490079
  skills/librarian/SKILL.md
  skills/zener-language/SKILL.md
Due: none

Add --sync-footprints layout option
  CHANGELOG.md
  crates/pcb-layout/README.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_pad_net_map.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/integration.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/moved.rs
  crates/pcb-layout/tests/sync_footprints.rs
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
  crates/pcbc/src/remote_sandbox.rs
Due: ty, cargo-fmt, clippy

Keep refreshed footprints in placement anchor
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Distinguish board-array fiducials by surface
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array/mod.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tooling.rs
Due: cargo-fmt, clippy

Simplify fiducial point types
  crates/pcb-ipc2581-tools/src/commands/board_array/tooling.rs
Due: cargo-fmt, clippy

ENG-848 Add --sync-footprints layout option (#1055)
  CHANGELOG.md
  crates/pcb-layout/README.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_pad_net_map.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/integration.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/moved.rs
  crates/pcb-layout/tests/sync_footprints.rs
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
  crates/pcbc/src/remote_sandbox.rs
Due: ty, cargo-fmt, clippy

feat(cli): add schematic apply reconciliation
  Cargo.lock
  crates/pcb-kicad-sch/Cargo.toml
  crates/pcb-kicad-sch/src/analysis.rs
  crates/pcb-kicad-sch/src/apply.rs
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/connectivity/kicad.rs
  crates/pcb-kicad-sch/src/connectivity/mod.rs
  crates/pcb-kicad-sch/src/field_autoplace.rs
  crates/pcb-kicad-sch/src/kicad.rs
  crates/pcb-kicad-sch/src/lib.rs
  crates/pcb-kicad-sch/src/patch.rs
  crates/pcb-kicad-sch/src/repair.rs
  crates/pcb-kicad-sch/src/root_interface.rs
  crates/pcb-kicad-sch/src/symbol.rs
  crates/pcb-kicad-sch/test-data/analysis/simple.zen
  crates/pcb-kicad-sch/tests/apply_flow.rs
  crates/pcb-kicad-sch/tests/common/mod.rs
  crates/pcb-kicad-sch/tests/repair_planning.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/net.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/src/apply.rs
  crates/pcbc/src/build.rs
  crates/pcbc/src/layout.rs
  crates/pcbc/src/main.rs
  crates/pcbc/src/publish.rs
  crates/pcbc/src/release.rs
  crates/pcbc/src/schematic_diagnostics.rs
  crates/pcbc/tests/apply.rs
  crates/pcbc/tests/integration.rs
  crates/pcbc/tests/layout.rs
  lib/std/properties.zen
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
