Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Address PR comments
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-sch/src/lib.rs
  crates/pcb/src/open.rs
  crates/pcb/src/route.rs
Due: ty, cargo-fmt, clippy

Fix pytest failures
  crates/pcb-layout/src/scripts/lens/tests/test_regressions.py
  crates/pcb-layout/src/scripts/lens/tests/test_swig_stability.py
Due: ty

Replace package uris with relative paths in footprint properties
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
Due: ty

Tolerate relative path in `footprint=` (instead of package uri)
  crates/pcb-zen-core/src/lang/component.rs
Due: cargo-fmt, clippy

Tolerate relative path as "layout_path"
  crates/pcb-zen-core/src/lang/eval.rs
Due: cargo-fmt, clippy

Fix `pcb publish` in board dir
  CHANGELOG.md
  crates/pcb/src/file_walker.rs
Due: cargo-fmt, clippy

Add regression test
  crates/pcb/tests/release.rs
Due: cargo-fmt, clippy

Fix `pcb publish` in board dir (#530)
  CHANGELOG.md
  crates/pcb/src/file_walker.rs
  crates/pcb/tests/release.rs
Due: cargo-fmt, clippy

Use nextest in CI
  .config/nextest.toml
  .github/workflows/test.yml
Due: none

Use nextest in CI (#532)
  .config/nextest.toml
  .github/workflows/test.yml
Due: none

Release v0.3.40
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Harden `pcb import` passive value parsing
  CHANGELOG.md
  crates/pcb/src/import/semantic.rs
Due: cargo-fmt, clippy

Use single label matcher for windows runner
  .github/workflows/test.yml
  dist-workspace.toml
Due: none

Harden `pcb import` passive value parsing (#533)
  CHANGELOG.md
  crates/pcb/src/import/semantic.rs
Due: cargo-fmt, clippy

Use single label matcher for windows runner (#534)
  .github/workflows/test.yml
  dist-workspace.toml
Due: none

Release v0.3.41
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add a Rust setup step to cargo-dist release
  .github/build-setup.yml
  .github/workflows/release.yml
  dist-workspace.toml
  rust-toolchain.toml
Due: none

Add a Rust setup step to cargo-dist release (#535)
  .github/build-setup.yml
  .github/workflows/release.yml
  dist-workspace.toml
  rust-toolchain.toml
Due: none

Set required config values in tests
  CHANGELOG.md
  crates/pcb-layout/tests/resources/module_layout/Module.zen
  crates/pcb-layout/tests/resources/netclass_assignment/diffpair_module.zen
  crates/pcb-layout/tests/resources/netclass_assignment/usb_module.zen
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen/tests/spice_model.rs
  crates/pcb/src/import/semantic.rs
  examples/HighSideCurrentSense/HighSideCurrentSense.zen
Due: cargo-fmt, clippy

Set required config values in tests (#538)
  CHANGELOG.md
  crates/pcb-layout/tests/resources/module_layout/Module.zen
  crates/pcb-layout/tests/resources/netclass_assignment/diffpair_module.zen
  crates/pcb-layout/tests/resources/netclass_assignment/usb_module.zen
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen/tests/spice_model.rs
  crates/pcb/src/import/semantic.rs
  examples/HighSideCurrentSense/HighSideCurrentSense.zen
Due: cargo-fmt, clippy

Accept signatures changes due to new stdlib version
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
Due: none

Bump stdlib version to 0.5.8
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.8 (#537)
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
Due: cargo-fmt, clippy

Raise error if required config value is not provided
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen-core/tests/snapshots/input__config_default_implies_optional_in_signature.snap
  crates/pcb-zen-core/tests/snapshots/input__config_optional_false_missing_emits_error_diagnostic.snap
  crates/pcb-zen-core/tests/snapshots/input__missing_required_io_config.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_missing_required_inputs_should_error.snap
  crates/pcb/tests/snapshots/build__warning_and_error_mixed.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  docs/pages/spec.mdx
  test-workspaces/with-pcb-toml/pcb.sum
Due: cargo-fmt, clippy

Raise error if required config value is not provided (#536)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen-core/tests/snapshots/input__config_default_implies_optional_in_signature.snap
  crates/pcb-zen-core/tests/snapshots/input__config_optional_false_missing_emits_error_diagnostic.snap
  crates/pcb-zen-core/tests/snapshots/input__missing_required_io_config.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_missing_required_inputs_should_error.snap
  crates/pcb/tests/snapshots/build__warning_and_error_mixed.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  docs/pages/spec.mdx
  test-workspaces/with-pcb-toml/pcb.sum
Due: cargo-fmt, clippy

Package-scoped URI resolution
  CHANGELOG.md
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb/tests/snapshots/path__path_local_mixed_build.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
  docs/spec-package-uris.md
Due: cargo-fmt, clippy

Package-scoped URI resolution (#539)
  CHANGELOG.md
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb/tests/snapshots/path__path_local_mixed_build.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
  docs/spec-package-uris.md
Due: cargo-fmt, clippy

Release v0.3.42
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Run pcb layout --check sync on a shadow copy
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb/src/layout.rs
  crates/pcb/src/release.rs
  crates/pcb/src/templates/gitignore
Due: ty, cargo-fmt, clippy

Show advice column (if non-zero)
  crates/pcb/src/drc.rs
Due: cargo-fmt, clippy

Add layout.sync error diagnostic
  crates/pcb-layout/src/lib.rs
Due: cargo-fmt, clippy

Run `pcb layout --check` sync on a shadow copy (#540)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb/src/drc.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/release.rs
  crates/pcb/src/templates/gitignore
Due: ty, cargo-fmt, clippy

Remove `--sync-board-config` flag
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/moved.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/release.rs
Due: ty, cargo-fmt, clippy

Remove `--sync-board-config` flag (#541)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/layout_generation.rs
  crates/pcb-layout/tests/moved.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/release.rs
Due: ty, cargo-fmt, clippy

Make formatter KiCad-style compliant and simplify stackup patching
  CHANGELOG.md
  Cargo.lock
  crates/pcb-layout/src/lib.rs
  crates/pcb-sch/src/kicad_schematic.rs
  crates/pcb-sexpr/src/formatter.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/fmt.rs
  crates/pcb/src/import/generate/schematic_placement.rs
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
Due: cargo-fmt, clippy

Delete old code
  crates/pcb-layout/src/lib.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/lang/stackup.rs
Due: cargo-fmt, clippy

Make formatter KiCad-style compliant and simplify stackup patching (#542)
  CHANGELOG.md
  Cargo.lock
  crates/pcb-layout/src/lib.rs
  crates/pcb-sch/src/kicad_schematic.rs
  crates/pcb-sexpr/src/formatter.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/fmt.rs
  crates/pcb/src/import/generate/schematic_placement.rs
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
Due: cargo-fmt, clippy

`pcb layout` stackup sync now also patches `general (thickness ...)`
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-sexpr/src/formatter.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/lang/stackup.rs
Due: cargo-fmt, clippy
