Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

Filter sourcing metadata from layout sync
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
Due: ty

Filter sourcing metadata from layout sync (#634)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
Due: ty

fix: add layout path to package manifest (#632)
  crates/pcb/src/package.rs
  crates/pcb/tests/package.rs
Due: cargo-fmt, clippy

fix windows test
  crates/pcb-zen-wasm/src/lib.rs
Due: cargo-fmt, clippy

Keep MOQ-expensive BOM offers but mark them hard to source
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-sch/src/bom/availability.rs
  crates/pcb-sch/src/bom_table.rs
Due: cargo-fmt, clippy

cleanup
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/tests/component_footprint_inference.rs
Due: cargo-fmt, clippy

Keep MOQ-expensive BOM offers but mark them hard to source (#633)
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-sch/src/bom/availability.rs
  crates/pcb-sch/src/bom_table.rs
Due: cargo-fmt, clippy

comments
  crates/pcb-zen-wasm/src/lib.rs
Due: cargo-fmt, clippy

fix package uri resolution when no cache
  crates/pcb-zen-core/src/resolution.rs
Due: cargo-fmt, clippy

Remove redundant tag version re-parse
  crates/pcb-zen/src/workspace.rs
Due: cargo-fmt, clippy

feat: support .tar.zst bundles in wasm and more (#623)
  Cargo.lock
  Cargo.toml
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/component_footprint_inference.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen-wasm/Cargo.toml
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen-wasm/src/main.rs
  crates/pcb-zen/src/git.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcb/src/update.rs
  crates/pcb/tests/info.rs
  crates/pcb/tests/snapshots/info__json_format_with_published_at.snap
Due: cargo-fmt, clippy

Release v0.3.55
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Prepare kicad-sym 0.2.0 release
  kicad-sym/README.md
  kicad-sym/pyproject.toml
  kicad-sym/src/kicad_sym/__init__.py
  kicad-sym/tests/test_kicad_sym.py
Due: ty

Prepare kicad-sym 0.3.0 release
  kicad-sym/README.md
  kicad-sym/pyproject.toml
  kicad-sym/src/kicad_sym/__init__.py
  kicad-sym/tests/test_kicad_sym.py
Due: ty

rework pcb kq as native sexpr query tool
  Cargo.lock
  crates/pcb-sexpr/src/formatter.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/kq.rs
  crates/pcb/src/main.rs
  docs/kq-cookbook.md
Due: cargo-fmt, clippy

Prepare kicad-sym 0.4.0 release
  kicad-sym/README.md
  kicad-sym/pyproject.toml
  kicad-sym/src/kicad_sym/__init__.py
  kicad-sym/tests/test_kicad_sym.py
Due: ty

Prepare kicad-sym 0.4.1 release
  kicad-sym/pyproject.toml
  kicad-sym/src/kicad_sym/__init__.py
  kicad-sym/tests/test_kicad_sym.py
Due: ty

Add kicad-sym Python package
  kicad-sym/.gitignore
  kicad-sym/README.md
  kicad-sym/pyproject.toml
  kicad-sym/src/kicad_sym/__init__.py
  kicad-sym/tests/test_kicad_sym.py
Due: ty

Expand kicad-sym cookbook and debug printing
  kicad-sym/README.md
  kicad-sym/src/kicad_sym/__init__.py
  kicad-sym/tests/test_kicad_sym.py
Due: ty

Clean up kicad-sym README
  kicad-sym/README.md
Due: none

Prepare kicad-sym 0.5.0 release
  kicad-sym/pyproject.toml
  kicad-sym/src/kicad_sym/__init__.py
  kicad-sym/tests/test_kicad_sym.py
Due: ty

Reject same-package package URLs
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen/src/auto_deps.rs
  crates/pcb/tests/auto_deps.rs
Due: cargo-fmt, clippy

fix(ci): force msvc toolchain on windows
  .github/build-setup.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix(ci): apply windows msvc toolchain in test job
  .github/workflows/test.yml
Due: none

remove duplicate caching and disable -D warnings on windows
  .github/build-setup.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix(ci): force msvc toolchain on windows (#636)
  .github/build-setup.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

Release v0.3.56
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: update cargo-dist and regen release.yml
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

chore: update cargo-dist and regen release.yml (#637)
  .github/workflows/release.yml
  dist-workspace.toml
Due: none

fix(publish): use conventional dep bump commit titles
  CHANGELOG.md
  crates/pcb/src/publish.rs
Due: cargo-fmt, clippy

feat(publish): infer package version bumps
  CHANGELOG.md
  crates/pcb-zen/src/git.rs
  crates/pcb/src/publish.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

feat(publish): streamline inferred publish flow
  CHANGELOG.md
  crates/pcb/src/publish.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

refactor(publish): simplify inferred bump flow
  crates/pcb/src/publish.rs
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
