Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

Write fixed files atomically and fix until no edits remain
  crates/pcb-eda/src/kicad/symbol_check.rs
  crates/pcbc/src/fix.rs
Due: cargo-fmt, clippy

Sync skills from diode 70ff6bb
  skills/librarian/SKILL.md
Due: none

Add `pcb fix` for fixable KiCad symbol diagnostics (#1373)
  CHANGELOG.md
  crates/pcb-eda/src/kicad/symbol_check.rs
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/erc.rs
  crates/pcb-sexpr/src/scan.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb-zen-core/src/graph/starlark.rs
  crates/pcb-zen-core/src/lang/assert.rs
  crates/pcb-zen-core/src/lang/electrical_check.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/param_decl.rs
  crates/pcb-zen-core/src/lang/symbol_check.rs
  crates/pcb-zen-core/src/lang/test_bench.rs
  crates/pcbc/src/build.rs
  crates/pcbc/src/fix.rs
  crates/pcbc/src/main.rs
  crates/pcbc/src/test.rs
  crates/pcbc/tests/fix.rs
  crates/pcbc/tests/integration.rs
  crates/pcbc/tests/snapshots/release__publish_full.snap
  crates/pcbc/tests/snapshots/release__publish_source_only.snap
  crates/pcbc/tests/snapshots/release__publish_with_description.snap
  crates/pcbc/tests/snapshots/release__publish_with_version.snap
Due: cargo-fmt, clippy

Report per-pin symbol style advice once per cause
  crates/pcb-eda/src/kicad/symbol_check.rs
Due: cargo-fmt, clippy

ENG-3340: Stop warning about valid KiCad custom-rule clauses
  CHANGELOG.md
  crates/pcb-kicad/src/dru.rs
  crates/pcb-kicad/tests/drc.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

Report per-pin symbol style advice once per cause (#1374)
  crates/pcb-eda/src/kicad/symbol_check.rs
Due: cargo-fmt, clippy

ENG-3340: Stop warning about valid KiCad custom-rule clauses (#1375)
  CHANGELOG.md
  crates/pcb-kicad/src/dru.rs
  crates/pcb-kicad/tests/drc.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

Sync every publish wave's manifests before tagging
  CHANGELOG.md
  crates/pcbc/src/publish.rs
Due: cargo-fmt, clippy

Sync every publish wave's manifests before tagging (#1376)
  CHANGELOG.md
  crates/pcbc/src/publish.rs
Due: cargo-fmt, clippy

Fix redundant prelude loads and config() names with `pcb fix`
  CHANGELOG.md
  crates/pcb-eda/src/kicad/symbol_check.rs
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/erc.rs
  crates/pcb-sexpr/src/edit.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb-zen-core/src/graph/starlark.rs
  crates/pcb-zen-core/src/lang/assert.rs
  crates/pcb-zen-core/src/lang/electrical_check.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/param_decl.rs
  crates/pcb-zen-core/src/lang/style_lint.rs
  crates/pcb-zen-core/src/lang/symbol_check.rs
  crates/pcb-zen-core/src/lang/test_bench.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcbc/src/build.rs
  crates/pcbc/src/fix.rs
  crates/pcbc/src/test.rs
  crates/pcbc/tests/fix.rs
Due: cargo-fmt, clippy

Fix redundant prelude loads and config() names with `pcb fix` (#1377)
  CHANGELOG.md
  crates/pcb-eda/src/kicad/symbol_check.rs
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/erc.rs
  crates/pcb-sexpr/src/edit.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb-zen-core/src/graph/starlark.rs
  crates/pcb-zen-core/src/lang/assert.rs
  crates/pcb-zen-core/src/lang/electrical_check.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/param_decl.rs
  crates/pcb-zen-core/src/lang/style_lint.rs
  crates/pcb-zen-core/src/lang/symbol_check.rs
  crates/pcb-zen-core/src/lang/test_bench.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcbc/src/build.rs
  crates/pcbc/src/fix.rs
  crates/pcbc/src/test.rs
  crates/pcbc/tests/fix.rs
Due: cargo-fmt, clippy

ENG-3340: Report malformed conditions and repeated layers in KiCad custom rules
  CHANGELOG.md
  crates/pcb-kicad/src/dru.rs
  crates/pcb-kicad/src/dru/expr.rs
  crates/pcb-kicad/src/dru/oracle.py
  crates/pcb-kicad/src/lib.rs
Due: ty, cargo-fmt, clippy

Reject a repeated layer after any pattern that is not wildcards alone
  crates/pcb-kicad/src/dru.rs
Due: cargo-fmt, clippy

ENG-3340: Report malformed conditions and repeated layers in KiCad custom rules (#1378)
  CHANGELOG.md
  crates/pcb-kicad/src/dru.rs
  crates/pcb-kicad/src/dru/expr.rs
  crates/pcb-kicad/src/dru/oracle.py
  crates/pcb-kicad/src/lib.rs
Due: ty, cargo-fmt, clippy

Release v0.4.70
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Bump rust to 1.99
  rust-toolchain.toml
Due: none

Bump rust to 1.99 (#1379)
  rust-toolchain.toml
Due: none

Support schematic open and sandbox sync (ENG-3044)
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
  crates/pcbc/src/open.rs
  crates/pcbc/src/remote_sandbox.rs
  crates/pcbc/src/sandbox_uri.rs
  crates/pcbc/tests/remote_sandbox.rs
Due: cargo-fmt, clippy

fix(kicad): preserve standalone editor overrides on macOS
  crates/pcb-kicad/src/lib.rs
Due: cargo-fmt, clippy

Use eda for new board project paths
  CHANGELOG.md
  crates/pcbc/src/templates/board_zen.jinja
Due: none

Use eda for new board project paths (#1380)
  CHANGELOG.md
  crates/pcbc/src/templates/board_zen.jinja
Due: none

Support schematic open and sandbox sync (ENG-3044) (#1359)
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
  crates/pcbc/src/open.rs
  crates/pcbc/src/remote_sandbox.rs
  crates/pcbc/src/sandbox_uri.rs
  crates/pcbc/tests/remote_sandbox.rs
Due: cargo-fmt, clippy

Fix obsolete generated schematic sheets (ENG-3400)
  CHANGELOG.md
  crates/pcb-kicad-sch/DESIGN.md
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/hierarchy.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcbc/src/kicad_schematic/mod.rs
  crates/pcbc/tests/schematic_apply_flow.rs
Due: cargo-fmt, clippy

Preserve artwork and relocated schematic pages during cleanup
  crates/pcb-kicad-sch/DESIGN.md
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/hierarchy.rs
  crates/pcbc/tests/schematic_apply_flow.rs
Due: cargo-fmt, clippy

Prune orphan buses along with obsolete schematic sheets
  crates/pcb-kicad-sch/DESIGN.md
  crates/pcb-kicad-sch/src/hierarchy.rs
  crates/pcbc/tests/schematic_apply_flow.rs
Due: cargo-fmt, clippy

ENG-3400: Remove obsolete generated schematic sheets (#1382)
  CHANGELOG.md
  crates/pcb-kicad-sch/DESIGN.md
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/hierarchy.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcbc/src/kicad_schematic/mod.rs
  crates/pcbc/tests/schematic_apply_flow.rs
Due: cargo-fmt, clippy

ENG-3048: Fetch US and Global BOM offers in one request
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-diode-api/src/bom.rs
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

ENG-3048: Update the full-publish BOM mock to one ranked request
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

ENG-3048: Fetch US and Global BOM offers in one request (#1383)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-diode-api/src/bom.rs
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

Release v0.4.71
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

ENG-3386: Remove the KiCad custom-rule preflight
  CHANGELOG.md
  crates/pcb-kicad/src/dru.rs
  crates/pcb-kicad/src/dru/expr.rs
  crates/pcb-kicad/src/dru/oracle.py
  crates/pcb-kicad/src/lib.rs
  crates/pcb-kicad/tests/drc.rs
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/validate.rs
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/import.rs
  crates/pcbc/tests/layout.rs
  crates/pcbc/tests/release.rs
Due: ty, cargo-fmt, clippy

ENG-3386: Remove the KiCad custom-rule preflight (#1381)
  CHANGELOG.md
  crates/pcb-kicad/src/dru.rs
  crates/pcb-kicad/src/dru/expr.rs
  crates/pcb-kicad/src/dru/oracle.py
  crates/pcb-kicad/src/lib.rs
  crates/pcb-kicad/tests/drc.rs
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/validate.rs
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/import.rs
  crates/pcbc/tests/layout.rs
  crates/pcbc/tests/release.rs
Due: ty, cargo-fmt, clippy

fix: report unrouted connections in layout and publish checks
  CHANGELOG.md
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
Due: cargo-fmt, clippy

fix: report unrouted connections in layout and publish checks (#1384)
  CHANGELOG.md
  crates/pcbc/src/layout.rs
  crates/pcbc/src/release.rs
Due: cargo-fmt, clippy

chore: delete AGENTS.md
  AGENTS.md
Due: none

fix: stop inferring impedance control from dielectric properties
  crates/pcb-ipc2581-tools/src/accessors/stackup.rs
  crates/pcb-ipc2581-tools/src/commands/info.rs
Due: cargo-fmt, clippy

fix: stop inferring impedance control from dielectric properties (#1385)
  crates/pcb-ipc2581-tools/src/accessors/stackup.rs
  crates/pcb-ipc2581-tools/src/commands/info.rs
Due: cargo-fmt, clippy

feat: preserve partial pcb info output and expose package metadata
  crates/pcb-zen/src/workspace.rs
  crates/pcbc/src/info.rs
  crates/pcbc/tests/info.rs
  crates/pcbc/tests/snapshots/info__json_format_with_preferred.snap
  crates/pcbc/tests/snapshots/info__json_format_with_published_at.snap
  crates/pcbc/tests/snapshots/info__json_with_external_dependencies.snap
  crates/pcbc/tests/snapshots/info__zen_discovery_json.snap
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

fix: preserve discovery diagnostics and reject unsafe vendoring
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcbc/src/info.rs
  crates/pcbc/src/vendor.rs
  crates/pcbc/tests/info.rs
Due: cargo-fmt, clippy

fix: fail JSON inspection when workspace root is unknown
  crates/pcbc/src/info.rs
  crates/pcbc/tests/info.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
