Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

QuadComparator: tie unused comparator inputs to VCC/GND
  examples/QuadComparator/LM339.zen
  examples/QuadComparator/WindowMonitor.zen
Due: none

Adopt ruff 0.16's default lint rule set for the layout scripts
  crates/pcb-layout/src/scripts/lens/__init__.py
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/src/scripts/lens/tests/test_pad_net_map.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_regressions.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
  crates/pcb-layout/src/scripts/lens/tests/test_swig_stability.py
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
Due: ty

Don't mislabel a completed route as partial on late Ctrl+C
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

lang: align pinmux comment style with the codebase
  crates/pcb-sch/src/physical.rs
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/interface.rs
  crates/pcb-zen-core/src/lang/param_decl.rs
  crates/pcb-zen-core/src/lang/pinmux.rs
Due: cargo-fmt, clippy

pin_solve: warn when the pin-map cap truncates candidate enumeration
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/pinmux.rs
  crates/pcb-zen-core/tests/pinmux.rs
Due: cargo-fmt, clippy

QuadComparator: real LM339 pinout per TI SLCS006
  examples/QuadComparator/LM339.kicad_sym
  examples/QuadComparator/LM339.zen
Due: none

Docs: user-level pin-capability spec with parameter tables
  docs/pages/spec.mdx
Due: none

McuPinCapability: pad-level STM32G030F6P6 model per ST DS12991
  examples/McuPinCapability/DevBoard.zen
  examples/McuPinCapability/STM32G030.kicad_sym
  examples/McuPinCapability/STM32G030.zen
Due: none

Docs: drop the pin-capability conventions paragraph
  docs/pages/spec.mdx
Due: none

Avoid concurrent JAR download races; clarify --fr-timeout comments
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Stage sibling .kicad_dru when routing so zone fill honors custom rules
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Don't report a completed route as success when final output fetch fails
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Harden FreeRouting cache dir against local-user tampering on /tmp fallback
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Throttle poll-loop output refresh to reduce overhead on large boards
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Don't report a fully-routed board's clean completion as a fetch failure
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Actually refuse the FreeRouting cache dir when owned by another user
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Scope the FreeRouting temp-dir cache fallback by uid
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Give get_output a longer timeout than status/control endpoints
  crates/pcbc/src/freerouting/api.rs
Due: cargo-fmt, clippy

Temporarily pin FreeRouting JAR to AdamMomen/freerouting v2.2.5
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Extract execute_freerouting to match execute_deeppcb's pattern
  crates/pcbc/src/route.rs
Due: cargo-fmt, clippy

Restore explanatory comment on sandbox network-blocking env vars
  crates/pcb-test-utils/src/sandbox.rs
Due: cargo-fmt, clippy

Drop DeepPCB comparison from FreeRouting changelog entry
  CHANGELOG.md
Due: none

Trim comments in freerouting/api.rs
  crates/pcbc/src/freerouting/api.rs
Due: cargo-fmt, clippy

Don't let get_output's 120s timeout block Ctrl+C responsiveness
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Update integration tests to use the pinned FreeRouting fork/version
  crates/pcbc/tests/route.rs
Due: cargo-fmt, clippy

Trim comments in freerouting/mod.rs
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Drop the Oniguruma C dependency and two dead workspace entries
  Cargo.lock
  Cargo.toml
Due: none

ci: cache Ubuntu apt packages
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

ci: restore Ubuntu Rust bootstrap packages
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Remove AWS credential authentication
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/aws_auth.rs
  crates/pcb-diode-api/src/lib.rs
Due: cargo-fmt, clippy

Drop the now-unused tokio dependency and reqwest's charset feature
  Cargo.lock
  Cargo.toml
  crates/pcb-diode-api/Cargo.toml
Due: none

Clear legacy service-auth tokens on logout
  crates/pcb-diode-api/src/auth.rs
Due: cargo-fmt, clippy

Cache Ubuntu APT packages in Blacksmith CI (#1015)
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Prune the dependency tree: 31 crates removed, binary 11% smaller
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/aws_auth.rs
  crates/pcb-diode-api/src/lib.rs
Due: cargo-fmt, clippy

Log two swallowed failures and fix an items-after-test-module lint
  crates/pcb-ipc2581-tools/src/commands/html_export.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty, cargo-fmt, clippy

Log two swallowed failures and fix a pre-existing clippy lint
  crates/pcb-ipc2581-tools/src/commands/html_export.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty, cargo-fmt, clippy

Bump foxtrot to e74e944
  Cargo.lock
  Cargo.toml
Due: none

Release v0.4.22
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Sync skills from diode c463131
  skills/librarian/SKILL.md
Due: none
