Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Handle panel IPC-2581 outline export
  crates/pcb-ipc2581-tools/src/commands/outline.rs
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ipc2581-tools/src/geometry/mod.rs
Due: cargo-fmt, clippy

Export .dxf of board outline from IPC2581 xml file (#808)
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/mod.rs
  crates/pcb-ipc2581-tools/src/commands/outline.rs
  crates/pcb-ipc2581-tools/src/geometry/dxf.rs
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ipc2581-tools/src/geometry/ir.rs
  crates/pcb-ipc2581-tools/src/geometry/mod.rs
  crates/pcb-ipc2581-tools/src/geometry/process.rs
  crates/pcb-ipc2581-tools/src/geometry/raster.rs
  crates/pcb-ipc2581-tools/src/geometry/svg.rs
  crates/pcb/src/ipc2581.rs
  flake.nix
Due: cargo-fmt, clippy

Limit board name length
  crates/pcb/src/new.rs
Due: cargo-fmt, clippy

Limit board name length (#809)
  crates/pcb/src/new.rs
Due: cargo-fmt, clippy

Fix LPDDR4 channel impedance defaults
  CHANGELOG.md
  stdlib/interfaces.zen
Due: none

Fix LPDDR4 channel impedance defaults (#810)
  CHANGELOG.md
  stdlib/interfaces.zen
Due: none

Use setup-rust-toolchain in CI
  .github/build-setup.yml
  .github/workflows/build-main.yml
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/v-release.yml
  .github/workflows/version-bump.yml
  .github/workflows/wasm.yml
Due: none

Avoid caching Cargo bin shims
  .github/build-setup.yml
  .github/workflows/build-main.yml
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/v-release.yml
  .github/workflows/version-bump.yml
  .github/workflows/wasm.yml
Due: none

Use setup-rust-toolchain in CI (#812)
  .github/build-setup.yml
  .github/workflows/build-main.yml
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .github/workflows/v-release.yml
  .github/workflows/version-bump.yml
  .github/workflows/wasm.yml
Due: none

fix: smarter workspace name detection with pcb.toml fallback
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb/src/publish.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

fix clippy
  crates/pcb/src/import/flow.rs
Due: cargo-fmt, clippy

fix: smarter workplace name detection with pcb.toml fallback (#813)
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb/src/import/flow.rs
  crates/pcb/src/publish.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Add Gerber X2 parser scaffold
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/gerberx2/Cargo.toml
  crates/gerberx2/README.md
  crates/gerberx2/src/intern.rs
  crates/gerberx2/src/lib.rs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/src/types/mod.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Improve IPC SVG render stacking
  crates/pcb-ipc2581-tools/src/geometry/svg.rs
Due: cargo-fmt, clippy

Expand Gerber X2 macro and repeat parsing
  crates/gerberx2/src/parse.rs
  crates/gerberx2/src/types/mod.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Build Gerber X2 object stream
  CHANGELOG.md
  crates/gerberx2/README.md
  crates/gerberx2/src/lib.rs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/src/types/mod.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Add Gerber X2 geometry processing
  CHANGELOG.md
  Cargo.lock
  crates/gerberx2/Cargo.toml
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/src/geometry/ir.rs
  crates/gerberx2/src/geometry/mod.rs
  crates/gerberx2/src/geometry/process.rs
  crates/gerberx2/src/lib.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Render IPC drill layers directly
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
Due: cargo-fmt, clippy

Scrub local paths from gerberx2 README
  crates/gerberx2/README.md
Due: none

Shorten Gerber changelog entry
  CHANGELOG.md
Due: none

Add IPC-2581 Gerber X2 export
  CHANGELOG.md
  Cargo.lock
  crates/pcb-ipc2581-tools/Cargo.toml
  crates/pcb-ipc2581-tools/src/geometry/ir.rs
  crates/pcb-ipc2581-tools/src/gerber/artwork.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
  crates/pcb-ipc2581-tools/src/gerber/mod.rs
  crates/pcb-ipc2581-tools/src/lib.rs
  crates/pcb/src/ipc2581.rs
Due: cargo-fmt, clippy

Update pcb help snapshot for gerber command
  crates/pcb/tests/snapshots/simple__help.snap
Due: none

Wire Gerber rendering into pcb CLI
  CHANGELOG.md
  Cargo.lock
  crates/gerberx2/src/parse.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/gerber.rs
  crates/pcb/src/main.rs
Due: cargo-fmt, clippy

Align flat render layer styling
  CHANGELOG.md
  crates/gerberx2/src/geometry/svg.rs
  crates/gerberx2/tests/basic.rs
  crates/pcb-ipc2581-tools/src/geometry/svg.rs
Due: cargo-fmt, clippy

Add flat IPC-2581 layer rendering
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/render.rs
  crates/pcb-ipc2581-tools/src/geometry/process.rs
  crates/pcb/src/ipc2581.rs
Due: cargo-fmt, clippy

Use IPC layer functions for flat render colors
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ipc2581-tools/src/geometry/ir.rs
  crates/pcb-ipc2581-tools/src/geometry/process.rs
  crates/pcb-ipc2581-tools/src/geometry/raster.rs
  crates/pcb-ipc2581-tools/src/geometry/svg.rs
Due: cargo-fmt, clippy

Add Gerber X2 writer IR and geometry comparison
  CHANGELOG.md
  crates/gerberx2/README.md
  crates/gerberx2/src/geometry/compare.rs
  crates/gerberx2/src/geometry/mod.rs
  crates/gerberx2/src/lib.rs
  crates/gerberx2/src/write.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Fix Gerber X2 geometry transform handling
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/src/geometry/ir.rs
  crates/gerberx2/src/geometry/process.rs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/src/write.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Add Gerber X2 renderers
  CHANGELOG.md
  Cargo.lock
  crates/gerberx2/Cargo.toml
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/src/geometry/ir.rs
  crates/gerberx2/src/geometry/mod.rs
  crates/gerberx2/src/geometry/process.rs
  crates/gerberx2/src/geometry/raster.rs
  crates/gerberx2/src/geometry/svg.rs
  crates/gerberx2/src/geometry/terminal.rs
  crates/gerberx2/src/lib.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Normalize Gerber aperture units
  crates/gerberx2/src/parse.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Improve IPC Gerber export metadata
  crates/gerberx2/src/geometry/compare.rs
  crates/pcb-ipc2581-tools/src/gerber/artwork.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
Due: cargo-fmt, clippy

Add `--flat` render option to ipc2581, ipc2581 -> gerber x2 conversion, gerber rendering (#811)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/gerberx2/Cargo.toml
  crates/gerberx2/README.md
  crates/gerberx2/src/geometry/compare.rs
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/src/geometry/ir.rs
  crates/gerberx2/src/geometry/mod.rs
  crates/gerberx2/src/geometry/process.rs
  crates/gerberx2/src/geometry/raster.rs
  crates/gerberx2/src/geometry/svg.rs
  crates/gerberx2/src/geometry/terminal.rs
  crates/gerberx2/src/intern.rs
  crates/gerberx2/src/lib.rs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/src/types/mod.rs
  crates/gerberx2/src/write.rs
  crates/gerberx2/tests/basic.rs
  crates/pcb-ipc2581-tools/Cargo.toml
  crates/pcb-ipc2581-tools/src/commands/render.rs
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ipc2581-tools/src/geometry/process.rs
  crates/pcb-ipc2581-tools/src/geometry/raster.rs
  crates/pcb-ipc2581-tools/src/geometry/svg.rs
  crates/pcb-ipc2581-tools/src/gerber/artwork.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
  crates/pcb-ipc2581-tools/src/gerber/mod.rs
  crates/pcb-ipc2581-tools/src/lib.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/gerber.rs
  crates/pcb/src/ipc2581.rs
  crates/pcb/src/main.rs
  crates/pcb/tests/snapshots/simple__help.snap
Due: cargo-fmt, clippy

Unify Gerber and IPC geometry IR
  Cargo.lock
  Cargo.toml
  crates/gerberx2/Cargo.toml
  crates/gerberx2/README.md
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/src/geometry/ir.rs
  crates/gerberx2/src/geometry/mod.rs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/src/types/mod.rs
  crates/gerberx2/src/write.rs
  crates/gerberx2/tests/basic.rs
  crates/pcb-ipc2581-tools/Cargo.toml
  crates/pcb-ipc2581-tools/src/commands/render.rs
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ipc2581-tools/src/geometry/mod.rs
  crates/pcb-ipc2581-tools/src/geometry/raster.rs
  crates/pcb-ipc2581-tools/src/geometry/svg.rs
  crates/pcb-ipc2581-tools/src/gerber/artwork.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
  crates/pcb-ir/Cargo.toml
  crates/pcb-ir/src/common.rs
  crates/pcb-ir/src/dialects/gerber/compare.rs
  crates/pcb-ir/src/dialects/gerber/mod.rs
  crates/pcb-ir/src/dialects/gerber/process.rs
  crates/pcb-ir/src/dialects/gerber/raster.rs
  crates/pcb-ir/src/dialects/gerber/svg.rs
  crates/pcb-ir/src/dialects/gerber/terminal.rs
  crates/pcb-ir/src/dialects/ipc/mod.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/dialects/ipc/raster.rs
  crates/pcb-ir/src/dialects/ipc/svg.rs
  crates/pcb-ir/src/dialects/ipc/terminal.rs
  crates/pcb-ir/src/dialects/mod.rs
  crates/pcb-ir/src/lib.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/gerber.rs
Due: cargo-fmt, clippy

Fix IPC to Gerber IR edge cases
  Cargo.lock
  crates/gerberx2/Cargo.toml
  crates/gerberx2/src/lib.rs
  crates/gerberx2/src/write.rs
  crates/ipc2581/Cargo.toml
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
Due: cargo-fmt, clippy

Unify Gerber and IPC geometry IR (#814)
  Cargo.lock
  Cargo.toml
  crates/gerberx2/Cargo.toml
  crates/gerberx2/README.md
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/src/geometry/ir.rs
  crates/gerberx2/src/geometry/mod.rs
  crates/gerberx2/src/lib.rs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/src/types/mod.rs
  crates/gerberx2/src/write.rs
  crates/gerberx2/tests/basic.rs
  crates/ipc2581/Cargo.toml
  crates/pcb-ipc2581-tools/Cargo.toml
  crates/pcb-ipc2581-tools/src/commands/render.rs
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ipc2581-tools/src/geometry/mod.rs
  crates/pcb-ipc2581-tools/src/geometry/raster.rs
  crates/pcb-ipc2581-tools/src/geometry/svg.rs
  crates/pcb-ipc2581-tools/src/gerber/artwork.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
  crates/pcb-ir/Cargo.toml
  crates/pcb-ir/src/common.rs
  crates/pcb-ir/src/dialects/gerber/compare.rs
  crates/pcb-ir/src/dialects/gerber/mod.rs
  crates/pcb-ir/src/dialects/gerber/process.rs
  crates/pcb-ir/src/dialects/gerber/raster.rs
  crates/pcb-ir/src/dialects/gerber/svg.rs
  crates/pcb-ir/src/dialects/gerber/terminal.rs
  crates/pcb-ir/src/dialects/ipc/mod.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/dialects/ipc/raster.rs
  crates/pcb-ir/src/dialects/ipc/svg.rs
  crates/pcb-ir/src/dialects/ipc/terminal.rs
  crates/pcb-ir/src/dialects/mod.rs
  crates/pcb-ir/src/lib.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/gerber.rs
Due: cargo-fmt, clippy

Make pcb-ir publishable
  Cargo.toml
  crates/pcb-ir/Cargo.toml
Due: none

fix: delete wrong Path footprint in pcb layout
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
Due: ty

fix: delete wrong Path footprint in pcb layout (#815)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
Due: ty

Sync skills from diode 03a3e7f
  skills/zener-language/SKILL.md
Due: none

Deprecate non-standard stdlib generics
  CHANGELOG.md
  stdlib/bom/helpers.zen
  stdlib/bom/match_generics.zen
  stdlib/generics/Standoff.zen
  stdlib/generics/TerminalBlock.zen
  stdlib/generics/test/test_Standoff.zen
Due: none
