Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

Serialize additional generic BOM parameters
  CHANGELOG.md
  crates/pcb-sch/src/bom/core.rs
  crates/pcbc/tests/bom.rs
  crates/pcbc/tests/snapshots/bom__bom_parametric_generics_json.snap
Due: cargo-fmt, clippy

Serialize additional generic BOM parameters (#1067)
  CHANGELOG.md
  crates/pcb-sch/src/bom/core.rs
  crates/pcbc/tests/bom.rs
  crates/pcbc/tests/snapshots/bom__bom_parametric_generics_json.snap
Due: cargo-fmt, clippy

Add resistor power, crystal, and LED BOM parameters
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom_edit.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcbc/tests/bom.rs
  crates/pcbc/tests/snapshots/bom__bom_json.snap
  crates/pcbc/tests/snapshots/bom__bom_parametric_generics_json.snap
  crates/pcbc/tests/snapshots/release__publish_full.snap
Due: cargo-fmt, clippy

Add resistor power, crystal, and LED BOM parameters (#1068)
  CHANGELOG.md
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom_edit.rs
  crates/pcb-sch/src/bom/core.rs
  crates/pcbc/tests/bom.rs
  crates/pcbc/tests/snapshots/bom__bom_json.snap
  crates/pcbc/tests/snapshots/bom__bom_parametric_generics_json.snap
  crates/pcbc/tests/snapshots/release__publish_full.snap
Due: cargo-fmt, clippy

Commit to symmetric S11 and a multi-pass quality router
  crates/pcb-interposer/src/assign.rs
  crates/pcb-interposer/src/bin/interposer-poc.rs
  crates/pcb-interposer/src/pattern.rs
  crates/pcb-interposer/src/router.rs
  crates/pcb-interposer/src/score.rs
  crates/pcb-interposer/src/viz.rs
  docs/explorations/pogo-pin-interposer.md
Due: cargo-fmt, clippy

Propose A7 mate constellation strategies and a score
  docs/explorations/pogo-pin-interposer.md
Due: none

Route interposers with a terminal-via router and the S10 ring
  crates/pcb-interposer/src/assign.rs
  crates/pcb-interposer/src/bin/interposer-poc.rs
  crates/pcb-interposer/src/geom.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/src/pattern.rs
  crates/pcb-interposer/src/route.rs
  crates/pcb-interposer/src/route_ml.rs
  crates/pcb-interposer/src/router.rs
  crates/pcb-interposer/src/score.rs
  crates/pcb-interposer/src/viz.rs
  docs/explorations/pogo-pin-interposer.md
Due: cargo-fmt, clippy

Treat interposer routing as single-layer greedy maze
  docs/explorations/pogo-pin-interposer.md
Due: none

Model fixture assignment as Hall plus per-kind matching
  docs/explorations/pogo-pin-interposer.md
Due: none

Rewrite interposer notes around the 1-tile A7 contract
  docs/explorations/pogo-pin-interposer.md
Due: none

Scope v1 contacts to 1 mm circular TestPoints
  docs/explorations/pogo-pin-interposer.md
Due: none

Add interposer POC crate and campaign notes
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-interposer/Cargo.toml
  crates/pcb-interposer/src/assign.rs
  crates/pcb-interposer/src/bin/interposer-poc.rs
  crates/pcb-interposer/src/bundle.rs
  crates/pcb-interposer/src/extract.rs
  crates/pcb-interposer/src/hall.rs
  crates/pcb-interposer/src/instantiate.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/src/pattern.rs
  crates/pcb-interposer/src/route.rs
  crates/pcb-interposer/src/route_ml.rs
  crates/pcb-interposer/src/score.rs
  crates/pcb-interposer/src/types.rs
  crates/pcb-interposer/src/viz.rs
  crates/pcb-interposer/tests/extract_real.rs
  crates/pcb-interposer/tests/fixtures/tagged_tps.kicad_pcb
  docs/explorations/pogo-pin-interposer.md
Due: cargo-fmt, clippy

Validate the interposer against real board-array panels
  crates/pcb-interposer/src/arrayspec.rs
  crates/pcb-interposer/src/bin/interposer-poc.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/src/panel.rs
  docs/explorations/pogo-pin-interposer.md
Due: cargo-fmt, clippy

Emit KiCad boards with GND pours and pass external DRC
  crates/pcb-interposer/src/bin/interposer-poc.rs
  crates/pcb-interposer/src/emit.rs
  crates/pcb-interposer/src/geom.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/src/route.rs
  crates/pcb-interposer/src/router.rs
  docs/explorations/pogo-pin-interposer.md
Due: cargo-fmt, clippy

Document interposer assignment as typed slot injection
  docs/explorations/pogo-pin-interposer.md
Due: none

Inherit assembly-panel tooling and fids, fill zones on emit
  crates/pcb-interposer/src/bin/fill_zones.py
  crates/pcb-interposer/src/bin/interposer-poc.rs
  crates/pcb-interposer/src/emit.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/src/panel.rs
  crates/pcb-interposer/src/route.rs
  crates/pcb-interposer/src/router.rs
  crates/pcb-interposer/src/types.rs
  docs/explorations/pogo-pin-interposer.md
Due: ty, cargo-fmt, clippy

Identify fixture pads with an ict property
  CHANGELOG.md
  docs/explorations/pogo-pin-interposer.md
  lib/std/generics/TestPoint.zen
  lib/std/generics/test/test_TestPoint.zen
Due: none

Add exploration notes for automatic pogo-pin interposers
  docs/explorations/pogo-pin-interposer.md
Due: none

Add an optional ict fixture role to TestPoint
  CHANGELOG.md
  lib/std/generics/TestPoint.zen
  lib/std/generics/test/test_TestPoint.zen
Due: none

Add an optional ict fixture role to TestPoint (#1069)
  CHANGELOG.md
  lib/std/generics/TestPoint.zen
  lib/std/generics/test/test_TestPoint.zen
Due: none

Release v0.4.32
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add pcb ipc ict to list ICT fixture contacts
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/ict.rs
  crates/pcb-ipc2581-tools/src/commands/mod.rs
  crates/pcbc/src/ipc2581.rs
Due: cargo-fmt, clippy

Add pcb ipc ict to list ICT fixture contacts (#1070)
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/ict.rs
  crates/pcb-ipc2581-tools/src/commands/mod.rs
  crates/pcbc/src/ipc2581.rs
Due: cargo-fmt, clippy

Move the pcb ipc ict changelog entry to Unreleased
  CHANGELOG.md
Due: none

Add a kicad dialect to pcb-ir for generated boards
  Cargo.lock
  crates/pcb-ir/Cargo.toml
  crates/pcb-ir/src/dialects/kicad/mod.rs
  crates/pcb-ir/src/dialects/kicad/write.rs
  crates/pcb-ir/src/dialects/mod.rs
  crates/pcb-ir/tests/kicad_write.rs
Due: cargo-fmt, clippy

Write footprint property rotation
  crates/pcb-ir/src/dialects/kicad/write.rs
  crates/pcb-ir/tests/kicad_write.rs
Due: cargo-fmt, clippy

Add a kicad dialect to pcb-ir for generated boards (#1071)
  Cargo.lock
  crates/pcb-ir/Cargo.toml
  crates/pcb-ir/src/dialects/kicad/mod.rs
  crates/pcb-ir/src/dialects/kicad/write.rs
  crates/pcb-ir/src/dialects/mod.rs
  crates/pcb-ir/tests/kicad_write.rs
Due: cargo-fmt, clippy

fix(git): fall back to SSH when probing repositories
  CHANGELOG.md
  crates/pcb-zen/src/git.rs
Due: cargo-fmt, clippy

fix(git): fall back to SSH when probing repositories (#1073)
  CHANGELOG.md
  crates/pcb-zen/src/git.rs
Due: cargo-fmt, clippy

Release v0.4.33
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Apply cargo fmt and fix zombie process in test
  crates/pcb-command-runner/src/lib.rs
  crates/pcbc/src/freerouting/mod.rs
  crates/pcbc/tests/route.rs
Due: cargo-fmt, clippy

Surface FreeRouting TERMINATED as an error instead of a normal cancel
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Fail SES import on ImportSpecctraSES/Fill failure instead of ignoring it
  crates/pcbc/src/route.rs
Due: cargo-fmt, clippy

Drop the 5s opportunistic output cache in poll_job
  crates/pcbc/src/freerouting/api.rs
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Kill FreeRouting via the shared Child handle instead of raw PID/FFI
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Report unrouted connections instead of always claiming success
  crates/pcbc/src/freerouting/api.rs
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Download the FreeRouting JAR into a single NamedTempFile
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Trim the REST-vs-CLI rationale duplicated across freerouting doc comments
  crates/pcbc/src/freerouting/api.rs
  crates/pcbc/src/freerouting/mod.rs
Due: cargo-fmt, clippy

Add pcb ipc interposer to generate fixture interposer boards
  CHANGELOG.md
  Cargo.lock
  crates/pcb-interposer/Cargo.toml
  crates/pcb-interposer/src/emit.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/src/panel.rs
  crates/pcb-interposer/src/pattern.rs
  crates/pcb-interposer/tests/generate.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/src/ipc2581.rs
Due: cargo-fmt, clippy

Snap the mate tile to exact A7 dims and fit off-series sheets
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/src/panel.rs
  crates/pcb-interposer/src/pattern.rs
  crates/pcb-interposer/tests/generate.rs
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
