Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Generate component module imports
  Cargo.lock
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Make component package generation all-or-nothing
  crates/pcb-sexpr/src/kicad/mod.rs
  crates/pcb-sexpr/src/kicad/schematic.rs
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/generate.rs
Due: cargo-fmt, clippy

Denser codegen
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/src/import/mod.rs
  crates/pcb/src/import/props.rs
  crates/pcb/src/import/semantic.rs
Due: cargo-fmt, clippy

Sanitize names better
  Cargo.lock
  crates/pcb-component-gen/Cargo.toml
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/src/component.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Add NotConnected support
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import/generate.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Generate sym + fp component files
  crates/pcb-sexpr/src/board.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import.rs
Due: cargo-fmt, clippy

Add more generic packages
  crates/pcb/src/import/semantic.rs
  crates/pcb/src/import/types.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Fix NC net handling
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import/mod.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Extract layout information
  crates/pcb-sexpr/src/board.rs
  crates/pcb-sexpr/src/kicad/props.rs
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Handle more boards
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/src/import/validate.rs
Due: cargo-fmt, clippy

Tolerate unmanaged footprints
  crates/pcb/src/import/generate.rs
  crates/pcb/src/import/validate.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Passive promotion
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/src/import/mod.rs
  crates/pcb/src/import/report.rs
  crates/pcb/src/import/semantic.rs
  crates/pcb/src/import/types.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Structure in phases
  crates/pcb/src/import/discover.rs
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/src/import/materialize.rs
  crates/pcb/src/import/mod.rs
  crates/pcb/src/import/paths.rs
  crates/pcb/src/import/report.rs
  crates/pcb/src/import/types.rs
  crates/pcb/src/import/validate.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Sum refactoring
  crates/pcb/src/import/mod.rs
  crates/pcb/src/import/report.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Tolerate extra footprints in layout
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Add mirror=x|y support to `pcb:sch` comments
  CHANGELOG.md
  Cargo.lock
  crates/pcb-sch/Cargo.toml
  crates/pcb-sch/src/position.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/snapshots/netlist__netlist_positions_with_mirror.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Add mirror=x|y support to `pcb:sch` comments (#511)
  CHANGELOG.md
  Cargo.lock
  crates/pcb-sch/Cargo.toml
  crates/pcb-sch/src/position.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/snapshots/netlist__netlist_positions_with_mirror.snap
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Add pcb-sch README
  crates/pcb-sch/README.md
Due: none

Revert "Support manual assignment of reference designators (#509)"
  CHANGELOG.md
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/tests/designator.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Opportunistic refdes hints from hierarchical path
  CHANGELOG.md
  crates/pcb-sch/src/lib.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

[ENG-190] Improve LSP file state tracking
  CHANGELOG.md
  crates/pcb-starlark-lsp/src/server.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

remove redundant AST parse
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Expose skill content programmatically
  crates/pcb-zen-core/src/convert.rs
  crates/pcb/src/main.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/run.rs
Due: cargo-fmt, clippy

Opportunistic refdes hints from hierarchical path (#512)
  CHANGELOG.md
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/tests/designator.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

[ENG-190] Improve LSP file state tracking (#513)
  CHANGELOG.md
  crates/pcb-starlark-lsp/src/server.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Expose skill content programmatically (#514)
  crates/pcb/src/main.rs
  crates/pcb/src/mcp.rs
  crates/pcb/src/run.rs
Due: cargo-fmt, clippy

Release v0.3.37
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add vouch workflows and initialize vouched contributors
  .github/VOUCHED.td
  .github/workflows/vouch-check-pr.yml
  .github/workflows/vouch-manage-by-issue.yml
  CONTRIBUTING.md
Due: none

Add `pcb export`
  CHANGELOG.md
  Cargo.lock
  crates/pcb/Cargo.toml
  crates/pcb/src/export.rs
  crates/pcb/src/main.rs
  crates/pcb/tests/snapshots/simple__help.snap
Due: cargo-fmt, clippy

Discover KiCad layout via .kicad_pro (derive .kicad_pcb)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb/src/bom.rs
  crates/pcb/src/open.rs
  crates/pcb/src/release.rs
  crates/pcb/src/route.rs
Due: ty, cargo-fmt, clippy

update nix flake to work with new files
  flake.lock
  flake.nix
Due: none

remove unneeded rustc
  flake.nix
Due: none

Discover KiCad layout via .kicad_pro (derive .kicad_pcb) (#517)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb/src/bom.rs
  crates/pcb/src/open.rs
  crates/pcb/src/release.rs
  crates/pcb/src/route.rs
Due: ty, cargo-fmt, clippy

add .mdx extension to flake source filter
  flake.nix
Due: none

update nix flake to work with new files (#518)
  flake.lock
  flake.nix
Due: none

Fix snapshot tests, add changelog
  CHANGELOG.md
  crates/pcb/tests/release.rs
  crates/pcb/tests/tag.rs
Due: cargo-fmt, clippy

Include kicad drc json in release
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Include kicad drc json in release (#519)
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/release.rs
  crates/pcb/tests/release.rs
  crates/pcb/tests/tag.rs
Due: cargo-fmt, clippy

Add stackup import + codegen
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/codegen/mod.rs
  crates/pcb/src/codegen/starlark.rs
  crates/pcb/src/codegen/zen.rs
  crates/pcb/src/import.rs
  crates/pcb/src/main.rs
  crates/pcb/src/new.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy
