Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

fix(stdlib) typo.
  stdlib/bom/match_generics.zen
Due: none

fix(stdlib) changelog.
  CHANGELOG.md
Due: none

stdlib: 10uF 100V house capacitor (#677)
  CHANGELOG.md
  stdlib/bom/match_generics.zen
Due: none

Fix numeric-only layout paths
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
Due: ty

Warn on invalid inherited symbol datasheets
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb/tests/build.rs
  crates/pcb/tests/part.rs
  crates/pcb/tests/snapshots/build__invalid_inherited_symbol_datasheet_is_warning.snap
Due: cargo-fmt, clippy

Release v0.3.65
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: keep pcb.sum in package output
  crates/pcb-canonical/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/src/bundle.rs
  crates/pcb/src/package.rs
Due: cargo-fmt, clippy

fix: keep pcb.sum in package output (#680)
  crates/pcb-canonical/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/src/bundle.rs
  crates/pcb/src/package.rs
Due: cargo-fmt, clippy

Release v0.3.66
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: support workspace API endpoint configuration
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/endpoint.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb-diode-api/src/routing.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcb/src/api.rs
  crates/pcb/src/bom.rs
  crates/pcb/src/migrate/codemods/manifest_v2.rs
  crates/pcb/src/preview.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/route.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Use cwd workspace context in BOM compat wrapper
  crates/pcb-diode-api/src/bom.rs
Due: cargo-fmt, clippy

Remove unused path-based public wrapper functions
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/lib.rs
Due: cargo-fmt, clippy

feat: support workspace API endpoint configuration (#681)
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/endpoint.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb-diode-api/src/routing.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcb/src/api.rs
  crates/pcb/src/bom.rs
  crates/pcb/src/migrate/codemods/manifest_v2.rs
  crates/pcb/src/preview.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/route.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Simplify default KiCad library selection
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/kicad_library.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb/tests/auto_deps.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Update CI to KiCad 10
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

Update snapshots to KiCad 10
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
Due: none

Update stdlib test layout files to KiCad 10
  stdlib/test/layout/test_BoardConfig/layout.kicad_pcb
  stdlib/test/layout/test_BoardConfig/layout.kicad_pro
Due: none

Fix KiCad 10 Windows CI install
  .github/workflows/test.yml
Due: none

Update Windows KiCad defaults for v10
  crates/pcb-kicad/src/lib.rs
Due: cargo-fmt, clippy

Tolerate KiCad 10 parity field normalization
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/import/validate.rs
Due: cargo-fmt, clippy

Separate stdlib KiCad defaults from workspace families
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/auto_deps.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb-zen/tests/kicad_inference_snapshot.rs
Due: cargo-fmt, clippy

Keep stdlib KiCad deps package-local
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/tests/auto_deps.rs
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_dynamic_path_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_footprints_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_kicad_symbols_pcb_toml.snap
  crates/pcb/tests/snapshots/auto_deps__auto_deps_multiple_pcb_toml.snap
Due: cargo-fmt, clippy

Warn on deprecated stdlib Range aliases
  CHANGELOG.md
  crates/pcb-sch/src/physical.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/tests/load.rs
  stdlib/units.zen
Due: cargo-fmt, clippy

Standardize stdlib deprecation warnings
  stdlib/config.zen
  stdlib/generics/Capacitor.zen
  stdlib/generics/FerriteBead.zen
  stdlib/generics/Resistor.zen
  stdlib/kicad/MolexPicoBlade.zen
  stdlib/kicad/PinHeader.zen
  stdlib/kicad/PinSocket.zen
  stdlib/kicad/SolderWire.zen
  stdlib/kicad/TagConnect.zen
  stdlib/properties.zen
Due: none

Deprecate pins and metadata stdlib modules
  stdlib/metadata.zen
  stdlib/pins.zen
Due: none

Deprecate Schematics helper
  stdlib/properties.zen
Due: none

Deprecate legacy generic stdlib modules
  CHANGELOG.md
  stdlib/generics/Bjt.zen
  stdlib/generics/Diode.zen
  stdlib/generics/Inductor.zen
  stdlib/generics/Mosfet.zen
  stdlib/generics/OperationalAmplifier.zen
Due: none
