Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

feat: expose netlist-derived property sync
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcb-kicad-sch/tests/editor_core.rs
Due: cargo-fmt, clippy

Fix reconciliation of netlist-derived symbol properties (#1157)
  CHANGELOG.md
  crates/pcb-kicad-sch/src/analysis.rs
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/field_autoplace.rs
  crates/pcb-kicad-sch/src/kicad.rs
  crates/pcb-kicad-sch/src/model.rs
  crates/pcb-kicad-sch/src/net_symbols.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcb-kicad-sch/src/repair.rs
  crates/pcb-kicad-sch/src/symbol.rs
  crates/pcb-kicad-sch/tests/common/kicad_builder.rs
  crates/pcb-kicad-sch/tests/editor_core.rs
Due: cargo-fmt, clippy

Warn on standard soldermask webs
  CHANGELOG.md
  crates/pcb-ipc2581-tools/docs/dfm.md
  crates/pcb-ipc2581-tools/pdks/standard.toml
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/pdk.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/rules.rs
Due: cargo-fmt, clippy

Warn on standard soldermask webs (#1158)
  CHANGELOG.md
  crates/pcb-ipc2581-tools/docs/dfm.md
  crates/pcb-ipc2581-tools/pdks/standard.toml
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/pdk.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/rules.rs
Due: cargo-fmt, clippy

Fix case-insensitive LCSC offer display
  crates/pcb-diode-api/src/bom.rs
Due: cargo-fmt, clippy

Fix LCSC IDs for case-insensitive distributor names (#1160)
  crates/pcb-diode-api/src/bom.rs
Due: cargo-fmt, clippy

Update supported LED colors
  CHANGELOG.md
  crates/pcbc/tests/snapshots/release__publish_full.snap
  crates/pcbc/tests/snapshots/release__publish_source_only.snap
  crates/pcbc/tests/snapshots/release__publish_with_description.snap
  crates/pcbc/tests/snapshots/release__publish_with_version.snap
  lib/std/generics/Led.zen
  lib/std/generics/spice/Led.lib
Due: none

Sync skills from diode 7fa9ce6
  skills/librarian/SKILL.md
Due: none

Open DFM reports in web viewer
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-ipc2581-tools/docs/dfm.md
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcbc/Cargo.toml
  crates/pcbc/src/dfm.rs
  crates/pcbc/src/ipc2581.rs
  crates/pcbc/src/open.rs
Due: cargo-fmt, clippy

Release v0.4.48
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Simplify BOM match caching
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/cache.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Simplify bundled DFM PDKs
  CHANGELOG.md
  README.md
  crates/pcb-ipc-wasm/scripts/smoke.mjs
  crates/pcb-ipc2581-tools/README.md
  crates/pcb-ipc2581-tools/docs/dfm.md
  crates/pcb-ipc2581-tools/pdks/jlcpcb.toml
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/builtin_pdks.rs
  crates/pcbc/src/dfm.rs
  crates/pcbc/src/ipc2581.rs
  crates/pcbc/tests/dfm.rs
Due: cargo-fmt, clippy

Sync skills from diode e6f477a
  skills/librarian/SKILL.md
  skills/registry-search/SKILL.md
Due: none

Add PCB service-account authentication
  CHANGELOG.md
  README.md
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/auth/service_account.rs
  crates/pcb-diode-api/src/auth/service_account/tests.rs
  crates/pcb-diode-api/src/datasheet.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcbc/src/lsp.rs
  crates/pcbc/tests/auth.rs
  crates/pcbc/tests/integration.rs
Due: cargo-fmt, clippy

Keep service-account imports on the active endpoint
  crates/pcb-diode-api/src/auth/service_account.rs
  crates/pcbc/tests/auth.rs
Due: cargo-fmt, clippy

Add PCB service-account authentication (#1164)
  CHANGELOG.md
  README.md
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/auth/service_account.rs
  crates/pcb-diode-api/src/auth/service_account/tests.rs
  crates/pcb-diode-api/src/datasheet.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcbc/src/lsp.rs
  crates/pcbc/tests/auth.rs
  crates/pcbc/tests/integration.rs
Due: cargo-fmt, clippy

Release v0.4.49
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(schematic): allow generated content outside page bounds
  CHANGELOG.md
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/placement.rs
Due: cargo-fmt, clippy

fix(schematic): satisfy collapsible-if lint
  crates/pcb-kicad-sch/src/compose.rs
Due: cargo-fmt, clippy

fix(schematic): reserve opaque text and graphics during placement
  CHANGELOG.md
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/field_autoplace.rs
  crates/pcb-kicad-sch/src/placement.rs
Due: cargo-fmt, clippy

fix(schematic): bound only the swept portion of page arcs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/field_autoplace.rs
Due: cargo-fmt, clippy

fix(schematic): allow placement outside page bounds (#1172)
  CHANGELOG.md
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/field_autoplace.rs
  crates/pcb-kicad-sch/src/placement.rs
Due: cargo-fmt, clippy

Remove redundant pricing and layout helpers
  .github/workflows/wasm.yml
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
  crates/pcb-layout/Cargo.toml
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcbc/Cargo.toml
Due: ty, cargo-fmt, clippy

Remove redundant pricing and layout helpers (#1173)
  .github/workflows/wasm.yml
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/registry/tui/ui.rs
  crates/pcb-layout/Cargo.toml
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcbc/Cargo.toml
Due: ty, cargo-fmt, clippy

docs: trim agent guidance and consolidate getting-started docs
  AGENTS.md
  README.md
  docs/pages/packages.mdx
  docs/pages/quickstart.mdx
Due: none

docs: trim agent guidance and consolidate getting-started docs (#1174)
  AGENTS.md
  README.md
  docs/pages/packages.mdx
  docs/pages/quickstart.mdx
Due: none

docs: shorten MDX guides and remove repeated examples
  docs/pages/antenna_matching_network.mdx
  docs/pages/docs_bringup.mdx
  docs/pages/docs_readme.mdx
  docs/pages/packages.mdx
Due: none

docs: trim IPC and KiCad developer guides
  crates/pcb-ipc2581-tools/README.md
  crates/pcb-kicad-sch/DESIGN.md
  crates/pcbc/src/import/README.md
Due: none

docs: remove bringup and README convention pages
  docs/docs.json
  docs/pages/docs_bringup.mdx
  docs/pages/docs_readme.mdx
Due: none

Keep ring area stable under translation
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-ir/tests/region_query.rs
Due: cargo-fmt, clippy

Expose prepared signed-distance queries for PCBIR regions
  CHANGELOG.md
  crates/pcb-ir/src/geom/dist.rs
  crates/pcb-ir/src/geom/mod.rs
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-ir/src/geom/region/query.rs
  crates/pcb-ir/tests/region_query.rs
Due: cargo-fmt, clippy

Use prepared regions for all boundary indexing
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/copper_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/hole_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/thin_regions.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/design.rs
  crates/pcb-ir/src/geom/dfm.rs
  crates/pcb-ir/src/geom/grid.rs
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-ir/src/geom/region/query.rs
  crates/pcb-ir/tests/region_query.rs
Due: cargo-fmt, clippy

Migrate hooks to prek.toml and align tool commands
  .github/workflows/test.yml
  .pre-commit-config.yaml
  prek.toml
  pyproject.toml
Due: none

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
