Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

docs: document CLI output handling
  AGENTS.md
Due: none

docs: simplify CLI output guidance
  AGENTS.md
Due: none

Sync skills from diode 9d92bd6
  skills/registry-search/SKILL.md
Due: none

ENG-1166 Preserve 64-bit JSON configuration integers
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/tests/input.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Keep the language server running on malformed LSP parameters.
  CHANGELOG.md
  crates/pcb-starlark-lsp/src/server.rs
  crates/pcb-starlark-lsp/src/test.rs
Due: cargo-fmt, clippy

ENG-1167 Return JSON-compatible WASM evaluation results
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-zen-wasm/Cargo.toml
  crates/pcb-zen-wasm/README.md
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
  crates/pcb-zen-wasm/src/lib.rs
Due: cargo-fmt, clippy

Reply to unknown LSP requests with MethodNotFound.
  CHANGELOG.md
  crates/pcb-starlark-lsp/src/server.rs
Due: cargo-fmt, clippy

ENG-1163 Fail pcb fmt on parse, read, and write errors.
  CHANGELOG.md
  Cargo.lock
  crates/pcb-fmt/Cargo.toml
  crates/pcb-fmt/src/lib.rs
  crates/pcbc/src/codegen/zen.rs
  crates/pcbc/src/fmt.rs
Due: cargo-fmt, clippy

ENG-1169 Isolate KiCad CLI temp directories for concurrent ODB exports.
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
Due: cargo-fmt, clippy

Keep SPICE DC measurements across later ngspice analyses
  CHANGELOG.md
  lib/std/simulation/test/test_FerriteBead.zen
  lib/std/simulation/test/test_Inductor.zen
Due: none

ENG-1168 Keep schematic conversion diagnostics in LSP evaluation.
  CHANGELOG.md
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb-zen/src/lsp/mod.rs
Due: cargo-fmt, clippy

Update dependencies and adapt affected APIs
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
  Cargo.lock
  Cargo.toml
  bin/kicad_ipc_gerber_svg_diff.py
  crates/pcb-ipc2581-tools/src/commands/info.rs
  crates/pcb-sch/src/bom_table.rs
  crates/pcbc/src/drc.rs
  crates/pcbc/src/release.rs
  crates/pcbc/src/test.rs
  flake.lock
  lib/tools/kicad-step-gen/generate_pinheader_step.py
  lib/tools/kicad-step-gen/generate_pinsocket_step.py
  pyproject.toml
  uv.lock
Due: ty, cargo-fmt, clippy

Update dependencies and adapt affected APIs (#1118)
  .github/workflows/npm-publish.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
  Cargo.lock
  Cargo.toml
  bin/kicad_ipc_gerber_svg_diff.py
  crates/pcb-ipc2581-tools/src/commands/info.rs
  crates/pcb-sch/src/bom_table.rs
  crates/pcbc/src/drc.rs
  crates/pcbc/src/release.rs
  crates/pcbc/src/test.rs
  flake.lock
  lib/tools/kicad-step-gen/generate_pinheader_step.py
  lib/tools/kicad-step-gen/generate_pinsocket_step.py
  pyproject.toml
  uv.lock
Due: ty, cargo-fmt, clippy

Bump rust to 1.98
  rust-toolchain.toml
Due: none

Release v0.4.41
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Fix Clippy constant chunk warnings
  crates/pcb-diode-api/src/registry/embeddings.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/vcut.rs
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-sexpr/src/kicad/footprint.rs
  crates/rectify/src/raster.rs
Due: cargo-fmt, clippy

Fix Clippy constant chunk warnings (#1120)
  crates/pcb-diode-api/src/registry/embeddings.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/vcut.rs
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-sexpr/src/kicad/footprint.rs
  crates/rectify/src/raster.rs
Due: cargo-fmt, clippy

Preserve IPC-2581 assembly source data
  CHANGELOG.md
  crates/ipc2581/src/lib.rs
  crates/ipc2581/src/parse.rs
  crates/ipc2581/src/types/bom.rs
  crates/ipc2581/src/types/content.rs
  crates/ipc2581/src/types/dictionary.rs
  crates/ipc2581/src/types/ecad.rs
  crates/ipc2581/src/types/primitives.rs
  crates/ipc2581/tests/testcases.rs
  crates/pcb-interposer/src/contacts.rs
  crates/pcb-ipc2581-tools/src/accessors/bom.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/xml.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom_edit.rs
  crates/pcb-ipc2581-tools/src/commands/ict.rs
  crates/pcb-ipc2581-tools/src/commands/info.rs
  crates/pcb-ipc2581-tools/src/copper_balance.rs
  crates/pcb-ipc2581-tools/src/placement.rs
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

Make stdlib QR generic match JLCPCB 2D barcode spec
  CHANGELOG.md
  lib/std/generics/QR.zen
  lib/std/generics/footprints/QR.kicad_mod
  lib/std/generics/footprints/QR_10mm.kicad_mod
  lib/std/generics/footprints/QR_5mm.kicad_mod
  lib/std/generics/footprints/QR_8mm.kicad_mod
  lib/std/generics/symbols/QR.kicad_sym
Due: none

Simplify QR changelog entry
  CHANGELOG.md
Due: none

Shorten QR footprint descr
  lib/std/generics/footprints/QR_10mm.kicad_mod
  lib/std/generics/footprints/QR_5mm.kicad_mod
  lib/std/generics/footprints/QR_8mm.kicad_mod
Due: none

Shorten QR size help text
  lib/std/generics/QR.zen
Due: none

Use IPC-2581C line end values
  crates/ipc2581/src/lib.rs
  crates/ipc2581/src/parse.rs
  crates/ipc2581/src/types/primitives.rs
  crates/ipc2581/src/write.rs
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

ENG-1178 Preserve IPC-2581 assembly source data (#1122)
  CHANGELOG.md
  crates/ipc2581/src/lib.rs
  crates/ipc2581/src/parse.rs
  crates/ipc2581/src/types/bom.rs
  crates/ipc2581/src/types/content.rs
  crates/ipc2581/src/types/dictionary.rs
  crates/ipc2581/src/types/ecad.rs
  crates/ipc2581/src/types/primitives.rs
  crates/ipc2581/src/write.rs
  crates/ipc2581/tests/testcases.rs
  crates/pcb-interposer/src/contacts.rs
  crates/pcb-ipc2581-tools/src/accessors/bom.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/xml.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcb-ipc2581-tools/src/commands/bom_edit.rs
  crates/pcb-ipc2581-tools/src/commands/ict.rs
  crates/pcb-ipc2581-tools/src/commands/info.rs
  crates/pcb-ipc2581-tools/src/copper_balance.rs
  crates/pcb-ipc2581-tools/src/placement.rs
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

Refresh device OAuth tokens directly
  crates/pcb-diode-api/src/auth.rs
Due: cargo-fmt, clippy

Process completed device authorization before expiry
  crates/pcb-diode-api/src/auth.rs
Due: cargo-fmt, clippy

Move auth login to device PKCE flow
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
Due: cargo-fmt, clippy

ENG-1211 Move pcb auth login to device PKCE flow (#1121)
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
Due: cargo-fmt, clippy

Release v0.4.42
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

ENG-1196 Add canonical assembly IR
  CHANGELOG.md
  crates/pcb-ipc-wasm/src/lib.rs
  crates/pcb-ipc2581-tools/src/commands/cpl.rs
  crates/pcb-ipc2581-tools/src/commands/ict.rs
  crates/pcb-ipc2581-tools/src/placement.rs
  crates/pcb-ir/src/dialects/assembly.rs
  crates/pcb-ir/src/dialects/mod.rs
  crates/pcb-ir/src/dialects/placement.rs
  crates/pcb-ir/src/import/ipc2581.rs
  crates/pcb-ir/src/import/ipc2581/assembly.rs
  crates/pcb-ir/src/lib.rs
Due: cargo-fmt, clippy

Keep document placements available to ICT
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/cpl.rs
  crates/pcb-ipc2581-tools/src/commands/ict.rs
  crates/pcb-ipc2581-tools/src/placement.rs
  crates/pcb-ir/src/dialects/placement.rs
Due: cargo-fmt, clippy

ENG-1196 Add canonical assembly IR (#1124)
  CHANGELOG.md
  crates/pcb-ipc-wasm/src/lib.rs
  crates/pcb-ipc2581-tools/src/commands/cpl.rs
  crates/pcb-ipc2581-tools/src/commands/ict.rs
  crates/pcb-ipc2581-tools/src/placement.rs
  crates/pcb-ir/src/dialects/assembly.rs
  crates/pcb-ir/src/dialects/mod.rs
  crates/pcb-ir/src/dialects/placement.rs
  crates/pcb-ir/src/import/ipc2581.rs
  crates/pcb-ir/src/import/ipc2581/assembly.rs
  crates/pcb-ir/src/lib.rs
Due: cargo-fmt, clippy

ENG-1197 Derive exact physical terminations
  CHANGELOG.md
  crates/pcb-ir/src/import/physical.rs
Due: cargo-fmt, clippy

ENG-1197 Link exact paste across sides
  crates/pcb-ir/src/import/physical.rs
Due: cargo-fmt, clippy

ENG-1197 Derive exact physical terminations (#1125)
  CHANGELOG.md
  crates/pcb-ir/src/import/physical.rs
Due: cargo-fmt, clippy

Add profile-based DFM PDKs
  CHANGELOG.md
  crates/pcb-ipc-wasm/scripts/smoke.mjs
  crates/pcb-ipc-wasm/scripts/typecheck.ts
  crates/pcb-ipc-wasm/src/api.d.ts
  crates/pcb-ipc-wasm/tests/pdk.toml
  crates/pcb-ipc2581-tools/README.md
  crates/pcb-ipc2581-tools/docs/dfm.md
  crates/pcb-ipc2581-tools/examples/apcb-proto.toml
  crates/pcb-ipc2581-tools/examples/dfm-pdk.toml
  crates/pcb-ipc2581-tools/pdks/ipc.toml
  crates/pcb-ipc2581-tools/pdks/jlcpcb.toml
  crates/pcb-ipc2581-tools/pdks/standard.toml
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/builtin_pdks.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/annular_ring.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/copper_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/hole_pair_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/linework_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/mod.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/slot_width.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/thin_regions.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/design.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/pdk.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/rules.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/scene.rs
  crates/pcb-ir/src/import/ipc2581.rs
  crates/pcbc/src/dfm.rs
  crates/pcbc/src/ipc2581.rs
  crates/pcbc/tests/dfm.rs
Due: cargo-fmt, clippy

Fix false DFM widths from boundary backtracking
  CHANGELOG.md
  crates/pcb-ir/src/geom/dfm.rs
  crates/pcb-ir/src/geom/region.rs
Due: cargo-fmt, clippy

Fix DFM rule lowering Clippy failure
  crates/pcb-ipc2581-tools/src/commands/dfm/rules.rs
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
