Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Clean up unused io diagnostics
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen/tests/snapshots/input__interface_input.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_optional_inputs_return_none.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_relative_from_subdir.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_with_relative_paths.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_with_workspace_root.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/simple__simple_workspace_build.snap
Due: cargo-fmt, clippy

Fix unused stdlib variant io ports
  CHANGELOG.md
  crates/pcb/tests/bom.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/simple__simple_workspace_build.snap
  stdlib/generics/Crystal.zen
  stdlib/generics/MountingHole.zen
Due: cargo-fmt, clippy

Fix test to remove unused io() warning
  crates/pcb-zen/tests/module_loading.rs
  crates/pcb-zen/tests/snapshots/module_loading__module_relative_from_subdir.snap
Due: cargo-fmt, clippy

Add root AGENTS.md guidance
  .cursor/rules/spec.md
  AGENTS.md
Due: none

Warn on unused module io ports (#669)
  CHANGELOG.md
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/diagnostics.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcb-zen/tests/module_loading.rs
  crates/pcb-zen/tests/snapshots/input__interface_input.snap
  crates/pcb-zen/tests/snapshots/input__snapshot_optional_inputs_return_none.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_relative_from_subdir.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_with_relative_paths.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_with_workspace_root.snap
  crates/pcb/tests/bom.rs
  crates/pcb/tests/build.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/build__unused_module_io_warning.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/simple__simple_workspace_build.snap
  stdlib/generics/Crystal.zen
  stdlib/generics/MountingHole.zen
Due: cargo-fmt, clippy

Make KiCad symbol the source of truth for component metadata
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/datasheet.rs
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/tests/part.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Patch symbol Footprint property to local stem during pcb import
  crates/pcb/src/import/generate.rs
Due: cargo-fmt, clippy

Inherit skip_bom from KiCad symbol in_bom flag
  CHANGELOG.md
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb/tests/part.rs
Due: cargo-fmt, clippy

Remove pin_defs from generated component templates
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/src/component.rs
  crates/pcb/src/import/generate.rs
Due: cargo-fmt, clippy

Document Component() symbol-inherited defaults in spec
  docs/pages/spec.mdx
Due: none

Remove pin_defs from stdlib generics
  crates/pcb-zen/tests/spice_model.rs
  stdlib/generics/Capacitor.zen
  stdlib/generics/FerriteBead.zen
  stdlib/generics/Resistor.zen
  stdlib/generics/SolderJumper.zen
  stdlib/generics/Thermistor.zen
Due: cargo-fmt, clippy

Accept snapshot diffs
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  docs/pages/spec.mdx
Due: none

Make KiCad symbol the source of truth for component metadata (#671)
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/datasheet.rs
  crates/pcb-eda/src/kicad/symbol.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen/tests/spice_model.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/tests/part.rs
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  docs/pages/spec.mdx
  stdlib/generics/Capacitor.zen
  stdlib/generics/FerriteBead.zen
  stdlib/generics/Resistor.zen
  stdlib/generics/SolderJumper.zen
  stdlib/generics/Thermistor.zen
Due: cargo-fmt, clippy

Sync skills from diode 643b344
  skills/reference-design/SKILL.md
Due: none

Deprecate pcb fork add
  CHANGELOG.md
  crates/pcb/src/fork.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/simple__fork_add_is_blocked.snap
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Unify unpublished package version fallback
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen/src/auto_deps.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/src/publish.rs
  crates/pcb/tests/auto_deps.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Release v0.3.63
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Reuse eval session across workspace builds
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/tests/shared_session.rs
  crates/pcb/src/build.rs
Due: cargo-fmt, clippy

feat: KiCad 10 support
  README.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

update changelog
  CHANGELOG.md
Due: none

Simplify build eval state usage
  crates/pcb/src/build.rs
Due: cargo-fmt, clippy

simplify
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

format
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

more compatibility fixes
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/repair_nets.rs
  crates/pcb-sexpr/src/board.rs
  crates/pcb/src/doc.rs
Due: cargo-fmt, clippy

feat: support nested net symbol paths
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy

Fix split iteration early return in descendant lookup
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy

feat: support nested net symbol paths (#676)
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy

add support for kicad_symdir and 10.0.0 library
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-eda/tests/test_eda.rs
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/kicad_library.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/tests/symbol.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/src/templates/gitignore
  docs/pages/packages.mdx
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

fix tests
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/component_footprint_inference.rs
Due: cargo-fmt, clippy

simplify
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-zen-core/src/lang/symbol.rs
Due: cargo-fmt, clippy

windows
  crates/pcb-zen-core/tests/common/mod.rs
Due: cargo-fmt, clippy

feat: KiCad 10 support (#672)
  CHANGELOG.md
  README.md
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb-eda/src/lib.rs
  crates/pcb-eda/tests/test_eda.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/repair_nets.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-sexpr/src/board.rs
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/kicad_library.rs
  crates/pcb-zen-core/src/lang/symbol.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/tests/common/mod.rs
  crates/pcb-zen-core/tests/component_footprint_inference.rs
  crates/pcb-zen-core/tests/symbol.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/src/doc.rs
  crates/pcb/src/templates/gitignore
  docs/pages/packages.mdx
  docs/pages/spec.mdx
Due: ty, cargo-fmt, clippy

Release v0.3.64
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat(stdlib): add 10uF 100V House cap.
  stdlib/bom/match_generics.zen
Due: none

feat(changelog)! add house cap
  CHANGELOG.md
Due: none
