Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

simplify
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

more cleanup
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy

another
  crates/pcb-zen-core/src/convert.rs
Due: cargo-fmt, clippy

Migrate Legacy
  crates/pcb-layout/src/repair_nets.rs
Due: cargo-fmt, clippy

rm unused
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

fmt
  crates/pcb-layout/src/repair_nets.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/net.rs
Due: cargo-fmt, clippy

Fix Test
  crates/pcb-sch/src/lib.rs
Due: cargo-fmt, clippy

fix test
  crates/pcb-sch/src/lib.rs
Due: cargo-fmt, clippy

Update Snap to Use "Net" for kind instead of legacy "Normal"
  crates/pcb/tests/snapshots/release__publish_with_file.snap
Due: none

Update Snapshots
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
Due: none

fix toml
  crates/pcb/Cargo.toml
Due: none

updates
  crates/pcb-zen-core/tests/snapshots/input__config_types.snap
Due: none

Warn on no net name (#475)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/lang/module.rs
  crates/pcb-zen/tests/snapshots/assert__snapshot_check_true_should_pass.snap
  crates/pcb/tests/build.rs
  crates/pcb/tests/snapshots/build__inline_manifest_v2_unnamed_net_warning.snap
Due: cargo-fmt, clippy

more nets
  crates/pcb-zen-core/tests/snapshots/spice_model__model_parsing.snap
Due: none

add assertion_line to snapshots
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_file.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
  crates/pcb/tests/snapshots/tag__publish_board_simple_workspace.snap
Due: none

add Via
  crates/pcb-ipc2581-tools/src/accessors/mod.rs
  crates/pcb-ipc2581-tools/src/accessors/via.rs
Due: cargo-fmt, clippy

fixes
  crates/pcb-ipc2581-tools/src/accessors/mod.rs
  crates/pcb-ipc2581-tools/src/accessors/via.rs
  crates/pcb-ipc2581-tools/src/commands/info.rs
Due: cargo-fmt, clippy

wip: T-019c0b31-c366-766d-8b30-b807037e1aba
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/footprint_geometry.py
  crates/pcb-layout/src/scripts/lens/group_geometry.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap.new
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap.new
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap.new
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap.new
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap.new
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap.new
Due: ty

Fix entity ids
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
Due: ty

Remove groups_registry arg to apply_changeset
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
  uv.lock
Due: ty

Remove noisy oplogs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
Due: ty

Fix ruff fmt
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Add ruff linting + formatting
  .github/workflows/test.yml
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Remove AdaptTracking
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
Due: ty

Fix placement fallback bug
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
Due: ty

Fix netclass str name cast
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Use stdlib in layout tests
  .github/workflows/test.yml
  crates/pcb-layout/tests/fpid_change.rs
  crates/pcb-layout/tests/resources/fpid_change/Board.zen
  crates/pcb-layout/tests/resources/fpid_change/Board_0603.zen
  crates/pcb-layout/tests/resources/fpid_change/Resistor.zen
  crates/pcb-layout/tests/resources/fpid_change/pcb.sum
  crates/pcb-layout/tests/resources/fpid_change/pcb.toml
  crates/pcb-layout/tests/resources/fpid_change/stdlib.zen
  crates/pcb-layout/tests/resources/fpid_change/units.zen
  crates/pcb-layout/tests/resources/moved/Board.zen
  crates/pcb-layout/tests/resources/moved/Board_renamed.zen
  crates/pcb-layout/tests/resources/moved/Resistor.zen
  crates/pcb-layout/tests/resources/moved/pcb.toml
  crates/pcb-layout/tests/resources/moved/stdlib.zen
  crates/pcb-layout/tests/resources/moved/units.zen
  crates/pcb-layout/tests/resources/simple/BMI270.zen
  crates/pcb-layout/tests/resources/simple/Capacitor.zen
  crates/pcb-layout/tests/resources/simple/MyBoard.zen
  crates/pcb-layout/tests/resources/simple/Resistor.zen
  crates/pcb-layout/tests/resources/simple/pcb.toml
  crates/pcb-layout/tests/resources/simple/stdlib.zen
  crates/pcb-layout/tests/resources/simple/units.zen
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
Due: cargo-fmt, clippy

Convert orphan nets to no-nets
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
Due: ty

Fix CI
  crates/pcb-kicad/src/lib.rs
  crates/pcb-layout/src/scripts/compare_layout_snapshots.py
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
Due: ty, cargo-fmt, clippy

Update diagnostics
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
Due: ty

Fix kicad 9.x api warnings
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Skip kicad internal groups
  crates/pcb-layout/src/scripts/lens/lens.py
Due: ty

Preserve group fragments
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Remove unused APIs
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
Due: ty

Replace assertions with diagnostics
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
Due: ty

Fix fab layer visibility
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/update_layout_file.py
Due: ty

Add unmanaged footprint diagnostics
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
Due: ty

Fallback to hierplace if fragment not found
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
Due: ty

Remove Board, use BoardView and BoardComplement directly
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
Due: ty

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
