Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Restore TVS explicit part configs
  stdlib/generics/Tvs.zen
  stdlib/generics/test/test_Tvs.zen
Due: none

Add diode migration guide
  CHANGELOG.md
Due: none

Replace `Diode.zen` with `Rectifier.zen`, `Zener.zen` (#715)
  CHANGELOG.md
  stdlib/bom/helpers.zen
  stdlib/bom/match_generics.zen
  stdlib/bom/test/test_match_Crystal.zen
  stdlib/bom/test/test_match_LED.zen
  stdlib/bom/test/test_match_PH.zen
  stdlib/bom/test/test_match_Tvs.zen
  stdlib/generics/Diode.zen
  stdlib/generics/Rectifier.zen
  stdlib/generics/Tvs.zen
  stdlib/generics/Zener.zen
  stdlib/generics/test/test_Crystal.zen
  stdlib/generics/test/test_Led.zen
  stdlib/generics/test/test_PinHeader.zen
  stdlib/generics/test/test_Rectifier.zen
  stdlib/generics/test/test_Tvs.zen
  stdlib/generics/test/test_Zener.zen
Due: none

Detect newer KiCad board versions early
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb/src/bundle.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Add streamed s-expression parsing for PCB headers
  crates/pcb-kicad/src/lib.rs
  crates/pcb-sexpr/src/lib.rs
Due: cargo-fmt, clippy

Add KiCad version compat check on `pcb layout` (#735)
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb/src/bundle.rs
  crates/pcb/src/release.rs
Due: cargo-fmt, clippy

Release v0.3.68
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Simplify offline dependency selection
  crates/pcb-zen/src/resolve.rs
Due: cargo-fmt, clippy

Use rusqlite auto-extension helper for sqlite-vec
  crates/pcb-diode-api/src/kicad_symbols/mod.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/mod.rs
Due: cargo-fmt, clippy

Fix aarch64-linux build failure (#736)
  crates/pcb-diode-api/src/kicad_symbols/mod.rs
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/mod.rs
  crates/pcb-zen/src/resolve.rs
Due: cargo-fmt, clippy

Remove dead fork support
  CHANGELOG.md
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-zen/src/fork.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb/src/fork.rs
  crates/pcb/src/main.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/simple__fork_add_is_blocked.snap
  crates/pcb/tests/snapshots/simple__help.snap
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Remove dead fork support (#737)
  CHANGELOG.md
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-zen/src/fork.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb/src/fork.rs
  crates/pcb/src/main.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/simple__fork_add_is_blocked.snap
  crates/pcb/tests/snapshots/simple__help.snap
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Fix stdlib style warnings
  stdlib/generics/NetTie.zen
  stdlib/generics/OperationalAmplifier.zen
  stdlib/generics/Rectifier.zen
  stdlib/generics/Standoff.zen
  stdlib/generics/Thermistor.zen
  stdlib/generics/Zener.zen
  stdlib/generics/test/test_NetTie.zen
Due: none

Update snapshot
  crates/pcb/tests/snapshots/test_bench__failing_checks.snap
Due: none

Release v0.3.69
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Fix stdlib diode io prelude handling
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb/tests/build.rs
  stdlib/generics/Rectifier.zen
  stdlib/generics/Zener.zen
Due: cargo-fmt, clippy

Fix stdlib diode io prelude handling (#739)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb/tests/build.rs
  stdlib/generics/Rectifier.zen
  stdlib/generics/Zener.zen
Due: cargo-fmt, clippy

Sync skills from diode 3c796d3
  skills/component-search/SKILL.md
  skills/idiomatic-zener/SKILL.md
  skills/spice-sim/SKILL.md
  skills/zener-language/references/examples.md
  skills/zener-language/references/language.md
  skills/zener-language/references/stdlib.md
Due: none

Skip no_connect pins in generated component wrappers
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
Due: cargo-fmt, clippy

Keep import pin args in sync with no_connect filtering
  crates/pcb-component-gen/src/lib.rs
  crates/pcb/src/import/generate.rs
Due: cargo-fmt, clippy

Skip `no_connect` pins in generated component wrappers (#740)
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
  crates/pcb/src/import/generate.rs
Due: cargo-fmt, clippy

Silence unresolved inherited symbol datasheets
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb/tests/build.rs
  crates/pcb/tests/part.rs
  crates/pcb/tests/snapshots/build__invalid_inherited_symbol_datasheet_is_warning.snap
Due: cargo-fmt, clippy

Silence unresolved inherited symbol datasheets (#741)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb/tests/build.rs
  crates/pcb/tests/part.rs
  crates/pcb/tests/snapshots/build__invalid_inherited_symbol_datasheet_is_warning.snap
Due: cargo-fmt, clippy

Release v0.3.70
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Sync skills from diode 12e2f28
  skills/component-search/SKILL.md
  skills/idiomatic-zener/SKILL.md
  skills/reference-design/SKILL.md
Due: none

fix: use fallback PDF if fetch doesn't return a PDF
  crates/pcb-diode-api/src/component.rs
  crates/pcb-zen-core/src/diagnostics.rs
Due: cargo-fmt, clippy

Fix package-aware footprint library naming
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-zen/tests/snapshots/kicad_inference_snapshot__snapshot_kicad_symbol_footprint_inference.snap
Due: cargo-fmt, clippy

Remove stale Python footprint formatting fallback
  crates/pcb-layout/src/scripts/update_layout_file.py
  stdlib/bom/house_cap_coverage.py
Due: ty

Fix package-aware footprint library naming (#743)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__multi_pads.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__netclass_assignment.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected_single_pin_multi_pad.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.layout.json.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-zen/tests/snapshots/kicad_inference_snapshot__snapshot_kicad_symbol_footprint_inference.snap
  stdlib/bom/house_cap_coverage.py
Due: ty, cargo-fmt, clippy

Refactor component file download bytes helper
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

feat: extend Schottky and TVS house ladders
  CHANGELOG.md
  stdlib/bom/match_generics.zen
  stdlib/generics/test/test_Rectifier.zen
  stdlib/generics/test/test_Tvs.zen
Due: none

Fix reqwest bytes build on component download
  crates/pcb-diode-api/src/component.rs
Due: cargo-fmt, clippy

fix: use fallback PDF if fetch doesn't return a PDF (#744)
  crates/pcb-diode-api/src/component.rs
  crates/pcb-zen-core/src/diagnostics.rs
Due: cargo-fmt, clippy

Add include modes to pcb fmt
  CHANGELOG.md
  crates/pcb/src/fmt.rs
Due: cargo-fmt, clippy

Add include modes to pcb fmt (#745)
  CHANGELOG.md
  crates/pcb/src/fmt.rs
Due: cargo-fmt, clippy

feat: extend Schottky and TVS house ladders (#742)
  CHANGELOG.md
  stdlib/bom/match_generics.zen
  stdlib/generics/test/test_Rectifier.zen
  stdlib/generics/test/test_Tvs.zen
Due: none

Release v0.3.71
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Fix rebinding warning for discard targets
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/binding.rs
  crates/pcb-zen-core/tests/binding.rs
Due: cargo-fmt, clippy
