Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Migrate CI to Blacksmith ARM macOS runners (#964)
  .github/build-setup.yml
  .github/workflows/build-perf.yml
  .github/workflows/e2e.yml
  .github/workflows/pcb-release.yml
  .github/workflows/pcb-version-bump.yml
  .github/workflows/pcbc-nightly.yml
  .github/workflows/pcbc-release.yml
  .github/workflows/pcbc-version-bump.yml
  .github/workflows/test.yml
  .github/workflows/wasm.yml
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-sch/src/physical.rs
  crates/pcb/src/main.rs
  install.sh
Due: ty, cargo-fmt, clippy

Release v0.4.14
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add McuPinCapability example: STM32G030-style MCU with capability slots
  crates/pcb-zen-core/tests/pinmux.rs
  examples/McuPinCapability/DevBoard.zen
  examples/McuPinCapability/STM32G030.kicad_sym
  examples/McuPinCapability/STM32G030.zen
  examples/McuPinCapability/pcb.toml
  lib/std/interfaces.zen
Due: cargo-fmt, clippy

McuPinCapability: caller-side pin constraints via pin_locks/pin_prefers configs
  examples/McuPinCapability/DevBoard.zen
  examples/McuPinCapability/STM32G030.zen
Due: none

at(): pin constraints on the connection itself; generic capability slots
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/context.rs
  crates/pcb-zen-core/src/lang/param_decl.rs
  crates/pcb-zen-core/src/lang/pinmux.rs
  crates/pcb-zen-core/tests/pinmux.rs
  docs/pages/spec.mdx
  examples/McuPinCapability/DevBoard.zen
  examples/McuPinCapability/STM32G030.zen
Due: cargo-fmt, clippy

pin_solve returns free_pins; example drops the redundant mux-pin list
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/pinmux.rs
  crates/pcb-zen-core/tests/pinmux.rs
  docs/pages/spec.mdx
  examples/McuPinCapability/STM32G030.zen
Due: cargo-fmt, clippy

Dict-of-roles demands: pin_request(bind=) replaces numbered capability slots
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/pinmux.rs
  crates/pcb-zen-core/tests/pinmux.rs
  docs/pages/spec.mdx
  examples/McuPinCapability/DevBoard.zen
  examples/McuPinCapability/STM32G030.zen
Due: cargo-fmt, clippy

Fix TVS BOM matching and ratings
  CHANGELOG.md
  lib/std/bom/helpers.zen
  lib/std/bom/match_generics.zen
  lib/std/generics/Tvs.zen
  lib/std/generics/test/test_Tvs.zen
Due: none

Fix TVS BOM matching and ratings (#965)
  CHANGELOG.md
  lib/std/bom/helpers.zen
  lib/std/bom/match_generics.zen
  lib/std/generics/Tvs.zen
  lib/std/generics/test/test_Tvs.zen
Due: none

pin_request(bind=): validate the bound value early, naming the role
  crates/pcb-zen-core/src/lang/pinmux.rs
Due: cargo-fmt, clippy

ENG-350: remove repository metadata from Git credentials
  CHANGELOG.md
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

ENG-350: remove repository metadata from Git credentials (#966)
  CHANGELOG.md
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Cache KiCad installation on Windows CI
  .github/workflows/test.yml
Due: none

Speed up build performance CI
  .github/workflows/build-perf.yml
  bin/pcb-build-perf
Due: none

Fix Windows KiCad cache verification
  .github/workflows/test.yml
Due: none

Use KiCad version command for cache verification
  .github/workflows/test.yml
Due: none

Restore portable Windows KiCad cache check
  .github/workflows/test.yml
Due: none

Close land-pattern and output-path gaps in KiCad import
  crates/pcbc/src/codegen/zen.rs
  crates/pcbc/src/import/footprint_identity.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/mod.rs
  crates/pcbc/src/import/output.rs
  crates/pcbc/src/import/portable.rs
  crates/pcbc/src/import/registry_reuse.rs
  crates/pcbc/src/import/report.rs
  crates/pcbc/src/import/reuse_validate.rs
  crates/pcbc/src/new.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

Add exact-MPN registry candidate lookup
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/download.rs
  crates/pcb-diode-api/src/registry/mod.rs
Due: cargo-fmt, clippy

Fix Windows path resolution and harden import failure reporting
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/portable.rs
  crates/pcbc/src/import/report.rs
  crates/pcbc/src/import/reuse_validate.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

Remove incomplete BOM source comment
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

refactor(import): narrow standalone schematic support
  CHANGELOG.md
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/src/lib.rs
  crates/pcb-diode-api/src/registry/download.rs
  crates/pcb-diode-api/src/registry/mod.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcbc/src/codegen/zen.rs
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/footprint_identity.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/generated_validate.rs
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/mod.rs
  crates/pcbc/src/import/output.rs
  crates/pcbc/src/import/paths.rs
  crates/pcbc/src/import/portable.rs
  crates/pcbc/src/import/registry_lookup.rs
  crates/pcbc/src/import/registry_reuse.rs
  crates/pcbc/src/import/report.rs
  crates/pcbc/src/import/reuse_validate.rs
  crates/pcbc/src/import/semantic.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/src/new.rs
  crates/pcbc/tests/import.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Add standalone KiCad schematic import
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/tests/input.rs
  crates/pcbc/src/codegen/zen.rs
  crates/pcbc/src/import/discover.rs
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/footprint_identity.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/mod.rs
  crates/pcbc/src/import/output.rs
  crates/pcbc/src/import/paths.rs
  crates/pcbc/src/import/portable.rs
  crates/pcbc/src/import/registry_lookup.rs
  crates/pcbc/src/import/registry_reuse.rs
  crates/pcbc/src/import/report.rs
  crates/pcbc/src/import/reuse_validate.rs
  crates/pcbc/src/import/semantic.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/src/import/validate.rs
  crates/pcbc/src/main.rs
  crates/pcbc/src/new.rs
  crates/pcbc/tests/import.rs
  crates/pcbc/tests/snapshots/simple__help.snap
Due: cargo-fmt, clippy

Document the KiCad import pipeline
  CHANGELOG.md
  README.md
  crates/pcbc/src/import/README.md
  docs/pages/spec.mdx
Due: none

fix(import): restore generated report artifacts
  crates/pcbc/src/import/report.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

fix(import): allow footprint-only mechanical pads
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/generate.rs
Due: cargo-fmt, clippy

fix(component-gen): preserve generated docstring names
  crates/pcb-component-gen/src/lib.rs
Due: cargo-fmt, clippy

refactor(import): reuse staged source snapshot
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/validate.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

test(import): report setup failures first
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

fix(import): preserve missing footprint assignments
  crates/pcbc/src/import/generate.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

test(import): remove redundant pin coverage
  crates/pcbc/src/import/generate.rs
Due: cargo-fmt, clippy

test(import): canonicalize KiCad wrapper path
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

docs: record cross-platform test guidance
  AGENTS.md
Due: none

fix(import): harden standalone conversion validation
  crates/pcb-component-gen/src/lib.rs
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/generated_validate.rs
  crates/pcbc/src/import/portable.rs
Due: cargo-fmt, clippy

chore(import): remove stale feature references
  crates/pcbc/src/import/generate.rs
Due: cargo-fmt, clippy

test(import): report wrapped KiCad failures
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

fix(import): require output directory
  CHANGELOG.md
  README.md
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/paths.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

fix(import): materialize staged sources
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/portable.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

docs: record import review guidance
  AGENTS.md
Due: none

test(import): handle KiCad wrapper probe
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy
