Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

Export dark-only Gerbers for copper-balanced panels
  CHANGELOG.md
  crates/gerberx2/src/from_artwork.rs
  crates/pcb-ipc2581-tools/docs/copper-balancing.md
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ir/src/dialects/artwork/legalize.rs
  crates/pcb-ir/src/dialects/artwork/mod.rs
  crates/pcb-ir/src/dialects/ipc/feature.rs
  crates/pcb-ir/src/dialects/ipc/lower.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

Export dark-only Gerbers for copper-balanced panels (#1302)
  CHANGELOG.md
  crates/gerberx2/src/from_artwork.rs
  crates/pcb-ipc2581-tools/docs/copper-balancing.md
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ir/src/dialects/artwork/legalize.rs
  crates/pcb-ir/src/dialects/artwork/mod.rs
  crates/pcb-ir/src/dialects/ipc/feature.rs
  crates/pcb-ir/src/dialects/ipc/lower.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

fix(layout): repair legacy identities through moved paths
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/tests/sync_footprints.rs
Due: cargo-fmt, clippy

fix(layout): preserve colons and existing board identities
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/sync_footprints.rs
Due: ty, cargo-fmt, clippy

Preserve footprint and pad UUIDs when replacing footprints (ENG-2083)
  CHANGELOG.md
  crates/pcb-layout/README.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/sync_footprints.rs
Due: ty, cargo-fmt, clippy

Restore truncated layout paths without failing sync
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/sync_footprints.rs
Due: ty, cargo-fmt, clippy

Pair same-numbered pads closest first
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
Due: ty

Let one instance keep a shared truncated path
  crates/pcb-layout/src/moved.rs
Due: cargo-fmt, clippy

Revert "Let one instance keep a shared truncated path"
  crates/pcb-layout/src/moved.rs
Due: cargo-fmt, clippy

Preserve footprint and pad UUIDs when replacing footprints (ENG-2083) (#1303)
  CHANGELOG.md
  crates/pcb-layout/README.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/sync_footprints.rs
Due: ty, cargo-fmt, clippy

fix(layout): preserve colons and existing board identities (#1298)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/moved.rs
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  crates/pcb-layout/tests/sync_footprints.rs
Due: ty, cargo-fmt, clippy

Unify IPC cutter passes and drop dead copper-balance plumbing
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/design.rs
  crates/pcb-ipc2581-tools/src/copper_balance.rs
  crates/pcb-ipc2581-tools/src/generated.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ir/src/dialects/ipc/feature.rs
  crates/pcb-ir/src/dialects/ipc/mod.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

Unify IPC cutter passes and drop dead copper-balance plumbing (#1304)
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/design.rs
  crates/pcb-ipc2581-tools/src/copper_balance.rs
  crates/pcb-ipc2581-tools/src/generated.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ir/src/dialects/ipc/feature.rs
  crates/pcb-ir/src/dialects/ipc/mod.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

fix(cli): share sandbox connections for KiCad sync (ENG-2131)
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-diode-api/tests/sandbox_data_plane.rs
  crates/pcbc/src/remote_sandbox.rs
  crates/pcbc/tests/integration.rs
  crates/pcbc/tests/remote_sandbox.rs
Due: cargo-fmt, clippy

fix(cli): handle zero-length sandbox retry waits (ENG-2131)
  crates/pcb-diode-api/src/sandbox.rs
Due: cargo-fmt, clippy

fix(cli): isolate sandbox renewal and allow exec cleanup (ENG-2131)
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-diode-api/tests/sandbox_data_plane.rs
Due: cargo-fmt, clippy

fix(cli): share sandbox connections for KiCad sync (ENG-2131) (#1305)
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-diode-api/tests/sandbox_data_plane.rs
  crates/pcbc/src/remote_sandbox.rs
  crates/pcbc/tests/integration.rs
  crates/pcbc/tests/remote_sandbox.rs
Due: cargo-fmt, clippy

Release v0.4.56
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix(cli): wait on SANDBOX_NOT_READY for remote sandboxes (ENG-2184)
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-diode-api/tests/sandbox_data_plane.rs
  crates/pcbc/tests/remote_sandbox.rs
Due: cargo-fmt, clippy

fix(cli): drop the single-element sandbox wait loop
  crates/pcb-diode-api/tests/sandbox_data_plane.rs
Due: cargo-fmt, clippy

fix(cli): wait on SANDBOX_NOT_READY for remote sandboxes (ENG-2184) (#1307)
  CHANGELOG.md
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-diode-api/tests/sandbox_data_plane.rs
  crates/pcbc/tests/remote_sandbox.rs
Due: cargo-fmt, clippy

feat(interposer): add --layers 4 with inner GND planes
  CHANGELOG.md
  crates/pcb-interposer/src/emit.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/tests/generate.rs
  crates/pcb-ir/src/dialects/kicad/mod.rs
  crates/pcb-ir/src/dialects/kicad/write.rs
  crates/pcbc/src/ipc2581.rs
Due: cargo-fmt, clippy

feat(interposer): add --layers 4 with inner GND planes (#1308)
  CHANGELOG.md
  crates/pcb-interposer/src/emit.rs
  crates/pcb-interposer/src/lib.rs
  crates/pcb-interposer/tests/generate.rs
  crates/pcb-ir/src/dialects/kicad/mod.rs
  crates/pcb-ir/src/dialects/kicad/write.rs
  crates/pcbc/src/ipc2581.rs
Due: cargo-fmt, clippy

Release v0.4.57
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Batch fabrication-profile unions and skip unused relief debug geometry
  crates/pcb-ipc2581-tools/src/geometry/mod.rs
  crates/pcb-ir/src/dialects/ipc/lower.rs
Due: cargo-fmt, clippy

Compose each compared artwork once
  crates/pcb-ir/src/dialects/artwork/compare.rs
Due: cargo-fmt, clippy

Resolve region booleans per bounds-connected group
  CHANGELOG.md
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/geom/region/booleans.rs
  crates/pcb-ir/src/geom/region/simplification.rs
Due: cargo-fmt, clippy

Measure plated-slot enclosure against nearby copper
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/plated_slot_enclosure.rs
Due: cargo-fmt, clippy

Read Altium's bare region moves and offset-less arcs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Build the wasm document without copies or a lazy cache
  crates/pcb-ipc-wasm/src/lib.rs
Due: cargo-fmt, clippy

Compose artwork from placed primitives instead of a rewritten clone
  crates/pcb-ir/src/dialects/artwork/mod.rs
  crates/pcb-ir/src/geom/region/construction.rs
  crates/pcb-ir/src/render/svg.rs
Due: cargo-fmt, clippy

Order batched containment queries along each sweep line
  CHANGELOG.md
  crates/pcb-ir/src/geom/region.rs
  crates/pcb-ir/src/geom/region/tests.rs
Due: cargo-fmt, clippy

Lower mixed-polarity placement groups in flat paint order
  CHANGELOG.md
  crates/pcb-ir/src/dialects/ipc/lower.rs
Due: cargo-fmt, clippy

Bound polygon, outline and step-repeat counts read from Gerber
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/src/parse.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Outline strokes and flatten arcs natively
  CHANGELOG.md
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/geom/accuracy.rs
  crates/pcb-ir/src/geom/arc.rs
  crates/pcb-ir/src/geom/mod.rs
  crates/pcb-ir/src/geom/path.rs
  crates/pcb-ir/src/geom/region/construction.rs
  crates/pcb-ir/src/geom/region/flattening.rs
  crates/pcb-ir/src/geom/region/tests.rs
  crates/pcb-ir/src/geom/stroke.rs
  crates/pcb-ir/tests/geometry_accuracy.rs
Due: cargo-fmt, clippy

Rotate every Gerber macro primitive about the macro origin
  crates/gerberx2/src/parse.rs
  crates/gerberx2/tests/basic.rs
Due: cargo-fmt, clippy

Keep a pad under a slot as native layer content
  crates/pcb-ipc2581-tools/src/commands/html_export.rs
  crates/pcb-ipc2581-tools/src/geometry/render.rs
Due: cargo-fmt, clippy

Reject malformed, non-finite and out-of-range attribute values
  crates/ipc2581/src/parse.rs
  crates/ipc2581/tests/integration.rs
  crates/ipc2581/tests/strictness.rs
  crates/pcb-ipc-wasm/tests/board.xml
  crates/pcb-ir/src/import/ipc2581.rs
Due: cargo-fmt, clippy

Say that normalize keeps step-repeats
  crates/gerberx2/src/from_artwork.rs
Due: cargo-fmt, clippy

Remove cutouts from positive artwork once they have cut
  CHANGELOG.md
  crates/pcb-ir/src/dialects/ipc/process.rs
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
