Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Release v0.4.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add IPC history records for panelization
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
  crates/pcb-ipc2581-tools/src/utils/history.rs
Due: cargo-fmt, clippy

Add IPC history records for panelization (#906)
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
  crates/pcb-ipc2581-tools/src/utils/history.rs
Due: cargo-fmt, clippy

Fix large-workspace build regression
  CHANGELOG.md
  crates/pcb-zen-core/src/workspace.rs
Due: cargo-fmt, clippy

Fix large-workspace build regression (#909)
  CHANGELOG.md
  crates/pcb-zen-core/src/workspace.rs
Due: cargo-fmt, clippy

Add auto panel fallback
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
Due: cargo-fmt, clippy

Add auto panel fallback (#908)
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
Due: cargo-fmt, clippy

Fix Gerber compound region hole export
  CHANGELOG.md
  Cargo.lock
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/tests/basic.rs
  crates/pcb-ipc2581-tools/Cargo.toml
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
Due: cargo-fmt, clippy

Add KiCad IPC Gerber SVG diff script
  CHANGELOG.md
  bin/kicad_ipc_gerber_svg_diff.py
Due: ty

Fix Gerber compound region hole export (#907)
  CHANGELOG.md
  Cargo.lock
  bin/kicad_ipc_gerber_svg_diff.py
  crates/gerberx2/src/geometry/extract.rs
  crates/gerberx2/tests/basic.rs
  crates/pcb-ipc2581-tools/Cargo.toml
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/gerber/lower.rs
Due: ty, cargo-fmt, clippy

Support stdout output for IPC board arrays
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
  crates/pcbc/src/ipc2581.rs
Due: cargo-fmt, clippy

Record IPC board array panelization metadata
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
Due: cargo-fmt, clippy

Update changelog for IPC panelization metadata
  CHANGELOG.md
Due: none

IPC panelize metadata (#910)
  CHANGELOG.md
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
  crates/pcbc/src/ipc2581.rs
Due: cargo-fmt, clippy

Release v0.4.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Release pcb/v0.2.4
  Cargo.lock
  crates/pcb/Cargo.toml
Due: none

Add orb resume hook
  .agents/resume
Due: none

Add orb setup script to install Rust and uv
  .agents/setup
Due: none

Fix KiCad IPC Gerber diff checker
  bin/kicad_ipc_gerber_svg_diff.py
Due: ty

fix(api): use pcb auth login in auth failures
  crates/pcb-diode-api/src/release.rs
Due: cargo-fmt, clippy

Fix gerber differ, add amp orb setup scripts (#911)
  .agents/resume
  .agents/setup
  bin/kicad_ipc_gerber_svg_diff.py
Due: ty

fix(api): use pcb auth login in auth failures (#912)
  crates/pcb-diode-api/src/release.rs
Due: cargo-fmt, clippy

Sync skills from diode 55c4bbb
  skills/librarian/SKILL.md
Due: none

Add pcb sync check mode
  CHANGELOG.md
  crates/pcb-zen/src/package_resolver/materialize.rs
  crates/pcb-zen/src/package_resolver/mod.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/mod/mod.rs
  crates/pcbc/src/mod/writeback.rs
  crates/pcbc/src/publish.rs
  crates/pcbc/tests/sync.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

fix spice generation for unit like Mohms
  crates/pcb-sch/src/physical.rs
  lib/std/generics/Capacitor.zen
  lib/std/generics/FerriteBead.zen
  lib/std/generics/Inductor.zen
  lib/std/generics/Resistor.zen
  lib/std/generics/Thermistor.zen
Due: cargo-fmt, clippy

doc: spec.mdx update for spice PhysicalValue function
  docs/pages/spec.mdx
Due: none

Simplify sync check mode after review
  CHANGELOG.md
  crates/pcb-zen/src/package_resolver/materialize.rs
  crates/pcb-zen/src/package_resolver/mod.rs
  crates/pcb-zen/src/package_resolver/mvs.rs
  crates/pcb-zen/src/package_resolver/scan.rs
  crates/pcb-zen/src/package_resolver/versions.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/list.rs
  crates/pcbc/src/mod/mod.rs
  crates/pcbc/src/mod/request.rs
  crates/pcbc/tests/sync.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Add pcb sync check mode (#914)
  CHANGELOG.md
  crates/pcb-zen/src/package_resolver/materialize.rs
  crates/pcb-zen/src/package_resolver/mod.rs
  crates/pcb-zen/src/package_resolver/mvs.rs
  crates/pcb-zen/src/package_resolver/scan.rs
  crates/pcb-zen/src/package_resolver/versions.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/list.rs
  crates/pcbc/src/mod/mod.rs
  crates/pcbc/src/mod/request.rs
  crates/pcbc/src/mod/writeback.rs
  crates/pcbc/src/publish.rs
  crates/pcbc/tests/sync.rs
  docs/pages/packages.mdx
Due: cargo-fmt, clippy

Add no-auth Diode API mode
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/datasheet.rs
  crates/pcb-diode-api/src/kicad_symbols/download.rs
  crates/pcb-diode-api/src/registry/download.rs
  crates/pcb-diode-api/src/registry/embeddings.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/image.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb-diode-api/src/routing.rs
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcbc/src/bom.rs
  crates/pcbc/src/lsp.rs
Due: cargo-fmt, clippy

Add no-auth Diode API mode (#916)
  CHANGELOG.md
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/bom.rs
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/datasheet.rs
  crates/pcb-diode-api/src/kicad_symbols/download.rs
  crates/pcb-diode-api/src/registry/download.rs
  crates/pcb-diode-api/src/registry/embeddings.rs
  crates/pcb-diode-api/src/registry/tui/app.rs
  crates/pcb-diode-api/src/registry/tui/image.rs
  crates/pcb-diode-api/src/registry/tui/search.rs
  crates/pcb-diode-api/src/release.rs
  crates/pcb-diode-api/src/routing.rs
  crates/pcb-diode-api/src/sandbox.rs
  crates/pcb-diode-api/src/scan.rs
  crates/pcb-ipc2581-tools/src/commands/bom.rs
  crates/pcbc/src/bom.rs
  crates/pcbc/src/lsp.rs
Due: cargo-fmt, clippy

Release v0.4.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: document stdlib files from any workspace
  CHANGELOG.md
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen/src/package_resolver/resolve.rs
Due: cargo-fmt, clippy

docs(pcb): add registry app guide
  docs/docs.json
  docs/images/registry-component-view.png
  docs/images/registry-module-view.png
  docs/images/registry-sidebar.png
  docs/pages/docs_bringup.mdx
  docs/pages/docs_readme.mdx
  docs/pages/registry.mdx
Due: none

docs(pcb): add registry app guide (#918)
  docs/docs.json
  docs/images/registry-component-view.png
  docs/images/registry-module-view.png
  docs/images/registry-sidebar.png
  docs/pages/docs_bringup.mdx
  docs/pages/docs_readme.mdx
  docs/pages/registry.mdx
Due: none

Derive FeatureBucket from FeatureIntent
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ir/src/dialects/ipc/feature.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
Due: cargo-fmt, clippy

Expand the KiCad oracle diff harness
  bin/kicad_ipc_gerber_svg_diff.py
Due: ty

Share one string interner and one layer-function table
  Cargo.lock
  Cargo.toml
  crates/gerberx2/Cargo.toml
  crates/gerberx2/src/intern.rs
  crates/gerberx2/src/lib.rs
  crates/ipc2581/Cargo.toml
  crates/ipc2581/src/lib.rs
  crates/pcb-intern/Cargo.toml
  crates/pcb-intern/src/lib.rs
  crates/pcb-ipc2581-tools/src/geometry/extract.rs
  crates/pcb-ipc2581-tools/src/geometry/mod.rs
  crates/pcb-ipc2581-tools/src/geometry/render.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ipc2581-tools/src/layers.rs
  crates/pcb-ipc2581-tools/src/lib.rs
  crates/pcb-ipc2581-tools/src/manufacturing/drill.rs
Due: cargo-fmt, clippy

Split and tidy the board-array panelizer
  crates/pcb-ipc2581-tools/src/board_array.rs
  crates/pcb-ipc2581-tools/src/commands/board_array.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/mod.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tests.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/tooling.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/vcut.rs
  crates/pcb-ipc2581-tools/src/commands/board_array/xml.rs
  crates/pcb-ipc2581-tools/src/commands/board_array_auto.rs
  crates/pcb-ipc2581-tools/src/geometry/dxf.rs
  crates/pcb-ipc2581-tools/src/utils/format.rs
Due: cargo-fmt, clippy

Add pcb gerber normalize
  CHANGELOG.md
  crates/gerberx2/src/from_artwork.rs
  crates/pcbc/src/gerber.rs
Due: cargo-fmt, clippy

Collect validation problems as structured diagnostics
  crates/pcb-ir/src/dialects/artwork/mod.rs
  crates/pcb-ir/src/dialects/ipc/process.rs
  crates/pcb-ir/src/dialects/ipc/validate.rs
  crates/pcb-ir/src/dialects/mask.rs
  crates/pcb-ir/src/geom/mod.rs
  crates/pcb-ir/src/geom/store.rs
Due: cargo-fmt, clippy
