Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

Preserve automatic Commercial Git auth
  crates/pcb-zen/src/git.rs
Due: cargo-fmt, clippy

fix(pcb): restrict local launcher host
  crates/pcb-launcher/src/main.rs
Due: cargo-fmt, clippy

fix(install): mention launcher log on Unix registration failure
  install.sh
Due: none

Handle ports on IPv6 Git hosts
  crates/pcb-diode-api/src/git_auth.rs
Due: cargo-fmt, clippy

docs(pcb): clarify launcher recovery behavior
  CHANGELOG.md
  install.sh
Due: none

fix(pcb): treat recoverable sync stop as successful open
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

fix(pcb): report Linux launcher registration failures
  crates/pcb-launcher/src/main.rs
Due: cargo-fmt, clippy

fix(pcbc): auto-restore layout recovery for browser launches
  crates/pcbc/src/remote_sandbox.rs
Due: cargo-fmt, clippy

Simplify DiodeHub Git host handling
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-zen/src/git.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Support deployment-specific DiodeHub Git hosts
  CHANGELOG.md
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-zen/src/git.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Address Git credential review findings
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-zen/src/git.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Simplify DiodeHub Git credential routing
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcb-zen/src/git.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Preserve legacy DiodeHub Git authentication
  crates/pcb-diode-api/src/git_auth.rs
  crates/pcbc/tests/auth_git.rs
Due: cargo-fmt, clippy

Release pcb/v0.2.6
  Cargo.lock
  crates/pcb/Cargo.toml
Due: none

Release v0.4.21
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Clean up repository tooling
  .envrc
  README.md
  bin/analyze-profile
  bin/bump-stdlib-version
  bin/embed-readme
  bin/kicad_ipc_gerber_svg_diff.py
Due: ty

Include fab layers in Gerber exports
  CHANGELOG.md
  crates/gerberx2/src/from_artwork.rs
  crates/pcb-ipc2581-tools/src/gerber/export.rs
  crates/pcb-ir/src/geom/mod.rs
  crates/pcb-ir/src/geom/path.rs
  crates/pcb-ir/src/geom/pattern.rs
  crates/pcbc/src/release.rs
Due: cargo-fmt, clippy

Clean up repository tooling (#1008)
  .envrc
  README.md
  bin/analyze-profile
  bin/bump-stdlib-version
  bin/embed-readme
  bin/kicad_ipc_gerber_svg_diff.py
Due: ty

Drop unused jiff dev-dependency from pcbc
  Cargo.lock
  crates/pcbc/Cargo.toml
Due: none

Bump hypothesis 6.156.3 -> 6.165.0 and ty 0.0.65 -> 0.0.66
  uv.lock
Due: none

Refresh Cargo.lock to latest semver-compatible releases
  Cargo.lock
Due: none

Bump serial_test 3.5 -> 4.0
  Cargo.lock
  Cargo.toml
Due: none

Bump foxtrot (triangulate) 79d6fbb -> a1e6d58
  Cargo.lock
  Cargo.toml
Due: none

Bump i_overlay 7 -> 8
  Cargo.lock
  Cargo.toml
Due: none

Bump ruff 0.15.20 -> 0.16.1 (Rust formatter and Python CLI together)
  Cargo.lock
  Cargo.toml
  pyproject.toml
  uv.lock
Due: none

Bump resvg 0.47 -> 0.48
  Cargo.lock
  Cargo.toml
Due: none

Bump base64 0.22 -> 0.23
  Cargo.lock
  Cargo.toml
Due: none

Bump termimad 0.34 -> 0.35
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Bump ruzstd 0.8 -> 0.9
  Cargo.lock
  Cargo.toml
Due: none

Remove dead archive packaging code
  Cargo.lock
  bin/build-wasm-bundle.sh
  crates/pcb-zen/Cargo.toml
  crates/pcb-zen/src/archive.rs
  crates/pcb-zen/src/lib.rs
Due: cargo-fmt, clippy

Remove dead archive packaging code (#1009)
  Cargo.lock
  bin/build-wasm-bundle.sh
  crates/pcb-zen/Cargo.toml
  crates/pcb-zen/src/archive.rs
  crates/pcb-zen/src/lib.rs
Due: cargo-fmt, clippy

Dependency sweep: 10 bumps plus lockfile refresh
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcbc/Cargo.toml
  pyproject.toml
  uv.lock
Due: none

Check Java before auto-downloading the FreeRouting JAR; make --fr-timeout minutes
  crates/pcbc/src/freerouting/mod.rs
  crates/pcbc/src/route.rs
  crates/pcbc/tests/route.rs
Due: cargo-fmt, clippy

Adopt ruff 0.16's default lint rule set for the layout scripts
  crates/pcb-layout/src/scripts/lens/__init__.py
  crates/pcb-layout/src/scripts/lens/changeset.py
  crates/pcb-layout/src/scripts/lens/hierplace.py
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
  crates/pcb-layout/src/scripts/lens/oplog.py
  crates/pcb-layout/src/scripts/lens/tests/strategies.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_changeset.py
  crates/pcb-layout/src/scripts/lens/tests/test_hierplace.py
  crates/pcb-layout/src/scripts/lens/tests/test_layout_fragment.py
  crates/pcb-layout/src/scripts/lens/tests/test_lens.py
  crates/pcb-layout/src/scripts/lens/tests/test_not_connected.py
  crates/pcb-layout/src/scripts/lens/tests/test_pad_net_map.py
  crates/pcb-layout/src/scripts/lens/tests/test_properties.py
  crates/pcb-layout/src/scripts/lens/tests/test_regressions.py
  crates/pcb-layout/src/scripts/lens/tests/test_scenarios.py
  crates/pcb-layout/src/scripts/lens/tests/test_stateful.py
  crates/pcb-layout/src/scripts/lens/tests/test_swig_stability.py
  crates/pcb-layout/src/scripts/lens/tests/test_types.py
  crates/pcb-layout/src/scripts/lens/types.py
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
Due: ty

Add QuadComparator example: LM339 gate swap via the capability model
  examples/QuadComparator/LM339.kicad_sym
  examples/QuadComparator/LM339.zen
  examples/QuadComparator/WindowMonitor.zen
  examples/QuadComparator/pcb.toml
Due: none

Actually enforce the required __future__ import (select I002)
  pyproject.toml
Due: none
