Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

ty:
  name: ty (Python type checker)
  entry: uvx ty check
  language: system
  pass_filenames: false
  priority: 0

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --all --check
  language: system
  pass_filenames: false
  priority: 0

clippy:
  name: clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false
  priority: 1

Fix v2 test sandboxing, migrate more tests to v2 (#501)
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen/src/resolve_v2.rs
  crates/pcb-zen/tests/module_loading.rs
  crates/pcb-zen/tests/snapshots/module_loading__module_nonexistent_alias.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_with_github_package.snap
  crates/pcb/tests/bom.rs
  crates/pcb/tests/build.rs
  crates/pcb/tests/info.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/release.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/info__board_without_pcb_toml.snap
  crates/pcb/tests/snapshots/info__empty_workspace.snap
  crates/pcb/tests/snapshots/info__json_format.snap
  crates/pcb/tests/snapshots/info__multiple_boards.snap
  crates/pcb/tests/snapshots/info__no_workspace_config.snap
  crates/pcb/tests/snapshots/info__single_board.snap
  crates/pcb/tests/snapshots/info__with_path.snap
  crates/pcb/tests/snapshots/info__zen_discovery.snap
  crates/pcb/tests/snapshots/info__zen_discovery_json.snap
  crates/pcb/tests/snapshots/simple__workspace_relative_paths_local_alias.snap
  crates/pcb/tests/tag.rs
  crates/pcb/tests/test_bench.rs
Due: cargo-fmt, clippy

Bump stdlib version to 0.5.6
  CHANGELOG.md
  crates/pcb-zen-core/src/lib.rs
Due: cargo-fmt, clippy

Update snapshots
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
  crates/pcb-zen/tests/snapshots/module_loading__module_with_github_package.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
Due: none

Bump stdlib version to 0.5.6 (#503)
  CHANGELOG.md
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step1.log.snap
  crates/pcb-layout/tests/snapshots/fpid_change__fpid_change_step2.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__complex.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__component_side_sync.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__dnp.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__graphics.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__module_layout.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__not_connected.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__simple.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__tracks.log.snap
  crates/pcb-layout/tests/snapshots/layout_generation__zones.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step1.log.snap
  crates/pcb-layout/tests/snapshots/moved__moved_step2.log.snap
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen/tests/snapshots/module_loading__module_with_github_package.snap
  crates/pcb/tests/snapshots/release__publish_full.snap
  crates/pcb/tests/snapshots/release__publish_source_only.snap
  crates/pcb/tests/snapshots/release__publish_with_description.snap
  crates/pcb/tests/snapshots/release__publish_with_version.snap
Due: cargo-fmt, clippy

Clean up changelog
  CHANGELOG.md
Due: none

Migrate pcb-zen tests to v2
  crates/pcb-zen/tests/common/mod.rs
  crates/pcb-zen/tests/module_loading.rs
  crates/pcb-zen/tests/test_physical.rs
  crates/pcb-zen/tests/test_physical_constructor_casting.rs
  crates/pcb-zen/tests/test_physical_negative_tolerance.rs
  crates/pcb-zen/tests/test_physical_range_shim.rs
Due: cargo-fmt, clippy

ipc2581: parse FunctionMode level as numeric (spec-compliant)
  CHANGELOG.md
  crates/ipc2581/src/lib.rs
  crates/ipc2581/src/parse.rs
  crates/ipc2581/src/types/content.rs
Due: cargo-fmt, clippy

ipc2581: parse FunctionMode level as numeric (spec-compliant) (#506)
  CHANGELOG.md
  crates/ipc2581/src/lib.rs
  crates/ipc2581/src/parse.rs
  crates/ipc2581/src/types/content.rs
Due: cargo-fmt, clippy

Use natural sorting for auto-assigning reference designators
  CHANGELOG.md
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/tests/refdes.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Remove redundant refdes assignment code
  crates/pcb-sch/src/kicad_netlist.rs
Due: cargo-fmt, clippy

Use natural sorting for auto-assigning reference designators (#507)
  CHANGELOG.md
  crates/pcb-sch/src/kicad_netlist.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/tests/refdes.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Prevent fragment group placement from moving existing footprints
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_regressions.py
Due: ty

Migrate pcb-zen tests to v2 (#505)
  crates/pcb-zen/tests/common/mod.rs
  crates/pcb-zen/tests/module_loading.rs
  crates/pcb-zen/tests/test_physical.rs
  crates/pcb-zen/tests/test_physical_constructor_casting.rs
  crates/pcb-zen/tests/test_physical_negative_tolerance.rs
  crates/pcb-zen/tests/test_physical_range_shim.rs
Due: cargo-fmt, clippy

Prevent fragment group placement from moving existing footprints (#504)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_regressions.py
Due: ty

Fix tests
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-core/tests/refdes.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb/src/migrate/codemods/manifest_v2.rs
  crates/pcb/src/resolve.rs
  crates/pcb/tests/path.rs
  docs/pages/packages.mdx
  docs/pages/spec.mdx
  examples/.gitignore
  examples/HighSideCurrentSense/HighSideCurrentSense.zen
  examples/INA240A/INA240A.zen
  examples/L6387E/L6387E.zen
  examples/LEDCircuit/LEDCircuit.zen
  examples/PhaseDriver/PhaseDriver.zen
  examples/RCFilter/RCFilter.zen
  examples/VoltageDivider/VoltageDivider.zen
  examples/board_config.zen
  examples/pcb.toml
  examples/units.zen
Due: cargo-fmt, clippy

More cleanup
  crates/pcb-docgen/src/signature.rs
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen-core/src/load_spec.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/fork.rs
  crates/pcb-zen/src/lsp/mod.rs
  crates/pcb-zen/src/resolve_v2.rs
  crates/pcb-zen/tests/common/mod.rs
  crates/pcb-zen/tests/spice_model.rs
  crates/pcb/src/bom.rs
  crates/pcb/src/build.rs
  crates/pcb/src/file_walker.rs
  crates/pcb/src/fork.rs
  crates/pcb/src/info.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/open.rs
  crates/pcb/src/publish.rs
  crates/pcb/src/sim.rs
  crates/pcb/src/test.rs
  crates/pcb/src/vendor.rs
  crates/pcb/tests/auto_deps.rs
  crates/pcb/tests/bom.rs
  crates/pcb/tests/build.rs
  crates/pcb/tests/info.rs
  crates/pcb/tests/simple.rs
  crates/pcb/tests/snapshots/build__inline_manifest.snap
  crates/pcb/tests/snapshots/build__inline_manifest_unnamed_net_warning.snap
  crates/pcb/tests/snapshots/info__empty_workspace.snap
  crates/pcb/tests/snapshots/info__multiple_zen_files.snap
  crates/pcb/tests/snapshots/info__single_board.snap
  crates/pcb/tests/snapshots/info__with_path.snap
  crates/pcb/tests/snapshots/info__zen_discovery.snap
  crates/pcb/tests/snapshots/info__zen_discovery_json.snap
  crates/pcb/tests/test_bench.rs
Due: cargo-fmt, clippy

Address PR comments
  crates/pcb-test-utils/src/sandbox.rs
  crates/pcb-zen-core/src/lib.rs
  crates/pcb-zen/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb-zen/src/workspace.rs
Due: cargo-fmt, clippy

Release v0.3.35
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Fix SaveBoard crash by detaching members before group deletion
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Fix SaveBoard crash by detaching members before group deletion (#510)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

Release v0.3.36
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Support manual assignment of reference designators
  CHANGELOG.md
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/tests/designator.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Support manual assignment of reference designators (#509)
  CHANGELOG.md
  crates/pcb-sch/src/lib.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/tests/designator.rs
  docs/pages/spec.mdx
Due: cargo-fmt, clippy

Add stackup import + codegen
  crates/pcb-zen-core/src/lang/stackup.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/codegen/mod.rs
  crates/pcb/src/codegen/starlark.rs
  crates/pcb/src/codegen/zen.rs
  crates/pcb/src/import.rs
  crates/pcb/src/main.rs
  crates/pcb/src/new.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Add kicad import spec
  docs/specs/kicad-import.md
Due: none

Add `pcb import`
  crates/pcb-kicad/src/drc.rs
  crates/pcb-kicad/src/erc.rs
  crates/pcb-kicad/src/lib.rs
  crates/pcb/src/import.rs
  crates/pcb/src/main.rs
  crates/pcb/src/new.rs
  crates/pcb/tests/snapshots/simple__help.snap
Due: cargo-fmt, clippy

Extract "placed" symbols, generate modules
  crates/pcb-eda/src/kicad/symbol_library.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/generate.rs
  crates/pcb/src/import/types.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Add sync hooks to layout
  Cargo.lock
  crates/pcb-layout/src/lib.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Extract schematic + symbol sexprs
  crates/pcb-sexpr/src/board.rs
  crates/pcb-sexpr/src/kicad/mod.rs
  crates/pcb-sexpr/src/kicad/netlist.rs
  crates/pcb-sexpr/src/kicad/props.rs
  crates/pcb-sexpr/src/kicad/schematic.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb/src/import.rs
Due: cargo-fmt, clippy

Extract schematic tree structure
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/report.rs
  crates/pcb/src/import/types.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Plumb modules in generated board .zen
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Generate full module hierarchy
  crates/pcb/src/import/generate.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Derive hierarchy plan
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/hierarchy.rs
  crates/pcb/src/import/mod.rs
  crates/pcb/src/import/report.rs
  crates/pcb/src/import/types.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Address PR comments
  crates/pcb-sexpr/src/board.rs
  crates/pcb-zen-core/src/convert.rs
  crates/pcb/src/import/extract.rs
  crates/pcb/src/import/generate.rs
Due: cargo-fmt, clippy

Rebase
  Cargo.lock
Due: none

Generate component .zen files
  Cargo.lock
  Cargo.toml
  crates/pcb-component-gen/Cargo.toml
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/component.rs
  crates/pcb/Cargo.toml
  crates/pcb/src/import.rs
Due: cargo-fmt, clippy

Sync, dnp, skip_bom, skip_pos info
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-component-gen/templates/component.zen.jinja
  crates/pcb-diode-api/src/component.rs
  crates/pcb/src/codegen/board.rs
  crates/pcb/src/codegen/starlark.rs
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Add netlist extraction
  Cargo.lock
  crates/pcb/Cargo.toml
  crates/pcb/src/import.rs
  docs/specs/kicad-import.md
Due: cargo-fmt, clippy

Path conditions:
  ty: any of: \.py$
  cargo-fmt: any of: \.rs$
  clippy: any of: \.rs$
