Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

address comment
  crates/pcb-diode-api/src/aws_auth.rs
Due: cargo-fmt, clippy

send diode audience as part of signature
  crates/pcb-diode-api/src/aws_auth.rs
Due: cargo-fmt, clippy

pcb auth status support for AWS auth
  crates/pcb-diode-api/src/auth.rs
Due: cargo-fmt, clippy

changelog
  CHANGELOG.md
Due: none

feat: support AWS auth (#770)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-diode-api/Cargo.toml
  crates/pcb-diode-api/src/auth.rs
  crates/pcb-diode-api/src/aws_auth.rs
  crates/pcb-diode-api/src/lib.rs
Due: cargo-fmt, clippy

Release v0.3.75
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Add SOD-882 TVS BOM coverage
  CHANGELOG.md
  stdlib/bom/helpers.zen
  stdlib/bom/match_generics.zen
  stdlib/generics/Tvs.zen
  stdlib/generics/test/test_Tvs.zen
Due: none

Add SOD-882 TVS BOM coverage (#769)
  CHANGELOG.md
  stdlib/bom/helpers.zen
  stdlib/bom/match_generics.zen
  stdlib/generics/Tvs.zen
  stdlib/generics/test/test_Tvs.zen
Due: none

Refresh local search indexes before CLI search
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/download_support.rs
  crates/pcb-diode-api/src/kicad_symbols/download.rs
  crates/pcb-diode-api/src/registry/download.rs
  crates/pcb-diode-api/src/registry/mod.rs
Due: cargo-fmt, clippy

Refresh local search indexes before CLI search (#772)
  CHANGELOG.md
  crates/pcb-diode-api/src/component.rs
  crates/pcb-diode-api/src/download_support.rs
  crates/pcb-diode-api/src/kicad_symbols/download.rs
  crates/pcb-diode-api/src/registry/download.rs
  crates/pcb-diode-api/src/registry/mod.rs
Due: cargo-fmt, clippy

Sync skills from diode 5af69ba
  skills/idiomatic-zener/SKILL.md
  skills/zener-language/SKILL.md
Due: none

fix: support PATH `kicad-cli` resolution
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
Due: cargo-fmt, clippy

fix `pcb layout` crash with tuning patterns in groups
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
Due: ty

fix: support PATH `kicad-cli` resolution (#773)
  CHANGELOG.md
  crates/pcb-kicad/src/lib.rs
Due: cargo-fmt, clippy

handle PCB_GENERATOR during group deletion
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
Due: ty

fix `pcb layout` crash with tuning patterns in groups (#775)
  CHANGELOG.md
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/lens.py
Due: ty

Revise agent guidance
  AGENTS.md
Due: none

Round capacitor auto voltage ratings
  CHANGELOG.md
  stdlib/generics/Capacitor.zen
  stdlib/generics/test/test_Capacitor.zen
  stdlib/utils.zen
Due: none

Warn on underspecified capacitor voltage
  CHANGELOG.md
  stdlib/generics/Capacitor.zen
  stdlib/generics/test/test_Capacitor.zen
Due: none

Round up auto-assigned cap voltage ratings (#774)
  AGENTS.md
  CHANGELOG.md
  stdlib/generics/Capacitor.zen
  stdlib/generics/test/test_Capacitor.zen
  stdlib/utils.zen
Due: none

Release v0.3.76
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Reduce capacitor voltage rating warning noise
  CHANGELOG.md
  stdlib/generics/Capacitor.zen
  stdlib/generics/test/test_Capacitor.zen
Due: none

Improve dependency resolution error wording
  crates/pcb/src/mod/resolve.rs
Due: cargo-fmt, clippy

Replace lazy package roots cache
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb/src/resolve.rs
Due: cargo-fmt, clippy

Clean up v2 resolution layers
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb/src/mod/mod.rs
  crates/pcb/src/mod/resolve.rs
  crates/pcb/src/resolve.rs
Due: cargo-fmt, clippy

Improve hydrated dependency resolution performance
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/src/mod/mod.rs
  crates/pcb/src/mod/resolve.rs
  crates/pcb/src/resolve.rs
Due: cargo-fmt, clippy

Improve hydrated dependency resolution performance (#778)
  CHANGELOG.md
  crates/pcb-zen-core/src/lang/component.rs
  crates/pcb-zen-core/src/lang/eval.rs
  crates/pcb-zen-core/src/resolution.rs
  crates/pcb-zen-core/tests/cross_package_load.rs
  crates/pcb-zen-wasm/src/lib.rs
  crates/pcb-zen/src/resolve.rs
  crates/pcb/src/mod/mod.rs
  crates/pcb/src/mod/resolve.rs
  crates/pcb/src/resolve.rs
Due: cargo-fmt, clippy

Reduce capacitor voltage rating warning noise (#779)
  CHANGELOG.md
  stdlib/generics/Capacitor.zen
  stdlib/generics/test/test_Capacitor.zen
Due: none

Move changelog entry to unreleased
  CHANGELOG.md
Due: none

Release v0.3.77
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: embed relative-path 3d models in `pcb layout`
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/model_embed_discovery.rs
Due: cargo-fmt, clippy

feat: embed relative-path 3d models in `pcb layout` (#780)
  CHANGELOG.md
  crates/pcb-layout/src/lib.rs
  crates/pcb-layout/src/model_embed_discovery.rs
Due: cargo-fmt, clippy

Use semantic layout sync checks
  CHANGELOG.md
  crates/pcb-layout/src/effective_netlist.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/templates/gitignore
Due: cargo-fmt, clippy

Avoid overreporting layout pad assignments
  crates/pcb-layout/src/effective_netlist.rs
Due: cargo-fmt, clippy

fix: supported nested nets in hlabel schematic position parsing
  crates/pcb-zen-core/src/convert.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/snapshots/netlist__netlist_interface_field_positions.snap
Due: cargo-fmt, clippy

Switch to semantic layout sync checks (#781)
  CHANGELOG.md
  crates/pcb-layout/src/effective_netlist.rs
  crates/pcb-layout/src/lib.rs
  crates/pcb/src/layout.rs
  crates/pcb/src/templates/gitignore
Due: cargo-fmt, clippy

fix: supported nested nets in hlabel schematic position parsing (#782)
  crates/pcb-zen-core/src/convert.rs
  crates/pcb/tests/netlist.rs
  crates/pcb/tests/snapshots/netlist__netlist_interface_field_positions.snap
Due: cargo-fmt, clippy

Sync skills from diode c7eea5b
  skills/component-search/SKILL.md
  skills/librarian/SKILL.md
  skills/reference-design/SKILL.md
  skills/registry-search/SKILL.md
  skills/zener-language/SKILL.md
Due: none

Release v0.3.78
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none
