Repository diodeinc/pcb: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, cargo-fmt, clippy

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ty
        name: ty (Python type checker)
        entry: uvx ty check
        language: system
        types: [python]
        pass_filenames: false
        priority: 0

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all --check
        language: system
        types: [rust]
        pass_filenames: false
        priority: 0

      - id: clippy
        name: clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        priority: 1

ENG-3599: Stage only non-ignored files and clean up killed publish checks (#1410)
  CHANGELOG.md
  crates/pcb-zen/src/resolve.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/release.rs
Due: cargo-fmt, clippy

refactor: share page traversal and use petgraph union-find (ENG-3614)
  CHANGELOG.md
  Cargo.lock
  crates/pcb-kicad-sch/Cargo.toml
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/connectivity/bus.rs
  crates/pcb-kicad-sch/src/connectivity/kicad.rs
Due: cargo-fmt, clippy

chore: shorten schematic performance changelog
  CHANGELOG.md
Due: none

perf: reduce schematic parsing and reconciliation CPU work (ENG-3614)
  CHANGELOG.md
  crates/pcb-kicad-sch/Cargo.toml
  crates/pcb-kicad-sch/src/analysis.rs
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/connectivity/kicad.rs
  crates/pcb-kicad-sch/src/kicad.rs
  crates/pcb-kicad-sch/src/lib.rs
  crates/pcb-kicad-sch/src/model.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcb-kicad-sch/tests/symbol_aliases.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-sexpr/src/slice.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

style: format structural recovery regression (ENG-3614)
  crates/pcb-kicad-sch/src/reconcile.rs
Due: cargo-fmt, clippy

perf: consolidate parsing and remove speculative reconciliation paths (ENG-3614)
  CHANGELOG.md
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcb-kicad-sch/tests/repair_planning.rs
  crates/pcb-kicad-sch/tests/symbol_aliases.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcb-sexpr/src/slice.rs
Due: cargo-fmt, clippy

perf: skip redundant read-only preflight and reuse owner paths (ENG-3614)
  CHANGELOG.md
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcb-sch/src/lib.rs
Due: cargo-fmt, clippy

perf: share component decoding and remove reconciliation cruft (ENG-3614)
  CHANGELOG.md
  crates/pcb-kicad-sch/src/analysis.rs
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/connectivity/zener.rs
  crates/pcb-kicad-sch/src/lib.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcb-kicad-sch/tests/repair_planning.rs
  crates/pcb-kicad-sch/tests/symbol_aliases.rs
  crates/pcb-sexpr/src/lib.rs
Due: cargo-fmt, clippy

Dedupe thin-feature strokes at their source; one sharing path for all evidence
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/drilled_board_edge_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/mod.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/plated_slot_enclosure.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
  crates/pcb-ir/src/geom/dfm.rs
Due: cargo-fmt, clippy

fix: retry interrupted schematic parser reads (ENG-3614)
  crates/pcb-sexpr/src/lib.rs
Due: cargo-fmt, clippy

perf: reduce schematic reconciliation load work (ENG-3614) (#1408)
  CHANGELOG.md
  Cargo.lock
  crates/pcb-kicad-sch/Cargo.toml
  crates/pcb-kicad-sch/src/analysis.rs
  crates/pcb-kicad-sch/src/component_slots.rs
  crates/pcb-kicad-sch/src/compose.rs
  crates/pcb-kicad-sch/src/connectivity/bus.rs
  crates/pcb-kicad-sch/src/connectivity/kicad.rs
  crates/pcb-kicad-sch/src/connectivity/zener.rs
  crates/pcb-kicad-sch/src/kicad.rs
  crates/pcb-kicad-sch/src/model.rs
  crates/pcb-kicad-sch/src/reconcile.rs
  crates/pcb-kicad-sch/tests/repair_planning.rs
  crates/pcb-kicad-sch/tests/symbol_aliases.rs
  crates/pcb-sch/src/lib.rs
  crates/pcb-sexpr/src/lib.rs
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

Shrink DFM reports without a schema change (#1409)
  crates/pcb-ipc2581-tools/src/commands/dfm.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/copper_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/drilled_board_edge_clearance.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/mod.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/checks/plated_slot_enclosure.rs
  crates/pcb-ipc2581-tools/src/commands/dfm/report.rs
  crates/pcb-ir/src/geom/dfm.rs
Due: cargo-fmt, clippy

fix(layout): preserve board fields when replacing footprints
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
Due: ty

fix(layout): preserve board fields when replacing footprints (#1413)
  crates/pcb-layout/src/scripts/lens/kicad_adapter.py
  crates/pcb-layout/src/scripts/lens/tests/test_adapter.py
Due: ty

Update i_overlay to 8.1.2 so DFM checks finish on large copper pours
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

Update i_overlay to 8.1.2 so DFM checks finish on large copper pours (#1414)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

chore: update Rust, Python and git dependencies
  Cargo.lock
  Cargo.toml
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-ipc2581-tools/src/commands/html_export.rs
  crates/pcb-launcher/Cargo.toml
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
  uv.lock
Due: ty, cargo-fmt, clippy

chore: update i_overlay to 9.0 and i_triangle to 0.49
  Cargo.lock
  Cargo.toml
  crates/pcb-ir/src/geom/region/offsets.rs
  crates/pcb-ir/src/geom/region/simplification.rs
Due: cargo-fmt, clippy

fix(import): write KiCad project to eda/ (ENG-3690)
  CHANGELOG.md
  crates/pcbc/src/codegen/board.rs
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/report.rs
  crates/pcbc/src/import/semantic.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/src/new.rs
  crates/pcbc/src/templates/board_zen.jinja
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

chore: update outdated dependencies, including major versions (#1417)
  Cargo.lock
  Cargo.toml
  crates/pcb-component-gen/src/lib.rs
  crates/pcb-ipc2581-tools/src/commands/html_export.rs
  crates/pcb-ir/src/geom/region/offsets.rs
  crates/pcb-ir/src/geom/region/simplification.rs
  crates/pcb-launcher/Cargo.toml
  crates/pcb-layout/src/scripts/update_layout_file.py
  pyproject.toml
  uv.lock
Due: ty, cargo-fmt, clippy

docs: shorten import changelog entry
  CHANGELOG.md
Due: none

fix(import): reject legacy layout/ even when eda/ exists
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/flow.rs
Due: cargo-fmt, clippy

Generate published manufacturing files from IPC (ENG-3693)
  crates/pcbc/src/release.rs
  crates/pcbc/tests/release.rs
  crates/pcbc/tests/snapshots/release__publish_full.snap
Due: cargo-fmt, clippy

Remove obsolete CPL exclusion from WASM publish check (ENG-3693)
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
Due: none

fix(import): write KiCad project to eda/ (ENG-3690) (#1419)
  CHANGELOG.md
  crates/pcbc/src/codegen/board.rs
  crates/pcbc/src/import/README.md
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/flow.rs
  crates/pcbc/src/import/materialize.rs
  crates/pcbc/src/import/report.rs
  crates/pcbc/src/import/semantic.rs
  crates/pcbc/src/import/types.rs
  crates/pcbc/src/new.rs
  crates/pcbc/src/templates/board_zen.jinja
  crates/pcbc/tests/import.rs
Due: cargo-fmt, clippy

Generate published manufacturing files from IPC (#1421)
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/release.rs
  crates/pcbc/tests/snapshots/release__publish_full.snap
Due: cargo-fmt, clippy

ENG-3687: Remove design BOM JSON and KiCad BOM fallback from releases
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-sch/Cargo.toml
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
  crates/pcbc/src/bom.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/bom.rs
  crates/pcbc/tests/release.rs
  crates/pcbc/tests/snapshots/bom__bom_kicad_fallback_json.snap
  crates/pcbc/tests/snapshots/release__publish_full.snap
Due: cargo-fmt, clippy

ENG-3687: Remove design BOM JSON and KiCad BOM fallback from releases (#1416)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  crates/pcb-sch/Cargo.toml
  crates/pcb-sch/src/bom/core.rs
  crates/pcb-zen-wasm/scripts/eval-publish-bundle.mjs
  crates/pcbc/src/bom.rs
  crates/pcbc/src/release.rs
  crates/pcbc/tests/bom.rs
  crates/pcbc/tests/release.rs
  crates/pcbc/tests/snapshots/bom__bom_kicad_fallback_json.snap
  crates/pcbc/tests/snapshots/release__publish_full.snap
Due: cargo-fmt, clippy

perf(publish): build only packages being published [ENG-3692]
  CHANGELOG.md
  crates/pcb-zen/src/workspace.rs
  crates/pcbc/src/publish.rs
Due: cargo-fmt, clippy

refactor!: remove [patch] stdlib support [ENG-3692]
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen/src/package_resolver/resolve.rs
  crates/pcb-zen/src/workspace.rs
Due: cargo-fmt, clippy

perf(publish): build only packages being published [ENG-3692] (#1420)
  CHANGELOG.md
  crates/pcb-zen-core/src/config.rs
  crates/pcb-zen-core/src/workspace.rs
  crates/pcb-zen/src/package_resolver/resolve.rs
  crates/pcb-zen/src/workspace.rs
  crates/pcbc/src/publish.rs
Due: cargo-fmt, clippy

fix(import): import boards with copied sheets, scalar-named bus ports, and dotted footprints [ENG-3689]
  CHANGELOG.md
  crates/pcb-kicad-sch/src/connectivity/bus.rs
  crates/pcb-kicad-sch/tests/bus_connectivity.rs
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/materialize.rs
Due: cargo-fmt, clippy

fix(import): import boards with copied sheets, scalar-named bus ports, and dotted footprints [ENG-3689] (#1418)
  CHANGELOG.md
  crates/pcb-kicad-sch/src/connectivity/bus.rs
  crates/pcb-kicad-sch/tests/bus_connectivity.rs
  crates/pcbc/src/import/extract.rs
  crates/pcbc/src/import/generate.rs
  crates/pcbc/src/import/materialize.rs
Due: cargo-fmt, clippy

chore: fill in unreleased changelog
  CHANGELOG.md
Due: none

chore: fill in unreleased changelog (#1422)
  CHANGELOG.md
Due: none

Release v0.4.74
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat(pcb-zen-core): read-only FrozenContextValue::module() accessor
  crates/pcb-zen-core/src/lang/context.rs
Due: cargo-fmt, clippy

feat(pcb-starlark-lsp): language hooks for completion, definition and hover
  crates/pcb-starlark-lsp/src/server.rs
Due: cargo-fmt, clippy

feat(pcb-zen): resolver-backed semantic call intelligence for Zener
  crates/pcb-zen/src/lsp/mod.rs
  crates/pcb-zen/src/lsp/parameter.rs
  crates/pcb-zen/src/lsp/semantic.rs
  crates/pcb-zen/src/lsp/semantic_tests.rs
Due: cargo-fmt, clippy

Sync skills from diode 15ed706
  skills/librarian/SKILL.md
  skills/registry-search/SKILL.md
Due: none
